@model Stage_Books.Models.Contact.Contactmsg

@{
    ViewData["Title"] = "Create";
}

<head >
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <title>S T A G E</title>
    <meta name="viewport" content="width=device-width, initial-scale=6">
    <meta name="descrption" content="Best website to Find any Books">
    <!-- Bootstrap CSS -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Cairo&display=swap" rel="stylesheet">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Cairo&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link href="css/style.css" rel="stylesheet">
</head>
<body oncontextmenu="return false;" style="font-family:Cairo,Roboto">

        <div class="row" style="margin:0 auto; text-align:center">
            <br />
            <br />
         
          
            <br />
        </div>

        <div class="container">
             <div class="row">
             <div class="col-md-1 col-1">

        </div>
        <div class="col-md-5 col-12">
            
               <h1>Send Message</h1>
                 <br />
            <hr />
            <h4>
                @Stage_Books.languages.Resource.You_Can_Contact_Us___Ask_About_Anything_And_We_Responce_on_Your_E_Mail_Address
            </h4>
            <br />
            <h5 style="color: blue;">@Stage_Books.languages.Resource.Or_Visit_us_On:</h5>
            <br> 
                <div class="row">
                    <img src="/img/facebook.png" alt="Facebook" title="Facebook" width="30" height="30"
                         style="margin-left: 25px;margin-top: 5px;"> <a class="nav-link" href="#" style="color:white;">
                        Home <span class="sr-only">(current)</span>
                    </a>
                </div>
                <div class="row">
                    <img src="/img/twitter.jpg" alt="Facebook" title="Facebook" width="30" height="30"
                         style="margin-left: 25px;margin-top: 5px;"> <a class="nav-link" href="#" style="color:white;">
                        Home <span class="sr-only">(current)</span>
                    </a>
                </div>
                <div class="row">
                    <img src="/img/youtube.jpg" alt="Facebook" title="Facebook" width="30" height="30"
                         style="margin-left: 25px;margin-top: 5px;"> <a class="nav-link" href="#" style="color:white;">
                        Home <span class="sr-only">(current)</span>
                    </a>
                </div>
        </div>

        <div class="col-md-5 col-12">

        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" placeholder="Enter Your Name" required/>
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="mail" class="control-label">E-Mail</label>
                <input asp-for="mail" class="form-control" placeholder="Enter Your E-Mail" required />
                <span asp-validation-for="mail" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="title" class="control-label">Title</label>
                <input asp-for="title" class="form-control" placeholder="Enter Title Message" required/>
                <span asp-validation-for="title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="body" class="control-label"></label>

               <textarea asp-for="body" class="form-control" rows="7" placeholder="Enter Message" required style="resize:none"></textarea>
                <span asp-validation-for="body" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Send" class="btn btn-primary btn-lg btn-block" />
             </div>
             </form>
            <div>
           <a asp-controller="Home" asp-action="Index">Back to Homet</a>
        </div>
    </div>
        </div>
     </div>
        <!--footer-->
    <!-- Footer  -->
    <div class="container-fluid" style="background-color: #333333;">
		<div class="row">
			<div class="col" style="text-align: center; padding: 7px;">
				<span style="color: white; font-size: 2rem;">S T A G E </span>
			</div>
		</div>
		<div class="row">
			<div class="col" style="text-align: center; padding: 10px; margin: 15px;">
			</div>
		</div>
		<div class="row">
			<div class="col-6" style="">
				<div class="row">
					<span style="color:#333333; font-size: 1.5rem; text-align: center;">Contact Us </span>
				</div>
				<div class="row">
					<img src="~/img/home.png" alt="Facebook" title="Facebook" width="30" height="30"
						 style="margin-left: 25px;margin-top: 5px;"> <a class="nav-link" href="#" style="color:white;">
						@Stage_Books.languages.Resource.Home<span class="sr-only">(current)</span>
					</a>
				</div>
				<div class="row">
					<img src="~/img/about-us.jpg" alt="Facebook" title="Facebook" width="30" height="30"
						 style="margin-left: 25px;margin-top: 5px;"> <a class="nav-link" href="#" style="color:white;">
						@Stage_Books.languages.Resource.About_Stage
						<span class="sr-only">(current)</span>
					</a>
				</div>
				<div class="row">
					<img src="~/img/services-icon-4.jpg" alt="Facebook" title="Facebook" width="30" height="30"
						 style="margin-left: 25px;margin-top: 5px;"> <a class="nav-link" href="#" style="color:white;">
						@Stage_Books.languages.Resource.Our_Services
						<span class="sr-only">(current)</span>
					</a>
				</div>
				<div class="row">
					<img src="~/img/community.png" alt="Facebook" title="Facebook" width="30" height="30"
						 style="margin-left: 25px;margin-top: 5px;"> <a class="nav-link" href="#" style="color:white;">
						@Stage_Books.languages.Resource.Our_Message
						<span class="sr-only">(current)</span>
					</a>
				</div>
				<div class="row">
					<img src="~/img/facebook.png" alt="Facebook" title="Facebook" width="30" height="30"
						 style="margin-left: 25px;margin-top: 5px;"> <a class="nav-link" href="#" style="color:white;">
						@Stage_Books.languages.Resource.Join_Us<span class="sr-only">(current)</span>
					</a>
				</div>
			</div>

			<div class="col-6" style="text-align: center;">
				<div class="row">
					<span style="color: white; font-size: 1.5rem; text-align: center;">Contact Us</span>
				</div>
				<div class="row">
					<a class="nav-link" href="#" style="color:white;">
						<img src="~/img/facebook.png" alt="Facebook" title="Facebook"
							 width="30" height="30"> <span class="sr-only">(current)</span><span style="color:white;margin-left:15px">Facebook</span>
					</a>
				</div>
				<div class="row">
					<a class="nav-link" href="#" style="color:white;">
						<img src="~/img/twitter.jpg" alt="twitter" title="twitter"
						 width="33" height="33"> <span class="sr-only">(current)</span><span style="color:white;margin-left:15px">Twitter</span>
					</a>
				</div>
				<div class="row">
					<a class="nav-link" href="#" style="color:white;">
						<img src="~/img/youtube.jpg" alt="youtube" title="youtube"
							 width="30" height="30"> <span class="sr-only">(current)</span><span style="color:white;margin-left:15px">Youtube</span>
					</a>
				</div>
				<div class="row">
					<a class="nav-link" href="https://mail.google.com/" style="color:white;" target="_blank">
						<img src="~/img/Gmail.ico" alt="Gmail" title="Gmail"
						width="30" height="30"> <span class="sr-only">(current)</span><span style="color:white;margin-left:15px">stage.books.2022@gmail.com</span>
					</a>
				</div>
			</div>
		</div>
		<div class="row" hidden>
			<div class="col " style="text-align: center; border-radius: 5px; ">
				<h5 style="color: white; margin-top: 15px">@Stage_Books.languages.Resource.Visitors</h5>
				<img src="~/img/Statistic.png" alt="visitors" width="40" height="30" />
				<p style="color: white; margin-top: 10px;">0</p>
			</div>
		</div>
		<div class="row">
			<div class="col" style="text-align: center; padding: 7px;">
				<span style="color: white;">&copy; Copyright Stage 2022</span>
			</div>
		</div>
	</div>
<
    <script src="js/js.js"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
            integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"></script>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
</body>