
@******************************************@
@model Stage_Books.Models.Contact.Contactmsg

@{
	Layout = "~/Views/Shared/_AdminLayout.cshtml";
	ViewData["Title"] = "Delete";
}

<div class="row">
	<div class="col-md-2"></div>
	<div class="col-md-10">
		<br />
		<br />
		<br />
		<br />
		<h2 style="text-align:center"> حذف رسالة عضو</h2>
		<br />
		<hr />
		<br />
		<div class="container">
			<table class="table">
				<tbody>
					<tr>

						<th scope="row">@Html.DisplayNameFor(model => model.Name)</th>
						<td>@Html.DisplayFor(model => model.Name)</td>
					</tr>
					<tr>
						<th scope="row">@Html.DisplayNameFor(model => model.mail)</th>
						<td>@Html.DisplayFor(model => model.mail)</td>
					</tr>
					<tr>
						<th scope="row">@Html.DisplayFor(model => model.title)</th>
						<td>@Html.DisplayNameFor(model => model.title)</td>
					</tr>
					<tr>
						<th scope="row">@Html.DisplayNameFor(model => model.body)</th>
						<td>@Html.DisplayFor(model => model.body)</td>
					</tr>


				</tbody>
			</table>
			<br />
			<hr />
			<br />
		</div>
		<div class="container">
			       <form asp-action="Delete">
						<input type="hidden" asp-for="Id" />
						<input type="submit" value="Delete" class="btn btn-danger" /> |
						<a asp-action="Index">Back to List</a>
					</form>
		</div>
		<br />
		<hr />
		<br />
	</div>
</div>