@model IEnumerable<Stage_Books.Models.Contact.Contactmsg>

@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    ViewData["Title"] = "Contact";
}
<div class="row">
    <div class="col-md-2"> </div>
    <div class="col-md-10">
        <br>
         <br>
          <br>
           <br>
    <div class="container" style="margin:0px auto; text-align:center">
        <h3 style="text-align:center">رسائل الاعضاء </h3>
    </div>

    <br><hr /><br>

   <div class="container">
       <div class="row">
       <div class="col-md-4"> </div>
       <div class="col-md-6">
	  <form method="get" asp-controller="Contactmsgs" asp-action="search">
		<input type="text" name="search" value="@ViewBag.CurrentSearch"/>
        <button type="submit" class="btn btn-secondary input-group-append">Search</button>
     </form>
</div>
     <div class="col-md-2"> </div>
   </div>

    <br><hr /><br>
<div class="container-fluid">
     <table class="table">
    <thead>
        <tr>
            <th>
                الاسم
            </th>
            <th>
                الايميل
            </th>
            <th>
                عنوان الرسالة
            </th>
            <th>
                المحتوى
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
       @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.mail)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.body)
            </td>
            <td>
                @*<a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-primary ">Edit</a>*@
                <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-success ">Details</a>
                <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger">Delete</a>
            </td>
         </tr>
             }
    </tbody>
</table>

</div>
    </div>
</div>

    


 