@inject SignInManager<ApplicationUser> signInManager;
@using Microsoft.AspNetCore.Builder
@using Microsoft.AspNetCore.Localization
@using Microsoft.Extensions.Options
@using Microsoft.AspNetCore.Http.Features
@using Microsoft.AspNetCore.Mvc.Localization
@using Stage_Books.Models.Account
@using System.Security.Claims

@inject IViewLocalizer localizer
@inject IOptions<RequestLocalizationOptions> locoption
@{
	var requestculture = Context.Features.Get<IRequestCultureFeature>();
	var culitems = locoption.Value.SupportedUICultures.Select(c => new SelectListItem
			{
				Value = c.Name,
				Text = c.NativeName
			}).ToList();
	var returnurl = string.IsNullOrEmpty(Context.Request.Path) ? "~/" : $"~{Context.Request.Path.Value}";
}
<!DOCTYPE html>
<html lang="en">
<head>
	<link rel="icon" href="~/img/stage_logo.png" type="" sizes="">
	<link rel="shortcut icon" href="~/img/stage_logo.png" type="" sizes="">
	<link rel="apple-touch-icon" href="~/img/stage_logo.png">
</head>
<body>
	<div class="container-fluid">
		<nav class="navbar navbar-expand-lg navbar-light bg-light">
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
					aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<img src="~/img/stage_logo.png" alt="language" width="30" height="30" style="margin-right: 10px;">
			<a class="navbar-brand" href="#">S T A G E</a>
			<div class="collapse navbar-collapse" id="navbarSupportedContent">
				<ul class="navbar-nav mr-auto">
					<li class="nav-item active">
						<a class="nav-link" asp-area="" asp-controller="Home" asp-action="Index">@Stage_Books.languages.Resource.Home <span class="sr-only">(current)</span></a>
					</li>
					<li class="nav-item active">
						<a class="nav-link" asp-area="" asp-controller="Contactmsgs" asp-action="Create">@Stage_Books.languages.Resource.Contact<span class="sr-only">(current)</span></a>
					</li>
					<li class="nav-item active">
						<a class="nav-link" asp-area="" asp-controller="publicpages" asp-action="policy">@Stage_Books.languages.Resource.Policy<span class="sr-only">(current)</span></a>
					</li>
					<li class="nav-item dropdown">
						<a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown"
						   aria-haspopup="true" aria-expanded="false">
							@Stage_Books.languages.Resource.About
						</a>
						<div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
							<a class="dropdown-item" asp-area="" asp-controller="publicpages" asp-action="about_stage">@Stage_Books.languages.Resource.About_Stage</a>

							<a class="dropdown-item" asp-area="" asp-controller="publicpages" asp-action="service">@Stage_Books.languages.Resource.Services</a>
							<a class="dropdown-item" asp-area="" asp-controller="Help" asp-action="Help">@Stage_Books.languages.Resource.Help</a>
							<div class="dropdown-menu" aria-labelledby="navbarDropdown">

								<div class="dropdown-divider"></div>
								<a class="dropdown-item" href="#"></a>
							</div>
						</div>
					</li>
										<li class="nav-item dropdown">
						<a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown"
						   aria-haspopup="true" aria-expanded="false">
							Other
						</a>
						<div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
							<a class="nav-link" asp-area="" asp-controller="Encs" asp-action="index">@Stage_Books.languages.Resource.Encyclopedia</a>
							
							<a class="nav-link" asp-area="" asp-controller="Scriptpapers" asp-action="Index">Manuscripts</a>
							<a class="nav-link" asp-area="" asp-controller="paperssearchers" asp-action="Index">Researcher Papers</a>
							<div class="dropdown-menu" aria-labelledby="navbarDropdown">

								<div class="dropdown-divider"></div>
								<a class="dropdown-item" href="#"></a>
							</div>
						</div>
					</li>
					<li class="nav-item dropdown">
						<a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown"
						   aria-haspopup="true" aria-expanded="false">
							<img src="~/img/lang.png" alt="language" width="25" height="25"> Lannguage
						</a>
						<div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink" title="@localizer["Request culture provider:"] @requestculture?.Provider?.GetType().Name">

                            <form id="selectlanguage" asp-controller="Home" asp-action="setlang" asp-route-returnurl="@returnurl" method="post">
                                                       
                              <select class="form-control form-control-sm" name="culture"
                                      onchange="this.form.submit();" asp-for="@requestculture.RequestCulture.UICulture.Name"
                                       asp-items="culitems">
                           
                              @*       <option> English</option>
                                     <option> العربية</option>
                                     <option> German</option>
                                     <option> French</option>
                                     <option> Spanish</option>
                                     <option> hindi</option>*@
                               </select>
                                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" href="#"></a>
                            </div>
                            </form>
                            </div>
					</li>

				</ul>

			</div>

			@if (signInManager.IsSignedIn(User) && User.IsInRole("Admin"))
			{
				<a asp-action="Index" asp-controller="Home" asp-area="Admin" class="btn btn-danger nav-link">DASHBOARD</a>
			}

			@if (signInManager.IsSignedIn(User))
			{
				<form method="post" asp-action="Logout" asp-controller="Account" class="form-inline">
					<button type="submit" class="btn btn-outline-primary my-2 my-sm-0 mr-3">Logout</button>
				</form>
				<h5>@User.Identity.Name</h5>
			}
			else
			{
				<a class="btn btn-outline-primary my-2 my-sm-0" asp-action="Register" asp-controller="Account">	@Stage_Books.languages.Resource.New_Account	</a>
				<a class="btn btn-outline-primary my-2 my-sm-0" asp-action="Login" asp-controller="Account">@Stage_Books.languages.Resource.Login</a>
			}

			@{
				string id = User.FindFirst(ClaimTypes.NameIdentifier)?.Value;
				if (id != null)
				{
					<a asp-action="SaveBook" asp-controller="Home" asp-route-id="@id">
						<img src="../img/unkown.png" alt="User" width="25" height="25" style="border:1px solid white;border-radius:50%">
					</a>
				}
			}




		</nav>
	</div>
	<main role="main" class="">
		@RenderBody()
	</main>
@*	<div class="container-fluid" style="background-color: #333333;">
		<div class="row">
			<div class="col" style="text-align: center; padding 7px;">
				<span style="color: white; font-size: 2rem;">S T A G E </span>
			</div>
		</div>
		<div class="row">
			<div class="col" style="text-align: center; padding: 10px; margin: 15px;">
			</div>
		</div>
		<div class="row">
			<div class="col-6" style="">
				<div class="row">
					<span style="color:#333333; font-size: 1.5rem; text-align: center;">Contact Us </span>
				</div>
				<div class="row">
					<img src="~/img/home.png" alt="Facebook" title="Facebook" width="30" height="30"
						 style="margin-left: 25px;margin-top: 5px;"> <a class="nav-link" href="#" style="color:white;">
						Home <span class="sr-only">(current)</span>
					</a>
				</div>
				<div class="row">
					<img src="~/img/about-us.jpg" alt="Facebook" title="Facebook" width="30" height="30"
						 style="margin-left: 25px;margin-top: 5px;"> <a class="nav-link" href="#" style="color:white;">
						About Stage
						<span class="sr-only">(current)</span>
					</a>
				</div>
				<div class="row">
					<img src="~/img/services-icon-4.jpg" alt="Facebook" title="Facebook" width="30" height="30"
						 style="margin-left: 25px;margin-top: 5px;"> <a class="nav-link" href="#" style="color:white;">
						Ouer Services
						<span class="sr-only">(current)</span>
					</a>
				</div>
				<div class="row">
					<img src="~/img/community.png" alt="Facebook" title="Facebook" width="30" height="30"
						 style="margin-left: 25px;margin-top: 5px;"> <a class="nav-link" href="#" style="color:white;">
						ouer message
						<span class="sr-only">(current)</span>
					</a>
				</div>
				<div class="row">
					<img src="~/img/facebook.png" alt="Facebook" title="Facebook" width="30" height="30"
						 style="margin-left: 25px;margin-top: 5px;"> <a class="nav-link" href="#" style="color:white;">
						Join us <span class="sr-only">(current)</span>
					</a>
				</div>
			</div>

			<div class="col-6" style="text-align: center;">
				<div class="row">
					<span style="color: white; font-size: 1.5rem; text-align: center;">Contact Us </span>
				</div>
				<div class="row">
					<a class="nav-link" href="#" style="color:white;">
						<img src="~/img/facebook.png" alt="Facebook" title="Facebook"
							 width="30" height="30"> <span class="sr-only">(current)</span><span style="color:white;margin-left:15px">Visit Stege on Facebook</span>
					</a>
				</div>
				<div class="row">
					<a class="nav-link" href="#" style="color:white;">
						<img src="~/img/twitter.jpg" alt="twitter" title="twitter"
							 width="33" height="33"> <span class="sr-only">(current)</span><span style="color:white;margin-left:15px">Visit Stege on Twitter</span>
					</a>
				</div>
				<div class="row">
					<a class="nav-link" href="#" style="color:white;">
						<img src="~/img/youtube.jpg" alt="youtube" title="youtube"
							 width="30" height="30"> <span class="sr-only">(current)</span><span style="color:white;margin-left:15px">Youtube</span>
					</a>
				</div>
				<div class="row">
					<a class="nav-link" href="#" style="color:white;">
						<img src="~/img/Gmail.ico" alt="Gmail" title="Gmail"
							 width="30" height="30"> <span class="sr-only">(current)</span><span style="color:white;margin-left:15px">Gmail</span>
					</a>
				</div>
			</div>
		</div>
		<div class="row" hidden>
			<div class="col " style="text-align: center; border-radius: 5px; ">
				<h5 style="color: white; margin-top: 15px">Visitors</h5>
				<img src="~/img/Statistic.png" alt="visitors" width="40" height="30" />
				<p style="color: white; margin-top: 10px;">0</p>
			</div>
		</div>
		<div class="row">
			<div class="col" style="text-align: center; padding: 7px;">
				<span style="color: white;">&copy; copy Right Stage 20222</span>
			</div>
		</div>
	</div>*@
	@*<script src="~/lib/jquery/dist/jquery.min.js"></script>
		<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
		<script src="~/js/site.js" asp-append-version="true"></script>*@
	@await RenderSectionAsync("Scripts", required: false)
</body>
</html>
