@model IEnumerable<Stage_Books.Models.Account.RegisterViewModel>

@{
    ViewData["Title"] = "index_show";
}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="~/Admin/cssD/bootstrap.min.css" />
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" />
  <link rel="stylesheet" href="~/Admin/cssD/dataTables.bootstrap5.min.css" />
  <link rel="stylesheet" href="~/Admin/cssD/style.css" />
  <title>Stage Dashboard</title>
  <link rel="icon" href="~/img/stage_logo.png" type="" sizes="">
  <link rel="shortcut icon" href="~/img/stage_logo.png" type="" sizes="">
  <link rel="apple-touch-icon" href="~/img/stage_logo.png">
</head>
<body oncontextmenu="return false;">
    <br />
<h1 style="text-align:center">Users</h1>
<br />
<hr />
<br />

   <div class="container row">
       <div class="col-5">
         <form method="get" asp-controller="account" asp-action="search">
		   <label>Search By Name</label>
		   <input type="text" name="search" value="@ViewBag.CurrentSearch"/>
           <button type="submit" class="btn btn-secondary input-group-append">Search</button>
        </form>
       </div>
       <div class="col-5">
           	  <form method="get" asp-controller="account" asp-action="searche">
		<label>Search By E-mail</label>
		<input type="text" name="searche" value="@ViewBag.CurrentSearch"/>
        <button type="submit" class="btn btn-secondary input-group-append">Search</button>
     </form>
       </div>
   </div>
   <hr /><br>
<div class="container">
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Password)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.phone)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.gender)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.country)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.city)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nlanguage)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.work)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.birth)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Password)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.phone)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.gender)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.country)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.city)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nlanguage)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.work)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.birth)
            </td>
            <td>
                
                <a class="btn btn-success" asp-action="Details" asp-route-id="@item.id">Details</a> |
                <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
</div>
  <div class="offcanvas offcanvas-start sidebar-nav bg-dark" tabindex="-1" id="sidebar">
    <div class="offcanvas-body p-0">
      <nav class="navbar-dark">
        <ul class="navbar-nav">
          <li>
            <div class="text-muted small fw-bold text-uppercase px-3">
              CORE
            </div>
          </li>
          <li>
            <a href="#" class="nav-link px-3 active"
              <span class="me-2"><i class="bi bi-speedometer2"></i></span>
              <span>Dashboard</span>
            </a>
          </li>
          <li class="my-4">
            <hr class="dropdown-divider bg-light" />
          </li>
          <li>
            <div class="text-muted small fw-bold text-uppercase px-3 mb-3">
              Books
            </div>
          </li>
          <li>
            <a class="nav-link px-3 sidebar-link" data-bs-toggle="collapse" href="#layouts">
              <span class="me-2"><i class="bi bi-layout-split"></i></span>
              <span>Manage Books</span>
              <span class="ms-auto">
                <span class="right-icon">
                  <i class="bi bi-chevron-down"></i>
                </span>
              </span>
            </a>
            <div class="collapse" id="layouts">
              <ul class="navbar-nav ps-3">
                <li>
                  <a href="~/Admin/Edit/Edit" class="nav-link px-3">
                    <span class="me-2"><i class="bi bi-pencil-square"></i></span>
                    <span>Edit Books</span>
                  </a>
                </li>
              </ul>
            </div>
          </li>
          <li>
            <a  href="../Books/index_show" class="nav-link px-3">
              <span class="me-2"><i class="bi bi-book-fill"></i></span>
              <span>Show Books</span>
            </a>
          </li>
           <li class="my-4">
            <hr class="dropdown-divider bg-light" />
          </li>
         <li>
            <a  href="../Books/Create" class="nav-link px-3">
              <span class="me-2"><i class="bi bi-journal-plus"></i></span>
              <span>Add Book</span>
            </a>
          </li>
          <li>
            <a  href="../Authors/Create" class="nav-link px-3">
              <span class="me-2"><i class="bi bi-person-plus"></i></span>
              <span>Add Auther</span>
            </a>
          </li>
          <li class="my-4">
            <hr class="dropdown-divider bg-light" />
          </li>
          <li>
            <div class="text-muted small fw-bold text-uppercase px-3 mb-3">
              Users
            </div>
          </li>
          <li>
            <a href="~/Admin/Users/Users" class="nav-link px-3">
              <span class="me-2"><i class="bi bi-person-fill"></i></span>
              <span>Manage Users</span>
            </a>
          </li>
           <li>
            <a href="../account/index_show" class="nav-link px-3">
              <span class="me-2"><i class="bi bi-plus-circle"></i></span>
              <span>Show Users </span>
            </a>
          </li>
           <li class="my-4">
            <hr class="dropdown-divider bg-light" />
          </li>
          <li>
            <div class="text-muted small fw-bold text-uppercase px-3 mb-3">
              Other
            </div>
          </li>
          <li>
             @* href="../Views/Contactmsgs/Delete" *@
            <a href="../Contactmsgs/index" class="nav-link px-3">
              <span class="me-2"><i class="bi bi-envelope"></i></span>
              <span>Users Messages</span>
            </a>
          </li>
          <li>
            <a class="nav-link px-3">
              <span class="me-2"><i class="bi bi-bug"></i></span>
              <span>Errors Messages</span>
            </a>
          </li>
          <li>
          </li>
          <li>
            <a href="../Encs/Index2" class="nav-link px-3">
              <span class="me-2"><i class="bi bi-credit-card-2-front"></i></span>
              <span>Show Encyclopedia</span>
            </a>
          </li>
          <li>
            <a href="../Encs/Create" class="nav-link px-3">
              <span class="me-2"><i class="bi bi-plus-square"></i></span>
              <span>Add Encyclopedia</span>
            </a>
          </li>
          
           <li class="my-4">
            <hr class="dropdown-divider bg-light" />
           </li>
          <li>
            <div class="text-muted small fw-bold text-uppercase px-3 mb-3">
              Other
            </div>
          </li>
          <li>
            <a href="~/Admin/index_ocr/index_ocr" class="nav-link px-3">
              <span class="me-2"><i class="bi bi-journal-text"></i></span>
              <span>OCR</span>
            </a>
          </li>
          <li>
            <a href="~/Admin/bu/bu" class="nav-link px-3">
              <span class="me-2"><i class="bi bi-hdd"></i></span>
              <span>Back UP</span>
            </a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
	<script src="~/Admin/jsD/bootstrap.bundle.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/chart.js@3.0.2/dist/chart.min.js"></script>
	<script src="~/Admin/jsD/jquery-3.5.1.js"></script>
	<script src="~/Admin/jsD/jquery.dataTables.min.js"></script>
	<script src="~/Admin/jsD/dataTables.bootstrap5.min.js"></script>
	<script src="~/Admin/jsD/script.js"></script>
	<script src="~/Admin/js/js.js"></script>
	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
			integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
			crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js"
			integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
			crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js"
			integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
			crossorigin="anonymous"></script>
</body>

</html>