@model Stage_Books.Models.Book
@inject SignInManager<ApplicationUser> signInManager;
@using Microsoft.AspNetCore.Builder
@using Microsoft.AspNetCore.Localization
@using Microsoft.Extensions.Options
@using Microsoft.AspNetCore.Http.Features
@using Microsoft.AspNetCore.Mvc.Localization
@using Stage_Books.Models.Account
@using System.Security.Claims

@inject IViewLocalizer localizer
@inject IOptions<RequestLocalizationOptions> locoption
@{
	var requestculture = Context.Features.Get<IRequestCultureFeature>();
	var culitems = locoption.Value.SupportedUICultures.Select(c => new SelectListItem
			{
				Value = c.Name,
				Text = c.NativeName
			}).ToList();
	var returnurl = string.IsNullOrEmpty(Context.Request.Path) ? "~/" : $"~{Context.Request.Path.Value}";
}
@{
    ViewData["Title"] = "Book_Show";
}



<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <title>S T A G E</title>
    <meta name="viewport" content="width=device-width, initial-scale=6">
    <meta name="descrption" content="Best website to Find any Books">
    <!-- Bootstrap CSS -->
    <link rel="icon" href="~/~/img/stage_logo.png" type="" sizes="">
    <link rel="shortcut icon" href="~/~/img/stage_logo.png" type="" sizes="">
    <link rel="apple-touch-icon" href="~/~/img/stage_logo.png">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.2/font/bootstrap-icons.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link href="~/css/style.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>
     <link rel="preconnect" href="https://fonts.googleapis.com">
     <link rel="stylesheet" href="~/css/styletrans.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Cairo&family=Reem+Kufi:wght@700&display=swap" rel="stylesheet">
   <link href="~/css/style.css" rel="stylesheet">
	<link href="~/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
</head>
<body >
    <!-- container oncontextmenu="return false"; -->
    <div class="container-fluid" style="background-color:#333333">
		<nav class="navbar navbar-expand-lg navbar-light " style="background-color:#333333;color:#ff7236;">
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
					aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<img src="~/img/stage_logo1.png" alt="language" width="30" height="30" style="margin-right: 10px;">
			<a class="navbar-brand" href="#" style="color:#ff7236;">S T A G E</a>
			<div class="collapse navbar-collapse" id="navbarSupportedContent">
				<ul class="navbar-nav mr-auto">
					<li class="nav-item active">
						<a class="nav-link" style="color:white;" asp-area="" asp-controller="Home" asp-action="Index">@Stage_Books.languages.Resource.Home <span class="sr-only">(current)</span></a>
					</li>
					<li class="nav-item active">
						<a class="nav-link" style="color:white;" asp-area="" asp-controller="Contactmsgs" asp-action="Create">@Stage_Books.languages.Resource.Contact<span class="sr-only">(current)</span></a>
					</li>
					<li class="nav-item active">
						<a class="nav-link" style="color:white;" asp-area="" asp-controller="publicpages" asp-action="policy">@Stage_Books.languages.Resource.Policy<span class="sr-only">(current)</span></a>
					</li>
					<li class="nav-item dropdown">
						<a class="nav-link dropdown-toggle" style="color:white;" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown"
						   aria-haspopup="true" aria-expanded="false">
							@Stage_Books.languages.Resource.About
						</a>
						<div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
							<a class="dropdown-item" asp-area="" asp-controller="publicpages" asp-action="about_stage">@Stage_Books.languages.Resource.About_Stage</a>

							<a class="dropdown-item" asp-area="" asp-controller="publicpages" asp-action="service">@Stage_Books.languages.Resource.Services</a>
							<a class="dropdown-item" asp-area="" asp-controller="Help" asp-action="Help">@Stage_Books.languages.Resource.Help</a>
							<div class="dropdown-menu" aria-labelledby="navbarDropdown">

								<div class="dropdown-divider"></div>
								<a class="dropdown-item" href="#"></a>
							</div>
						</div>
					</li>
						<li class="nav-item dropdown">
						<a class="nav-link dropdown-toggle" href="#" style="color:white;" id="navbarDropdownMenuLink" data-toggle="dropdown"
						   aria-haspopup="true" aria-expanded="false">
							Other
						</a>
						<div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
							<a class="nav-link" asp-area="" asp-controller="Encs" asp-action="index">@Stage_Books.languages.Resource.Encyclopedia</a>
							
							<a class="nav-link" asp-area="" asp-controller="Scriptpapers" asp-action="Index">Manuscripts</a>
							<a class="nav-link" asp-area="" asp-controller="paperssearchers" asp-action="Index">Researcher Papers</a>
							<div class="dropdown-menu" aria-labelledby="navbarDropdown">

								<div class="dropdown-divider"></div>
								<a class="dropdown-item" href="#"></a>
							</div>
						</div>
					</li>
					<li class="nav-item dropdown">
						<a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown"
						   aria-haspopup="true" aria-expanded="false" style="color:white">
						   <i class="bi bi-translate mr-2"></i>Language</a>
						<div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink" title="@localizer["Request culture provider:"] @requestculture?.Provider?.GetType().Name">

                            <form id="selectlanguage" asp-controller="Home" asp-action="setlang" asp-route-returnurl="@returnurl" method="post">
                                                       
                              <select class="form-control form-control-sm" name="culture"
                                      onchange="this.form.submit();" asp-for="@requestculture.RequestCulture.UICulture.Name"
                                       asp-items="culitems">
                           
                      
                               </select>
                                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" href="#"></a>
                            </div>
                            </form>
                            </div>
					</li>
					<li class="nav-item active">
						<a class="nav-link" style="color:white;" asp-area="" asp-controller="publicpages" asp-action="policy">@Stage_Books.languages.Resource.Help<span class="sr-only">(current)</span></a>
					</li>
					<li class="nav-item active">
						<a class="nav-link" style="color:white;" asp-area="" asp-controller="publicpages" asp-action="policy"><i style="color:#ff7236" class="bi bi-cart-check mr-2"></i>Order<span class="sr-only">(current)</span></a>
					</li>
				</ul>

			</div>

			@if (signInManager.IsSignedIn(User) && User.IsInRole("Admin"))
			{
				<a asp-action="Index" asp-controller="Books" class="btn btn-danger nav-link">DASHBOARD</a>
			}

			@if (signInManager.IsSignedIn(User))
			{
				<form method="post" asp-action="Logout" asp-controller="Account" class="form-inline">
					<button type="submit" class="btn btn-outline-primary my-2 my-sm-0 mr-3">Logout</button>
				</form>
				<h5>@User.Identity.Name</h5>
			}
			else
			{
				<a style="color:white;outline-color:#ff7236;" class="btn btn-outline-warning my-2 my-sm-0" asp-action="Register" asp-controller="Account">	@Stage_Books.languages.Resource.New_Account	</a>
				<a style="color:white;outline-color:#ff7236;" class="btn btn-outline-warning my-2 my-sm-0" asp-action="Login" asp-controller="Account">@Stage_Books.languages.Resource.Login</a>
			}

			@{
				string id = User.FindFirst(ClaimTypes.NameIdentifier)?.Value;
				if (id != null)
				{
					<a asp-action="SaveBook" asp-controller="Home" asp-route-id="@id">
						<img src="../img/unkown.png" alt="User" width="25" height="25" style="border:1px solid white;border-radius:50%">
					</a>
				}
			}
		    </nav>
  </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-2" style="background-color: #333333";">
                 <br />
                <div class="row mt-2" style="margin:0px auto" hidden>
                    <div class="col" style="text-align:center;margin:0px auto">
                    <span style="color: white;font-size:26px">Tools</span>
                        </div>
                </div>
                <br />
                 <div class="row mt-2" style="margin:0px auto">
                     <div class="col-12">
                         <button class="btn btn-warning btn-lg w-100" onclick="myFunctionFontColor()" style="font-size:17px;color:#03254c"><i class="bi bi-palette"></i> - Font Color</button>
                     </div>
                     <br />
                     <br />
                   <div class="row ml-3" style="display:none" id="myDIV">
                     <div class="mr-3">
                        <a id="fcgray" onclick="mFgray()" href="#" style="font-size:22px;color:gray;"><i class="bi bi-circle-fill"></i></a>
                   </div>
                   <div class="mr-3">
                     <a id="fcblack" onclick="mFblack()" href="#" style="font-size:22px;color:black;"><i class="bi bi-circle-fill"></i></a>
                   </div>
                   <div class="mr-3">
                     <a id="fcred" onclick="mFred()" href="#" style="font-size:22px;color:red;"><i class="bi bi-circle-fill"></i></a>

                  </div>
                  <div class="mr-3">
                     <a id="fcblue" onclick="mFblue()" href="#" style="font-size:22px;color:blue;"><i class="bi bi-circle-fill"></i></a>

                  </div>
                   <div class="mr-3">
                     <a id="fcgreen" onclick="mFgreen()" href="#" style="font-size:22px;color:green;"><i class="bi bi-circle-fill"></i></a>

                  </div>
               </div>
                </div>
                  <hr class="hrstyle" hidden>

                  <div class="row mt-2" style="margin:0px auto" hidden>
                     <div class="col-12">
                         <button class="btn btn-warning btn-lg w-100" onclick="myFunctionfontsize()" style="font-size:17px;color:#03254c"><i class="bi bi-fonts"></i>- Font Change</button>
                     </div>
                     <br />
                     <br />
                   <div class="row ml-3" style="display:none" id="myDIVfs">
                     <div class="mr-4">
                       <a id="fs1" onclick="mffslarg()" href="#" style="font-size:22px;color:green;">X1</a>
                   </div>
                   <div class="mr-4">
                    <a id="fs2" onclick="mffs2()" href="#" style="font-size:22px;color:yellow;">X2</a>
                   </div>
                   <div class="mr-4">
                    <a id="fs3" onclick="mffs3()" href="#" style="font-size:22px;color:red;">X3</a>
                  </div>
               </div>
                </div>
                  <hr class="hrstyle">

                <div class="row mt-2" style="margin:0px auto">
                    <div class="col-12">
                     <button class="btn btn-warning btn-lg w-100" onclick="myFunction1()" style="font-size:17px;color:#03254c"><i class="bi bi-filetype-ttf"></i>- Font Style</button>
                </div>
                     <br />
                     <br />
                <div class="row ml-3" style="display:none" id="myDIV1">
                   <div class="mr-4">
                       <a id="fc1" onclick="fontchange1()" href="#" style="font-size:25px;color:white;"><i class="bi bi-list"></i></a>
                   </div>
                   <div class="mr-4">
                    <a id="fc2" onclick="fontchange2()" href="#"  style="font-size:25px;color:white;"><i class="bi bi-type-italic"></i></a>
                   </div>
                   <div class="mr-4">
                    <a id="fc3" onclick="fontchange3()" href="#" style="font-size:25px;color:white;"><i class="bi bi-type-bold"></i></a>
                  </div>
               </div>
               </div>
                 <hr class="hrstyle">

                <div class="row mt-2" style="margin:0px auto">
                    <div class="col-12">
                     <button class="btn btn-warning btn-lg w-100" onclick="myFunctionsize()" style="font-size:17px;color:#03254c"><i class="bi bi-file-text"></i> - Font Size</button>
                </div>
                     <br />
                     <br />
                <div class="row ml-3" style="display:none" id="myDIVsize">
                   <div class="mr-4">
                       <a id="fc1" onclick="fontschange1()" href="#" style="font-size:21px;color:white;">X1</a>
                   </div>
                   <div class="mr-4">
                    <a id="fc2" onclick="fontschange2()" href="#"  style="font-size:21px;color:white;">X2</a>
                   </div>
                   <div class="mr-4">
                    <a id="fc3" onclick="fontschange3()" href="#" style="font-size:21px;color:white;">X3</a>
                  </div>
               </div>
               </div>
                 <hr class="hrstyle">

                <div class="row mt-2" style="margin:0px auto">
                   <div class="col-12">
                    <button class="btn btn-warning btn-lg w-100" style="font-size:17px;color:#03254c" onclick="myFunction2()"><i class="bi bi-palette"></i> - Backround Color</button>
                   </div>
                     <br />
                     <br />
                   <div class="row ml-3" style="display:none" id="myDIV2">
                     <div class="mr-4">
                       <a id="bgg" onclick="bcw()" href="#" style="font-size:22px;color:white;"><i class="bi bi-circle-fill"></i></a>
                   </div>
                   <div class="mr-4">
                    <a id="bgw" onclick="bce()" href="#" style="font-size:22px;color:gray;"><i class="bi bi-circle-fill"></i></a>
                   </div>
                   <div class="mr-4">
                    <a id="bgc" onclick="bcc()" href="#" style="font-size:22px;color:#dfccaf;"><i class="bi bi-circle-fill"></i></a>
                  </div>
               </div>
             </div> 
               <hr class="hrstyle">
                <div class="row mt-2" style="margin:0px auto">
                   <div class="col-12">
                     <button class="btn btn-warning btn-lg w-100" style="font-size:17px;color:#03254c" href="#" onclick="myFunction3()"><i class="bi bi-aspect-ratio"></i> - Book Resize</button>
                   </div>
                   <br />
                     <br />
                    <div class="row ml-3" style="display:none" id="myDIV3">
                     <div class="mr-4">
                       <a id="bigscreen" onclick="bigscreen()" href="#" style="font-size:25px;color:white;"><i class="bi bi-fullscreen"></i></a>
                   </div>
                   <div class="mr-4" hidden>
                    <a id="bgw" onclick="smallscreen()" href="#" style="font-size:25px;color:white;"><i class="bi bi-fullscreen-exit"></i></a>
                   </div>

               </div>
                 </div>
                   <hr class="hrstyle">
                 <div class="row mt-2" style="margin:0px auto">
                   <div class="col-12">
                    <button class="btn btn-warning btn-lg w-100" style="font-size:17px;color:#03254c" onclick="myFunctionaudio()"><i class="bi bi-mic-fill"></i> - Audio </button>
                   </div>
                   <br />
                     <br />
                   <div class="row ml-3" style="display:none" id="myDIVAudio">
                     <div class="mr-4">
                       <a id="btnspeak" onclick="" href="#" style="font-size:25px;color:white;"><i class="bi bi-mic"></i></a>
                   </div>
                   <div class="mr-4">
                    <a id="bgw" onclick="" href="#" style="font-size:25px;color:gray;"><i class="bi bi-mic-mute"></i></a>
                   </div>


                     <div class="">
                         Select Voice :<select name="" id="voicelist">
           
                         </select>

                   </div>

               </div>
             </div> 

                <hr class="hrstyle">
                 <div class="row mt-2" style="margin:0px auto">
                   <div class="col-12">
                    <button class="btn btn-warning btn-lg w-100" style="font-size:17px;color:#03254c" onclick="searchintext()"><i class="bi bi-binoculars"></i> To Search </button>
                   </div>
                   <br />
                     <br />
                   <div class="row ml-3" style="display:none" id="myDIVsearch">
                     <div class="mr-4">
                       <p  style="font-size:25px;color:gray;">From PC Enter Ctrl + F</p>
                   </div>
                   <div class="mr-4">
                    <a  style="font-size:25px;color:gray;">From Android Menu And Enter Find</a>
                   </div>
@*                   <div class="col-3">
                    <a id="bgb" onclick="bcb()" href="#" style="font-size:15px;color:black;"><i class="bi bi-circle-fill"></i></a>
                  </div>*@
               </div>
             </div> 

                <hr class="hrstyle">
                 <div class="row mt-2" style="margin:0px auto">
                   <div class="col-12">
                    <a href="#" onclick="tranc()" class="btn btn-warning btn-lg w-100" style="font-size:17px;color:#03254c"><i class="bi bi-translate"></i>  Translate </a>
                   </div>
             </div> 



             
                <br />
                <hr />
               <div class="col" style="text-align:center;margin:0px auto" hidden>
                    <span style="color: white;font-size:20px">Rate Book</span>
               </div>
               <br>
                <div class="row" hidden>
                    <div class="col-sm-2">
                      <a class="nav-link" href="#" style="color:yellow">
                     <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-star" viewBox="0 0 16 16" >
                      <path d="M2.866 14.85c-.078.444.36.791.746.593l4.39-2.256 4.389 2.256c.386.198.824-.149.746-.592l-.83-4.73 3.522-3.356c.33-.314.16-.888-.282-.95l-4.898-.696L8.465.792a.513.513 0 0 0-.927 0L5.354 5.12l-4.898.696c-.441.062-.612.636-.283.95l3.523 3.356-.83 4.73zm4.905-2.767-3.686 1.894.694-3.957a.565.565 0 0 0-.163-.505L1.71 6.745l4.052-.576a.525.525 0 0 0 .393-.288L8 2.223l1.847 3.658a.525.525 0 0 0 .393.288l4.052.575-2.906 2.77a.565.565 0 0 0-.163.506l.694 3.957-3.686-1.894a.503.503 0 0 0-.461 0z"/>
                     </svg>
                    </a>
                    </div>
                      <div class="col-sm-2">
                      <a class="nav-link" href="#" style="color:yellow">
                     <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-star" viewBox="0 0 16 16" >
                      <path d="M2.866 14.85c-.078.444.36.791.746.593l4.39-2.256 4.389 2.256c.386.198.824-.149.746-.592l-.83-4.73 3.522-3.356c.33-.314.16-.888-.282-.95l-4.898-.696L8.465.792a.513.513 0 0 0-.927 0L5.354 5.12l-4.898.696c-.441.062-.612.636-.283.95l3.523 3.356-.83 4.73zm4.905-2.767-3.686 1.894.694-3.957a.565.565 0 0 0-.163-.505L1.71 6.745l4.052-.576a.525.525 0 0 0 .393-.288L8 2.223l1.847 3.658a.525.525 0 0 0 .393.288l4.052.575-2.906 2.77a.565.565 0 0 0-.163.506l.694 3.957-3.686-1.894a.503.503 0 0 0-.461 0z"/>
                     </svg>
                    </a>
                    </div>
                     <div class="col-sm-2">
                      <a class="nav-link" href="#" style="color:yellow">
                     <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-star" viewBox="0 0 16 16" >
                      <path d="M2.866 14.85c-.078.444.36.791.746.593l4.39-2.256 4.389 2.256c.386.198.824-.149.746-.592l-.83-4.73 3.522-3.356c.33-.314.16-.888-.282-.95l-4.898-.696L8.465.792a.513.513 0 0 0-.927 0L5.354 5.12l-4.898.696c-.441.062-.612.636-.283.95l3.523 3.356-.83 4.73zm4.905-2.767-3.686 1.894.694-3.957a.565.565 0 0 0-.163-.505L1.71 6.745l4.052-.576a.525.525 0 0 0 .393-.288L8 2.223l1.847 3.658a.525.525 0 0 0 .393.288l4.052.575-2.906 2.77a.565.565 0 0 0-.163.506l.694 3.957-3.686-1.894a.503.503 0 0 0-.461 0z"/>
                     </svg>
                    </a>
                    </div>
                     <div class="col-sm-2">
                      <a class="nav-link" href="#" style="color:yellow">
                     <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-star" viewBox="0 0 16 16" >
                      <path d="M2.866 14.85c-.078.444.36.791.746.593l4.39-2.256 4.389 2.256c.386.198.824-.149.746-.592l-.83-4.73 3.522-3.356c.33-.314.16-.888-.282-.95l-4.898-.696L8.465.792a.513.513 0 0 0-.927 0L5.354 5.12l-4.898.696c-.441.062-.612.636-.283.95l3.523 3.356-.83 4.73zm4.905-2.767-3.686 1.894.694-3.957a.565.565 0 0 0-.163-.505L1.71 6.745l4.052-.576a.525.525 0 0 0 .393-.288L8 2.223l1.847 3.658a.525.525 0 0 0 .393.288l4.052.575-2.906 2.77a.565.565 0 0 0-.163.506l.694 3.957-3.686-1.894a.503.503 0 0 0-.461 0z"/>
                     </svg>
                    </a>
                    </div>
                     <div class="col-sm-2" >
                      <a class="nav-link" href="#" style="color:yellow">
                     <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-star" viewBox="0 0 16 16" >
                      <path d="M2.866 14.85c-.078.444.36.791.746.593l4.39-2.256 4.389 2.256c.386.198.824-.149.746-.592l-.83-4.73 3.522-3.356c.33-.314.16-.888-.282-.95l-4.898-.696L8.465.792a.513.513 0 0 0-.927 0L5.354 5.12l-4.898.696c-.441.062-.612.636-.283.95l3.523 3.356-.83 4.73zm4.905-2.767-3.686 1.894.694-3.957a.565.565 0 0 0-.163-.505L1.71 6.745l4.052-.576a.525.525 0 0 0 .393-.288L8 2.223l1.847 3.658a.525.525 0 0 0 .393.288l4.052.575-2.906 2.77a.565.565 0 0 0-.163.506l.694 3.957-3.686-1.894a.503.503 0 0 0-.461 0z"/>
                     </svg>
                    </a>
                    </div>
                </div>
                

                <div class="row" style="margin:0px auto" hidden>
                    <a class="nav-link" href="#" style="color:white">
                        To My Favourit
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-balloon-heart" viewBox="0 0 16 16">
                        <path fill-rule="evenodd" d="m8 2.42-.717-.737c-1.13-1.161-3.243-.777-4.01.72-.35.685-.451 1.707.236 3.062C4.16 6.753 5.52 8.32 8 10.042c2.479-1.723 3.839-3.29 4.491-4.577.687-1.355.587-2.377.236-3.061-.767-1.498-2.88-1.882-4.01-.721L8 2.42Zm-.49 8.5c-10.78-7.44-3-13.155.359-10.063.045.041.089.084.132.129.043-.045.087-.088.132-.129 3.36-3.092 11.137 2.624.357 10.063l.235.468a.25.25 0 1 1-.448.224l-.008-.017c.008.11.02.202.037.29.054.27.161.488.419 1.003.288.578.235 1.15.076 1.629-.157.469-.422.867-.588 1.115l-.004.007a.25.25 0 1 1-.416-.278c.168-.252.4-.6.533-1.003.133-.396.163-.824-.049-1.246l-.013-.028c-.24-.48-.38-.758-.448-1.102a3.177 3.177 0 0 1-.052-.45l-.04.08a.25.25 0 1 1-.447-.224l.235-.468ZM6.013 2.06c-.649-.18-1.483.083-1.85.798-.131.258-.245.689-.08 1.335.063.244.414.198.487-.043.21-.697.627-1.447 1.359-1.692.217-.073.304-.337.084-.398Z"/>
                       </svg>
                    </a>
                </div>
                <div class="row" style="margin:0px auto" hidden>
                    <a class="nav-link" href="#" style="color:white">
                        Save To Profile
                       <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-cloud-download" viewBox="0 0 16 16">
                      <path d="M4.406 1.342A5.53 5.53 0 0 1 8 0c2.69 0 4.923 2 5.166 4.579C14.758 4.804 16 6.137 16 7.773 16 9.569 14.502 11 12.687 11H10a.5.5 0 0 1 0-1h2.688C13.979 10 15 8.988 15 7.773c0-1.216-1.02-2.228-2.313-2.228h-.5v-.5C12.188 2.825 10.328 1 8 1a4.53 4.53 0 0 0-2.941 1.1c-.757.652-1.153 1.438-1.153 2.055v.448l-.445.049C2.064 4.805 1 5.952 1 7.318 1 8.785 2.23 10 3.781 10H6a.5.5 0 0 1 0 1H3.781C1.708 11 0 9.366 0 7.318c0-1.763 1.266-3.223 2.942-3.593.143-.863.698-1.723 1.464-2.383z"/>
                      <path d="M7.646 15.854a.5.5 0 0 0 .708 0l3-3a.5.5 0 0 0-.708-.708L8.5 14.293V5.5a.5.5 0 0 0-1 0v8.793l-2.146-2.147a.5.5 0 0 0-.708.708l3 3z"/>
                      </svg>
                    </a>
                    <br />
                     <br />
        
                    <button class="btn btn-info w-75">My Profile</button>
                </div>
                

       

            </div>

            <div class="col-sm-10">
                <div class="container-fluid" style="margin: 20px auto; background-color:#EEEEEE;">
                    <div class="row" style="margin:20px auto;">
                        <div style="margin:0px auto;">
                            <br />
                            <h3 style="text-align:center">@Html.DisplayFor(modelItem => Model.Name)</h3>
                            <hr />
                        </div>
                    </div>
                    <div class="row" >
                        <div class="col-4">
                             <h6>Pages : @Html.DisplayFor(modelItem => Model.Pages)</h6>
                        </div>
                         <div class="col-4">
                             <h6>Category : @Html.DisplayFor(modelItem => Model.Category)</h6>
                        </div>
                         <div class="col-4">
                             <h6>Topic : @Html.DisplayFor(modelItem => Model.Topic)</h6>
                        </div>
                    </div>
                     <div class="row" >
                        <div class="col-4">
                             <h6>Author : @Html.DisplayFor(modelItem => Model.Author.Name)</h6>
                        </div>
                         <div class="col-4">
                             <h6>Language : @Html.DisplayFor(modelItem => Model.Language)</h6>
                        </div>
                         <div class="col-4">
                             <h6>Publisher : @Html.DisplayFor(modelItem => Model.Publisher)</h6>
                        </div>
                    </div>





                   <hr class="hrstyle">


                    
                   
          <!-- Start tools -->

               <!-- End tools --> 
               <!--*****************************************************-->
                <!--*****************************************************-->
                <!--*****************************************************-->
                <div id="cont" class="container contsearch" style="margin:0px auto;border:2px solid gray;border-radius:10px;background-color:#EEEEEE;overflow:scroll" >
                    <br />
                    <div id="mainscrees">
                       <div class="Container text-center" style="margin:0px auto;border:2px solid gray;border-radius:10px" >
                          <div class="row">
                              <div class="col-2"><a style="font-size:25px;color:#0099CC;"><i class="bi bi-volume-up"></i></a></div>
                              <div class="col-2"><a style="font-size:25px;color:#0099CC;"><i class="bi bi-volume-mute"></i></a></div>
                              <div class="col-2"><a onclick="tranc()" style="font-size:25px;color:#0099CC;"><i class="bi bi-translate"></i></a></div>
                              <div class="col-2"><a onclick="bigscreen1()" id="bigscreen1" href="#" style="font-size:25px;color:#0099CC;"><i class="bi bi-fullscreen"></i></a></div>
                              <div class="col-2"><a onclick="bigscreen2()" id="bigscreen2" href="#" style="font-size:25px;color:#0099CC;"><i class="bi bi-fullscreen-exit"></i></a></div>
                              <div class="col-2"><a href="#" onclick="searchintext()" style="font-size:25px;color:#0099CC;"><i class="bi bi-search"></i></a></div>
                          </div>
                       </div>

    <div class="containert" style="background-color:#EEEEEE;display:none" id="myDIVtranc">
@*              <div class="row mb-4" style="margin:0px auto">
                  <h4 style="text-align:center">Translation Tools</h4>
              </div>*@
@*      <div class="wrapper row" style="margin:0px auto">
        <div class="text-input">
          <textarea spellcheck="false" class="from-text" placeholder="Enter text"></textarea>
          <textarea spellcheck="false" readonly disabled class="to-text" placeholder="Translation"></textarea>
        </div>
        <ul class="controls">
          <li class="row from">
            <div class="icons">
              <i id="from" class="fas fa-volume-up"></i>
              <i id="from" class="fas fa-copy"></i>
            </div>
            <select></select>
          </li>
          <li class="exchange"><i class="fas fa-exchange-alt"></i></li>
          <li class="row to">
            <select></select>
            <div class="icons">
              <i id="to" class="fas fa-volume-up"></i>
              <i id="to" class="fas fa-copy"></i>
            </div>
          </li>
        </ul>
      </div>*@
@*      <div class="row"><button id="btnt" class="btn btn-success">Translate Text</button></div>
*@      
    <iframe src="https://www.bing.com/translator" width="100%" height="400"></iframe>
</div>
    <div style="display:none" class="container mt-2 mb-2" id="myDIVsearcharea" >
            <input class="w-50" type="text" id="text-to-search" placeholder="Search" style="height:35px;border:2px solid gray; border-radius:5px;padding-left:5px;">
            <button class="btn btn-primary" onclick="searchontext()">search</button>
    </div>

                       <br />
                          <iframe id="tc" type="text/html" src="@Html.DisplayFor(modelItem => Model.BookURLS)" width="100%" height="1000"></iframe>
                        <br />
                    </div>
                   <!--*****************************************************-->
                   <!-- Start pagination -->
                   <hr />
                    <br />
                   <div class="Container" >
                                      <nav aria-label="Page navigation example">
                                           <ul class="pagination">
                                               <li class="page-item">
                                                   <a class="page-link" href="#" aria-label="Previous">
                                                     <span aria-hidden="true">&laquo;</span>
                                                   </a>
                                               </li>
                                               <li class="page-item"><a class="page-link" href="#">1</a></li>
                                               <li class="page-item"><a class="page-link" href="#">2</a></li>
                                               <li class="page-item"><a class="page-link" href="#">3</a></li>
                                               <li class="page-item">
                                               <a class="page-link" href="#" aria-label="Next">
                                               <span aria-hidden="true">&raquo;</span>
                                               </a>
                                              </li>
                                           </ul>
                                      </nav>
                   </div>
                   <!-- End pagination -->
                   <br />
                 </div>
                  <br />

               </div>
              </div>
            </div>
         </div>
    </div>
  

    <script>


        ///////////////////////////////
        // Audio Program /////////////
        /////////////////////////////
        var voicelist = document.getElementById("voicelist");
        var text = document.getElementById("tc");
        var btnspeak = document.getElementById("btnspeak");

        var tts = window.speechSynthesis;
        var voices = [];

        function getvoices()
        {
            voices = tts.getvoices();
            voicelist.innerHTML = '';
            voices.foreach() 
        }
        ////////////////////////////
        
            var elem = document.getElementById("maxsize");
            var screen = document.getElementById("mainscrees");
                function openFullscreen() 
                {
                  if (screen.requestFullscreen) {
                    screen.requestFullscreen();
                  } else if (screen.webkitRequestFullscreen) { /* Safari */
                    screen.webkitRequestFullscreen();
                  } else if (screen.msRequestFullscreen) { /* IE11 */
                    screen.msRequestFullscreen();
                  }
                }
            function FindNext() {
            var str = document.getElementById ("findInput").value;
            if (str == "") {
                alert ("Please enter some text to search!");
                return;
            }

            if (window.find) {        // Firefox, Google Chrome, Safari
                var found = window.find (str);
                if (!found) {
                    alert ("The following text was not found:\n" + str);
                }
            }
            else {
                alert ("Your browser does not support this example!");
            }
        }

        //*************************** */
        function mFred() 
         {
          var iframe = document.getElementById("tc");
          var elmnt = iframe.contentWindow.document.getElementsByTagName("body")[0].style.color = 'red';
          //elmnt.style.display = "none";
         }
        //*************************** */
         function mFblue() 
         {
          var iframe = document.getElementById("tc");
          //var elmnt = iframe.contentWindow.document.getElementsByTagName("p")[0];
          var elmnt = iframe.contentWindow.document.getElementsByTagName("body")[0].style.color = 'blue';
          //elmnt.style.display = "none";
         }
        //*************************** */
          function mFgray() 
         {
          var iframe = document.getElementById("tc");
          //var elmnt = iframe.contentWindow.document.getElementsByTagName("p")[0];
          var elmnt = iframe.contentWindow.document.getElementsByTagName("body")[0].style.color = 'gray';
          //elmnt.style.display = "none";
         }
         //*************************** */
          function tranc() 
          {
                  var x = document.getElementById('myDIVtranc');
                  if (x.style.display === 'none') {
                    x.style.display = 'flex';
                  } else {
                    x.style.display = 'none';
                  }
           }
         
        //*************************** */
         function mFblack() 
         {
          var iframe = document.getElementById("tc");
          //var elmnt = iframe.contentWindow.document.getElementsByTagName("p")[0];
          var elmnt = iframe.contentWindow.document.getElementsByTagName("body")[0].style.color = 'black';
          //elmnt.style.display = "none";
         }
        //*************************** */
          function mFgreen() 
         {
          var iframe = document.getElementById("tc");
          //var elmnt = iframe.contentWindow.document.getElementsByTagName("p")[0];
          var elmnt = iframe.contentWindow.document.getElementsByTagName("body")[0].style.color = 'green';
          //elmnt.style.display = "none";
         }
        //*************************** */
        ////////////////////////////////
        // font size function
        //*************************** */
        function mffslarg() 
         {
          var iframe = document.getElementById("tc");
          var elmnt = iframe.contentWindow.document.getElementsByTagName("body")[0].style.fontFamily = "Noto-Kufi-Arabic";
          //elmnt.style.display = "none";
         }
        //*************************** */
         function mffs2()  
         {
          var iframe = document.getElementById("tc");
          //var elmnt = iframe.contentWindow.document.getElementsByTagName("p")[0];
          var elmnt = iframe.contentWindow.document.getElementsByTagName("body")[0].style.fontSize = 'normal';
          //elmnt.style.display = "none";
         }
        //*************************** */
          function mffs3()  
         {
          var iframe = document.getElementById("tc");
          //var elmnt = iframe.contentWindow.document.getElementsByTagName("p")[0];
          var elmnt = iframe.contentWindow.document.getElementsByTagName("body")[0].style.fontSize = 'small';
          //elmnt.style.display = "none";
         }
        //*************************** */
         ////////////////////////////////
         // font style function
        //*************************** */
       function fontchange1()
       {
           var iframe = document.getElementById("tc");
           var elmnt = iframe.contentWindow.document.getElementsByTagName("body")[0].style.fontStyle = "normal";

       }
       function fontchange2()
       {
           var iframe = document.getElementById("tc");
           var elmnt = iframe.contentWindow.document.getElementsByTagName("body")[0].style.fontStyle  = "italic";

       }
       
       function fontchange3()
       {
           var iframe = document.getElementById("tc");
           var elmnt = iframe.contentWindow.document.getElementsByTagName("body")[0].style.fontWeight  = "bold";

       }
       //*************************** */
        ////////////////////////////////
        // Resize Fonts function
        //*************************** */
       function fontschange1()
       {
              let text = document.getElementById("tc").contentWindow;
              let catchtext = text.document.body;
              catchtext.style.fontSize = "xx-large"
       }
        //*************************** */
        ////////////////////////////////
        // Resize Screen function
        //*************************** */
        function bigscreen()
        {
        let fullscreen = document.getElementById("cont");
        let button = document.getElementById("bigscreen");

        button.addEventListener("click", () => {
          if (!document.fullscreenElement) {
            fullscreen?.requestFullscreen();
          } else {
            document.exitFullscreen();
          }
        });
        }

        function bigscreen1()
        {
        let fullscreen = document.getElementById("cont");
        let button = document.getElementById("bigscreen1");

        button.addEventListener("click", () => {
          if (!document.fullscreenElement) {
            fullscreen?.requestFullscreen();
          } else {
            document.exitFullscreen();
          }
        });
        }

        function bigscreen2()
        {
        let fullscreen = document.getElementById("cont");
        let button = document.getElementById("bigscreen2");

        button.addEventListener("click", () => {
          if (!document.fullscreenElement) {
            fullscreen?.requestFullscreen();
          } else {
            document.exitFullscreen();
          }
        });
        }
        //////////////////////////////////
        //***************************** */
        // search function 
        /////////////////////////////////


        /////////////////////////////////


                function myFunctionFontColor() {
                  var x = document.getElementById('myDIV');
                  if (x.style.display === 'none') {
                    x.style.display = 'flex';
                  } else {
                    x.style.display = 'none';
                  }
                }

                ///////////////////////////////////////////////////////////////
                 function searchintext() 
                 {
                  var x = document.getElementById('myDIVsearcharea');
                  if (x.style.display === 'none') {
                    x.style.display = 'flex';
                  } else {
                    x.style.display = 'none';
                  }
                }
              
                
                 function tosearch() {
                  var x = document.getElementById('myDIVsearch');
                  if (x.style.display === 'none') {
                    x.style.display = 'flex';
                  } else {
                    x.style.display = 'none';
                  }
                }

                 function myFunctionfontsize() {
                  var x = document.getElementById('myDIVfs');
                  if (x.style.display === 'none') {
                    x.style.display = 'flex';
                  } else {
                    x.style.display = 'none';
                  }
                }

                 function myFunction1() {
                  var x = document.getElementById('myDIV1');
                  if (x.style.display === 'none') {
                    x.style.display = 'flex';
                  } else {
                    x.style.display = 'none';
                  }
                }
                 function myFunctionsize() {
                  var x = document.getElementById('myDIVsize');
                  if (x.style.display === 'none') {
                    x.style.display = 'flex';
                  } else {
                    x.style.display = 'none';
                  }
                }
                  function myFunction2() {
                  var x = document.getElementById('myDIV2');
                  if (x.style.display === 'none') {
                    x.style.display = 'flex';
                  } else {
                    x.style.display = 'none';
                  }
                }

                  function myFunctionaudio() {
                  var x = document.getElementById('myDIVAudio');
                  if (x.style.display === 'none') {
                    x.style.display = 'flex';
                  } else {
                    x.style.display = 'none';
                  }
                }
                 
                ////////////////////////////
                function searchontext()
                        {
                            let texttosearch = document.getElementById("text-to-search").value;
                            let text = document.getElementById("tc").contentWindow;
                            let catchtext = text.document.body;
                            //console.log(catchtext);
                            texttosearch = texttosearch.replace(/[.*+?^${}()|[\]\\]/g,"\\$&");
                            let pattern = new RegExp(`${texttosearch}`,"gi");
                            catchtext.innerHTML = catchtext.textContent.replace(pattern, match => `<mark>${match}</mark>`);
                        }
                ///////////////////////////

                 function myFunction3() {
                  var x = document.getElementById('myDIV3');
                  if (x.style.display === 'none') {
                    x.style.display = 'flex';
                  } else {
                    x.style.display = 'none';
                  }
                }

                  function bcw() {
                  var x = document.getElementById('cont');
                    x.style.backgroundColor = 'white';
                }
                function bce() {
                  var x = document.getElementById('cont');
                    x.style.backgroundColor = '#EEEEEE';
                }
                 function bcc() {
                  var x = document.getElementById('cont');
                  var color = document.getElementById('tc');
                    x.style.backgroundColor = '#dfccaf';
                    color.style.color = 'white';
                }
   </script>
                    <!-- Option 6: Bootstrap Bundle with Popper -->
                    <script src="~/js/countries.js"></script>
                    <script src="~/js/scripttranc.js"></script>
                    <script src="~/js/js.js"> </script>
                    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
                    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
                    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

</body>
</html>




