@model Stage_Books.Models.Book

@{
	Layout = "~/Views/Shared/_AdminLayout.cshtml";
	ViewData["Title"] = "Details";
}

<div class="row">
	<div class="col-md-2"></div>
	<div class="col-md-10">
		<br />
		<h2 style="text-align:center">Details Book</h2>
		<br />
		<hr />
		<br />
		<div class="container">
			<table class="table">
				<thead>
					<tr>
						<th scope="col">Rows</th>
						<th scope="col">Data</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<th scope="row">@Html.DisplayNameFor(model => model.Name)</th>
						<td>@Html.DisplayFor(model => model.Name)</td>
					</tr>
					<tr>
						<th scope="row">@Html.DisplayNameFor(model => model.Pages)</th>
						<td>@Html.DisplayFor(model => model.Pages)</td>
					</tr>
					<tr>
						<th scope="row">@Html.DisplayNameFor(model => model.Category)</th>
						<td>@Html.DisplayFor(model => model.Category)</td>
					</tr>
					<tr>
						<th scope="row">@Html.DisplayNameFor(model => model.Desc)</th>
						<td>@Html.DisplayFor(model => model.Desc)</td>
					</tr>
					<tr>
						<th scope="row">@Html.DisplayNameFor(model => model.Publisher)</th>
						<td>@Html.DisplayFor(model => model.Publisher)</td>
					</tr>
					<tr>
						<th scope="row">@Html.DisplayNameFor(model => model.PubDate)</th>
						<td>@Html.DisplayFor(model => model.PubDate)</td>
					</tr>
					<tr>
						<th scope="row">@Html.DisplayNameFor(model => model.Rights)</th>
						<td>@Html.DisplayFor(model => model.Rights)</td>
					</tr>
					<tr>
						<th scope="row">@Html.DisplayNameFor(model => model.Topic)</th>
						<td>@Html.DisplayFor(model => model.Topic)</td>
					</tr>
					<tr>
						<th scope="row">@Html.DisplayNameFor(model => model.Language)</th>
						<td>@Html.DisplayFor(model => model.Language)</td>
					</tr>
					<tr>
						<th scope="row">@Html.DisplayNameFor(book =>book.ImageURL)</th>
						<td>
							<img style="width:200px; height:200px;margin-left:20px" src="@Html.DisplayFor(book =>book.ImageURL)" />
						</td>
					</tr>
				</tbody>
			</table>
			<br />
			<hr />
			<br />
		</div>
		<div class="container">
			<form asp-action="Delete">
				<input type="hidden" asp-for="ID" />
				<a class="btn btn-success" asp-action="Edit" asp-route-id="@Model.ID">Edit</a> |
				<a class="btn btn-primary" asp-action="Index">Back to List</a>


			</form>
		</div>
		<br />
		<hr />
		<br />
	</div>
</div>

