@model IEnumerable<Stage_Books.Models.Book>

@{
	Layout = "~/Views/Shared/_AdminLayout.cshtml";
	ViewData["Title"] = "Index";
}

<br />
<br />
<br />
<br />
<div class="text-center">
	<h1 style="margin-left:10px">All Books</h1>
</div>
<br />
<div class="container row">


	<br />

	<br />

	@foreach (var item in Model)
	{
		<div class="col-md-1"></div>
		<div class="col-md-1"></div>
		<div class="col-md-1"></div>
		<div class="col-md-1">
			<div class="card mb-2 ml-2" style="width: 18rem;">
				<img style="height:30vh" class="card-img-top" src="@Html.DisplayFor(modelItem => item.ImageURL)">
				<div class="card-body">
					<h5 class="card-title">@Html.DisplayFor(modelItem => item.Name)</h5>
					<a class="btn btn-primary btn-block" asp-action="Details" asp-route-id="@item.ID">Details</a>
					<a class="btn btn-danger btn-block" asp-action="Delete" asp-route-id="@item.ID">Delete</a>
					<a class="btn btn-success btn-block" asp-action="Edit" asp-route-id="@item.ID">Edit</a>
				</div>
			</div>
		</div>
	}
</div>