
@******************************************@
@model Stage_Books.Models.Encyclopedia.Enc

@{
	Layout = "~/Views/Shared/_AdminLayout.cshtml";
	ViewData["Title"] = "Delete";
}

<div class="row">
	<div class="col-md-2"></div>
	<div class="col-md-10">
		<br />
		<br />
		<br />
		<br />
		<h2 style="text-align:center"> حذف من الموسوعة </h2>
		<br />
		<hr />
		<br />
		<div class="container">
			<table class="table">
				<tbody>
					<tr>

						<th scope="row">@Html.DisplayNameFor(model => model.Name)</th>
						<td>@Html.DisplayFor(model => model.Name)</td>
					</tr>
					<tr>
						<th scope="row">@Html.DisplayNameFor(model => model.FullName)</th>
						<td>@Html.DisplayFor(model => model.FullName)</td>
					</tr>
					<tr>
						<td>@Html.DisplayNameFor(model => model.Description)</td>
						<th scope="row">@Html.DisplayFor(model => model.Description)</th>
					</tr>
					<tr>
						<th scope="row">@Html.DisplayNameFor(model => model.Category)</th>
						<td>@Html.DisplayFor(model => model.Category)</td>
					</tr>
					<tr>
						<th scope="row">@Html.DisplayNameFor(model => model.Store)</th>
						<td>@Html.DisplayFor(model => model.Store)</td>
					</tr>
				</tbody>
			</table>
			<br />
			<hr />
			<br />
		</div>
		<div class="container">
             <form asp-action="Delete">
                    <input type="hidden" asp-for="id" />
                    <input type="submit" value="Delete" class="btn btn-danger" /> |
                    <a asp-action="Index2" class="btn btn-warning">Back to Admin List</a> |
                    <a asp-action="Index" class="btn btn-primary">Back to Main List</a> 
                </form>
		</div>
		<br />
		<hr />
		<br />
	</div>
</div>