@*@model IEnumerable<Stage_Books.Models.Encyclopedia.Enc>*@
@using X.PagedList.Mvc.Core.Common;
@using X.PagedList.Web.Common;
@using X.PagedList;
@using X.PagedList.Mvc.Core; <!--import to get HTML Helper-->
@model Stage_Books.Models.Showdatamodel
@{
    ViewData["Title"] = "Index";
}
<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <title>S T A G E - Encyclopedia</title>
    <meta name="viewport" content="width=device-width, initial-scale=6">
    <meta name="descrption" content="Best website to Find any Books">
    <meta name="keywords" content=" الموسوعة ,موسوعة ستيج, موسوعة منصة ستيح , موسوعة المؤلفين , موسوعة اشخاص المؤلفين , موسوعة اصحاب الابداع الفكرى , Encyclopedia, Stage Encyclopedia , stage , Authors Encyclopedia" />
    <link rel="icon" href="img/stage_logo.png" type="" sizes="">
    <link rel="shortcut icon" href="img/stage_logo.png" type="" sizes="">
    <link rel="apple-touch-icon" href="img/stage_logo.png">
    	<link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Cairo&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Cairo&display=swap" rel="stylesheet">
    <link href="~/css/style.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link href="css/style.css" rel="stylesheet">

</head>

<body style="font-family:cairo,Roboto"> <!-- oncontextmenu="return false;"-->
    <br>
    <div class="container" style="margin:0px auto; text-align:center">
        <br />
        <h3>@Stage_Books.languages.Resource.Encyclopedia</h3>
        <br>
        <img src="~/img/en.png" alt="Encyclobedia" width="150" height="150"/>
        <br />
    </div>
@*    <p>
    <a asp-action="Create">Send Message</a>
    </p>*@
    <br><hr /><br>

   <div class="container">

<form method="get" asp-controller="Encs" asp-action="search" class="">
  <div class="form-group row">
    <label for="colFormLabel" class="col-sm-2 col-form-label">Search</label>
    <div class="col-sm-8">
      <input type="text" class="form-control"  placeholder="Search" value="@ViewBag.CurrentSearch" name="search">
    </div>
    <button type="submit"  class="btn btn-warning col-sm-2 col-form-label">Search</button>
  </div>
</form>
   </div>
<hr />


    <!--******************************************-->
<div class="container-fluid">

@*<p>
    <a asp-action="Create">Create New</a>
</p>*@

    <!-- container -->
    <div class="container-fluid">
        <div class="row">
               <!--cat -->
         <div class="col-sm">
                <div style="text-align: center; margin-top: 25px; padding: 20px; padding-bottom: 40px;">
                    @*<h3>@Stage_Books.languages.Resource.Categories</h3>*@
                    <div class="list-group">
                      <div class="p-3 mb-2 bg-secondary text-white">Topic</div>
                    </div>
                     @if(!Model.Books.Any())
                        {
                            <div class="alert alert-danger" role="alert">
                                No Data !
                            </div>
                        }
                        else
                        {
                        @foreach (var item in Model.Books)
                       {
                           <a href="#" class="list-group-item list-group-item-action">
                               @item.Topic
                           </a>
                           }
                        }
                <br />
                   	<a class="nav-link text-info" href="../Home/gototopic">More Topics ..<span class="sr-only">(current)</span></a>
                    <hr>
                <div class="list-group">
                        <div class="p-3 mb-2 bg-secondary text-white">
                            @Stage_Books.languages.Resource.Authors
                        </div>
                        @if(!Model.Books.Any())
                        {
                            <div class="alert alert-danger" role="alert">
                                No Data !
                            </div>
                        }
                        else
                        {
                      
                          @foreach (var item in Model.Books)
                          {
                           <a href="#" class="list-group-item list-group-item-action">
                               @item.Author.Name
                           </a>      
                          }
                        }
                    </div>
                    <a class="nav-link text-info" href="../Home/gotoauthors">More @Stage_Books.languages.Resource.Authors ..<span class="sr-only">(current)</span></a>
                    <hr>
                    <div class="list-group">
                        <div class="p-3 mb-2 bg-secondary text-white">
                            @Stage_Books.languages.Resource.Categories
                        </div>
                        @if(!Model.Books.Any())
                        {
                            <div class="alert alert-danger" role="alert">
                                No Data !
                            </div>
                        }
                        else
                        {
                        @foreach (var item in Model.Books)
                          {
                           <a href="#" class="list-group-item list-group-item-action">
                               @item.Category
                           </a>
                          }
                         }
                    </div>
                    	<a class="nav-link text-info" href="../Home/gotocat">More @Stage_Books.languages.Resource.Categories ..<span class="sr-only">(current)</span></a>
                    <hr />
               <div class="list-group">
                            <div class="p-3 mb-2 bg-secondary text-white">
                              @Stage_Books.languages.Resource.Books_Language
                            </div>
                    <a class="list-group-item list-group-item-action" href="#list-item-1">@Stage_Books.languages.Resource.English</a>
                    <a class="list-group-item list-group-item-action" href="#list-item-2">@Stage_Books.languages.Resource.Arabic</a>
                    <a class="list-group-item list-group-item-action" href="#list-item-3">@Stage_Books.languages.Resource.French</a>
                    <a class="list-group-item list-group-item-action" href="#list-item-4">@Stage_Books.languages.Resource.Spanich</a>
                    <a class="list-group-item list-group-item-action" href="#list-item-5">@Stage_Books.languages.Resource.German</a>
                    <a class="list-group-item list-group-item-action" href="#list-item-6">@Stage_Books.languages.Resource.Hindi</a>

                     </div>
                        <button class="btn btn-outline-primary my-2 my-sm-0" type="submit" hidden>Read More ...</button>
                        <hr>
                    </div>
            </div>
            <!-- main container -->

            <div class="col-8">
                <div style="text-align: center; margin-top: 25px; padding: 20px; padding-bottom: 40px;">
                </div>
                <div class="card text-center" style="">
                    <div class="card-header"> . </div>
      
                </div>
            @foreach (var item in Model.Encs) {
               <div class="container-fluid row" style="direction:rtl">
                  <div class="col">
                     <div class="row">
                         <div class="mt-1"><h4> @Html.DisplayFor(modelItem => item.Name)  </h4><hr></div>
                         <div class="mt-1"><span style="text-align:right"> @Html.DisplayFor(modelItem => item.Description)</span><hr></div>
                         <div class="mt-1"><a asp-action="Details" asp-route-id="@item.id" class="btn btn-primary">Read</a>  </div>
                       <hr>
                    </div>
                   </div>
                 
                    <div class="col">
                  <br>
                        <p>
                          <img src="@Html.DisplayFor(modelItem => item.Poster)" alt="poster" width="200" height="200" style="border-radius:14px">   
                        </p>
                 
                   </div>
           </div>
            <hr />
        }
                    <!-- paging control for navigation to the previous page, next page, etc -->
                    
                    @Html.PagedListPager(Model.Books.ToPagedList(), page => Url.Action("Index", new { page = page }),
                        new X.PagedList.Mvc.Core.Common.PagedListRenderOptions
                        {
                            DisplayItemSliceAndTotal = true,
                            ContainerDivClasses = new[] { "navigation" },
                            LiElementClasses = new[] { "page-item" },
                            PageClasses = new[] { "page-link" },
                       })
 </div>
            <!-- Ads -->
            <div class="col-sm">
                <div style="text-align: center; margin-top: 25px; padding: 20px; padding-bottom: 40px;">
                   
                    <div class="card" style="width: 12rem; ">

                        <div class="card-body">
                            <img class="card-img-top" src="img/ads.jpg" alt="Card image cap">
                            <hr />
                            <p class="card-text">Ads</p>
                        </div>
                    </div>
                    <hr>
                    <div class="card" style="width: 12rem;">

                        <div class="card-body">

                        </div>
                    </div>

                    <hr>
                    <div class="card" style="width: 12rem; ">

                        <div class="card-body">
                      </div>
                    </div>
                    <hr>
                    <div class="card" style="width: 12rem; ">

                        <div class="card-body">
                       </div>
                    </div>
                    <hr>
                    <div class="card" style="width: 12rem;">

                        <div class="card-body">

                        </div>
                      </div>
                    <hr>
                </div>
            </div>
        </div>
    </div>

</div>


  @section Scripts{
    <script>
        $(document).ready(function () {
            $('ul.pagination > li.disabled > a').addClass('page-link');
        });
    </script>
  }
    <!-- -->
    <!-- -->
    <!-- Optional JavaScript; choose one of the two! -->
    <!-- Option 6: Bootstrap Bundle with Popper -->
    <script src="~/js/js.js"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

</body>

</html>