@model IEnumerable<Stage_Books.Models.Antiques>

@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    ViewData["Title"] = "Index_d";
}

<h2>التحف الفنية والانتيكات</h2>

<p><a asp-action="Create">اضافة جديد </a></p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.madein)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.creator)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.owner)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ownercerti)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.imageurl)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.des)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.info)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.note)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.madein)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.creator)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.owner)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ownercerti)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.imageurl)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.des)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.info)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.note)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
