@model IEnumerable<Stage_Books.Models.Antiques>
@{
	Layout = "~/Views/Shared/_AdminLayout.cshtml";
	ViewData["Title"] = "Index";
}
<br />
<br />
<br />
<br />
<div class="container">
	<div class="row">
		<div class="col-md-5"></div>
		<div class="col-md-3"><h1 style="text-align:center">المؤلفين</h1></div>
		<div class="col-md-4"></div>
	</div>
</div>
<br />
<div class="row">
	<div class="col-md-6"></div>
	<div class="col-md-2"><p><a class="btn btn-warning" asp-action="Create">اضافة جديد </a></p></div>
	<div class="col-md-4"></div>
</div>
<br />
<br />
<div class="container">
	<div class="row">
		<div class="col-md-5"></div>
		<div class="col-md-6">
		</div>
		<div class="col-md-1"></div>
	</div>
</div>
<br />
<br />
<br />
<div class="container row">
	<br />
	<br />











	<div class="container">
		<div class="row">
			<div class="col-3">
			</div>
			<div class="col-6">
				<h2 style="text-align:center">موسوعة القطع الفنية النادرة   </h2>
				<h2 style="text-align:center">  والتحف والانتيكات  </h2>

			</div>
			<div class="col-3">
			</div>
		</div>
	</div>
	<hr />
	<br />
	<!-- Start: Search Section -->
	<section class="search-filters mt-5 mb-5">
		<div class="container">
			<div class="filter-box">
				@using (Html.BeginForm("Search", "Antiques", FormMethod.Post))
				{
					<div class="row">
						<div class="col-md-10 col-sm-6">
							<div class="form-group">
								<div class="" style="margin:0 auto">
									<div class="class=" col-6">
										<input style="" type="text" name="searchname" class="form-control" />
									</div>
								</div>
							</div>
						</div>

						<div class="col-md-2 col-sm-6">
							<div class="form-group">
								<input style="color:white;background-color:#ff7236;" class="form-control" type="submit" value="Search">

							</div>
						</div>
					</div>
				}
			</div>
		</div>
	</section>
	<!-- End: Search Section -->
	<hr />
	<br />
	<div class="container">
		<div class="row">
			<div class="col-2"></div>
			<div class="col-8">
				@foreach (var item in Model)
				{
					<div class="col-md-1"></div>
					<div class="col-md-1"></div>
					<div class="col-md-1"></div>
					<div class="col-md-1">
						<div class="card mb-1 ml-1" style="width: 16rem;">
							<div class="card" style="width: 22rem;">
								<div class="card-body">
									<h5 style="text-align:center" class="card-title">@Html.DisplayFor(modelItem => item.Name)</h5>
									<p style="text-align:center" class="card-text">@Html.DisplayFor(modelItem => item.madein)</p>
									<p style="text-align:center" class="card-text">@Html.DisplayFor(modelItem => item.creator)</p>
									<p style="text-align:center" class="card-text">@Html.DisplayFor(modelItem => item.ownercerti)</p>
								</div>
								<a asp-action="Details" asp-route-id="@item.id" class="btn btn-primary">@Stage_Books.languages.Resource.Read_More </a>


							</div>

							<div class="card" style="width: 24rem;">
								<img class="card-img-top" style="height:500px" src="@Html.DisplayFor(modelItem => item.imageurl)" alt="@Html.DisplayFor(modelItem => item.Name)">

							</div>

						</div>
					</div>
				}
			</div>
		</div>
