
@******************************************@
@model Stage_Books.Models.AdvRequest

@{
	Layout = "~/Views/Shared/_AdminLayout.cshtml";
	ViewData["Title"] = "Delete";
}

<div class="row">
	<div class="col-md-2"></div>
	<div class="col-md-10">
		<br />
		<br />
		<br />
		<br />
		<h2 style="text-align:center"> حذف اعلان</h2>
		<br />
		<hr />
		<br />
		<div class="container">
			<table class="table">
				<tbody>
					<tr>

						<th scope="row">@Html.DisplayNameFor(model => model.Name)</th>
						<td>@Html.DisplayFor(model => model.Name)</td>
					</tr>
					<tr>
						<th scope="row">@Html.DisplayNameFor(model => model.Phone)</th>
						<td>@Html.DisplayFor(model => model.Phone)</td>
					</tr>
					<tr>
						<th scope="row">@Html.DisplayFor(model => model.OtherWay)</th>
						<td>@Html.DisplayNameFor(model => model.OtherWay)</td>
					</tr>
					<tr>
						<th scope="row">@Html.DisplayNameFor(model => model.DateRequest)</th>
						<td>@Html.DisplayFor(model => model.DateRequest)</td>
					</tr>
					<tr>
						<th scope="row">@Html.DisplayNameFor(model => model.BookName)</th>
						<td>@Html.DisplayFor(model => model.BookName)</td>
					</tr>
					<tr>
						<th scope="row">@Html.DisplayNameFor(model => model.Description)</th>
						<td>@Html.DisplayFor(model => model.Description)</td>
					</tr>
					<tr>
						<th scope="row">@Html.DisplayNameFor(model => model.Author)</th>
						<td>@Html.DisplayFor(model => model.Author)</td>
					</tr>
					<tr>
						<th scope="row">@Html.DisplayNameFor(model => model.Topic)</th>
						<td>@Html.DisplayFor(model => model.Topic)</td>
					</tr>
                    					<tr>
						<th scope="row">@Html.DisplayNameFor(model => model.Language)</th>
						<td>@Html.DisplayFor(model => model.Language)</td>
					</tr>
                    					<tr>
						<th scope="row">@Html.DisplayNameFor(model => model.Price)</th>
						<td>@Html.DisplayFor(model => model.Price)</td>
					</tr>
                    					<tr>
						<th scope="row">@Html.DisplayNameFor(model => model.PlaceBook)</th>
						<td>@Html.DisplayFor(model => model.PlaceBook)</td>
					</tr>
                    					<tr>
						<th scope="row">@Html.DisplayNameFor(model => model.LongTime)</th>
						<td>@Html.DisplayFor(model => model.LongTime)</td>
					</tr>
                    					<tr>
						<th scope="row">@Html.DisplayNameFor(model => model.Start)</th>
						<td>@Html.DisplayFor(model => model.Start)</td>
					</tr>
					                    					<tr>
						<th scope="row">@Html.DisplayNameFor(model => model.End)</th>
						<td>@Html.DisplayFor(model => model.End)</td>
					</tr>
					                    					<tr>
						<th scope="row">@Html.DisplayNameFor(model => model.BookCover)</th>
						<td>@Html.DisplayFor(model => model.BookCover)</td>
					</tr>
										                    					<tr>
						<th scope="row">@Html.DisplayNameFor(model => model.BookFile)</th>
						<td>@Html.DisplayFor(model => model.BookFile)</td>
					</tr>
										                    					<tr>
						<th scope="row">@Html.DisplayNameFor(model => model.ApplicationUser.Id)</th>
						<td>@Html.DisplayFor(model => model.ApplicationUser.Id)</td>
					</tr>
				</tbody>
			</table>
			<br />
			<hr />
			<br />
		</div>
		<div class="container">
			    <form asp-action="Delete">
                    <input type="hidden" asp-for="id" />
                    <input type="submit" value="Delete" class="btn btn-danger" /> |
                    <a asp-action="Index">Back to List</a>
                </form>
		</div>
		<br />
		<hr />
		<br />
	</div>
</div>