
@*******************************************@
@model IEnumerable<Stage_Books.Models.AdvRequest>
@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    ViewData["Title"] = "Adv";
}
<div class="row">
    <div class="col-md-2"> </div>
    <div class="col-md-10">
        <br>
         <br>
          <br>
           <br>
    <div class="container" style="margin:0px auto; text-align:center">
        <h3 style="text-align:center"> طلبات الاعلان </h3>
    </div>

    <br><hr />

   <div class="container">
        <!-- Start: Search Section -->
        <section class="search-filters mt-5 mb-5">
            <div class="container">
                <div class="filter-box">
                    @using (Html.BeginForm("Search","AdvRequests",FormMethod.Post))
                         {
						<div class="row">
                        <div class="col-md-8 col-sm-6">
                            <div class="form-group">
                                 <div class="" style="margin:0 auto" >
                                     <div class="class="col-6">
                                          <input style="" type="text" name="searchname" class="form-control" />              
                                                    
                                      </div> 
                                  </div>
                             </div>
                        </div>
                         <div class="col-md-2 col-sm-3">
                            <div class="form-group">
                                <input style="color:white;background-color:#ff7236;" class="form-control" type="submit" value="بحث">
                            </div>
                        </div>
                         <div class="col-md-2 col-sm-3">
                            <div class="form-group">
                                <a asp-area="" asp-controller="AdvRequeste" asp-action="Index" style="color:white;" class=" btn btn-success">عودة للكل</a>
                                
                            </div>
                        </div>
						</div>
                     }
                </div>
            </div>
        </section>
        <!-- End: Search Section -->

    <br><hr />
<div class="container-fluid">
     <table class="table">
    <thead>
        <tr>
            <th>
                الاسم
            </th>
            <th>
                الهاتف
            </th>
            <th>
                وسيلة اخرى للتواصل
            </th>
            <th>
                تاريخ الاعلان
            </th>
            <th>
                اسم الكتاب
            </th>
            <th>
               السعر
            </th>
              <th>
                منفذ البيع
            </th>
            <th>
                صورة
            </th>

            <th></th>
        </tr>
    </thead>
    <tbody>
       @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Phone)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OtherWay)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateRequest)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BookName)
            </td>


            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PlaceBook)
            </td>

             <td>
               <img src="@Html.DisplayFor(modelItem => item.BookCover)"> 
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.id">Delete</a>
            </td>
         </tr>
             }
    </tbody>
</table>

</div>
    </div>
</div>
</div>
    


 