
@******************************************@
@model Stage_Books.Models.Archaeology

@{
	Layout = "~/Views/Shared/_AdminLayout.cshtml";
	ViewData["Title"] = "Delete";
}

<div class="row">
	<div class="col-md-2"></div>
	<div class="col-md-10">
		<br />
		<br />
		<br />
		<br />
		<h2 style="text-align:center"> حذف اثر</h2>
		<br />
		<hr />
		<br />
		<div class="container">
			<table class="table">
				<tbody>
					<tr>

						<th scope="row">@Html.DisplayNameFor(model => model.Name)</th>
						<td>@Html.DisplayFor(model => model.Name)</td>
					</tr>
					<tr>
						<th scope="row">@Html.DisplayNameFor(model => model.Country)</th>
						<td>@Html.DisplayFor(model => model.Country)</td>
					</tr>
					<tr>
						<td>@Html.DisplayNameFor(model => model.City)</td>
						<th scope="row">@Html.DisplayFor(model => model.City)</th>
						
					</tr>
					<tr>
						<th scope="row">@Html.DisplayNameFor(model => model.creator)</th>
						<td>@Html.DisplayFor(model => model.creator)</td>
					</tr>
					<tr>
						<th scope="row">@Html.DisplayNameFor(model => model.date)</th>
						<td>@Html.DisplayFor(model => model.date)</td>
					</tr>
					<tr>
						<th scope="row">@Html.DisplayNameFor(model => model.creator)</th>
						<td>@Html.DisplayFor(model => model.creator)</td>
					</tr>
					<tr>
						<th scope="row">@Html.DisplayNameFor(model => model.exename)</th>
						<td>@Html.DisplayFor(model => model.exename)</td>
					</tr>
					<tr>
						<th scope="row">@Html.DisplayNameFor(model => model.info)</th>
						<td>@Html.DisplayFor(model => model.info)</td>
					</tr>
					<tr>
						<th scope="row">@Html.DisplayNameFor(model => model.place)</th>
						<td>@Html.DisplayFor(model => model.place)</td>
					</tr>
					<tr>
						<th scope="row">@Html.DisplayNameFor(model => model.code)</th>
						<td>@Html.DisplayFor(model => model.code)</td>
					</tr>



				</tbody>
			</table>
			<br />
			<hr />
			<br />
		</div>
		<div class="container">
			    <form asp-action="Delete">
                    <input type="hidden" asp-for="id" />
                    <input type="submit" value="Delete" class="btn btn-default" /> |
                    <a asp-action="Index">Back to List</a>
                </form>
		</div>
		<br />
		<hr />
		<br />
	</div>
</div>