
@******************************************@

@model Stage_Books.Models.Scriptpaper

@{
	Layout = "~/Views/Shared/_AdminLayout.cshtml";
	ViewData["Title"] = "Delete";
}

<div class="row">
	<div class="col-md-2"></div>
	<div class="col-md-10">
		<br />
		<br />
		<br />
		<br />
		   <h2 style="text-align:center"> حذف مخطوطة</h2>
		<br />
		<hr />
		<br />
		<div class="container">
			<table class="table">
				<tbody>
					<tr>

						<th scope="row">@Html.DisplayNameFor(model => model.scriptname)</th>
						<td>@Html.DisplayFor(model => model.scriptname)</td>
					</tr>
					<tr>
						<th scope="row">@Html.DisplayNameFor(model => model.scriptdiscription)</th>
						<td>@Html.DisplayFor(model => model.scriptdiscription)</td>
					</tr>
					<tr>
						<td>@Html.DisplayNameFor(model => model.scriptlang)</td>
						<th scope="row">@Html.DisplayFor(model => model.scriptlang)</th>
						
					</tr>
					<tr>
						<th scope="row">@Html.DisplayNameFor(model => model.scriptdiscovored)</th>
						<td>@Html.DisplayFor(model => model.scriptdiscovored)</td>
					</tr>
					<tr>
						<th scope="row">@Html.DisplayNameFor(model => model.scriptdiscovoreddate)</th>
						<td>@Html.DisplayFor(model => model.scriptdiscovoreddate)</td>
					</tr>
					<tr>
						<th scope="row">@Html.DisplayNameFor(model => model.scriptdiscovoredpalce)</th>
						<td>@Html.DisplayFor(model => model.scriptdiscovoredpalce)</td>
					</tr>
					<tr>
						<th scope="row">@Html.DisplayNameFor(model => model.scriptwriterby)</th>
						<td>@Html.DisplayFor(model => model.scriptwriterby)</td>
					</tr>
					<tr>
						<th scope="row">@Html.DisplayNameFor(model => model.scripttopic)</th>
						<td>@Html.DisplayFor(model => model.scripttopic)</td>
					</tr>
						<tr>
						<th scope="row">@Html.DisplayNameFor(model => model.scriptdate)</th>
						<td>@Html.DisplayFor(model => model.scriptdate)</td>
					</tr>
					<tr>
						<th scope="row">@Html.DisplayNameFor(model => model.scriptcategory)</th>
						<td>@Html.DisplayFor(model => model.scriptcategory)</td>
					</tr>
                   	<tr>
						<th scope="row">@Html.DisplayNameFor(model => model.scriptcode)</th>
						<td>@Html.DisplayFor(model => model.scriptcode)</td>
					</tr>
                    <tr>
						<th scope="row">@Html.DisplayNameFor(model => model.scriptpalcestore)</th>
						<td>@Html.DisplayFor(model => model.scriptpalcestore)</td>
					</tr>
				</tbody>
			</table>
			<br />
			<hr />
			<br />
		</div>
		<div class="container">
			    <form asp-action="Delete">
                    <input type="hidden" asp-for="id" />
                    <input type="submit" value="Delete" class="btn btn-danger" /> |
                    <a asp-action="Index">Back to List</a>
                </form>
		</div>
		<br />
		<hr />
		<br />
	</div>
</div>







