@*@model IEnumerable<Stage_Books.Models.Scriptpaper>*@
@using X.PagedList.Mvc.Core.Common;
@using X.PagedList.Web.Common;
@using X.PagedList;
@using X.PagedList.Mvc.Core; <!--import to get HTML Helper-->
@model Stage_Books.Models.Showdatamodel

@{
    ViewData["Title"] = "Index";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <title>S T A G E</title>
    <meta name="viewport" content="width=device-width, initial-scale=6">
    <meta name="descrption" content="Best website to Find any Books">
    <meta name="keywords" content=" مخطوطات ,مخطوطات ستيج, موسوعة منصة ستيح ,  مخطوطات اسلامية , مخطوطات قبطية   ,  مخطوطات مصرية قديمة , مخطوطات يونانية, مخطوطات عبرية   , stage , Authors Encyclopedia" />
    <link rel="icon" href="img/stage_logo.png" type="" sizes="">
    <link rel="shortcut icon" href="img/stage_logo.png" type="" sizes="">
    <link rel="apple-touch-icon" href="img/stage_logo.png">
    	<link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Cairo&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Cairo&display=swap" rel="stylesheet">
    <link href="~/css/style.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link href="css/style.css" rel="stylesheet">
</head>
<body>
    <div class="container-fluid manu">
         <div class="row container" style="opacity:1">
             
         </div>
         <div class="row">
            <div class="col-2"> 
                <br />
                <br />
                <br />
                     <br />
                    <hr />
                <div style="background-color:#E4CFA1">
                    <ul class="list-group list-group-flush">
                      <li class="list-group-item"><a href="#">Manuscripts by Name</a></li>
                      <li class="list-group-item"><a href="#">langanguage</a></li>
                      <li class="list-group-item"><a href="#">discovored date</a></li>
                      <li class="list-group-item"><a href="#">discovored palce</a></li>
                      <li class="list-group-item"><a href="#">topic</a></li>
                      <li class="list-group-item"><a href="#">writerby</a></li>
                      <li class="list-group-item"><a href="#">category</a></li>
                      <li class="list-group-item"><a href="#">date of Manuscripts</a></li>
                      <li class="list-group-item"><a href="#">palce store</a></li>
                      <li class="list-group-item"><a href="#">images Gallary</a></li>
                    </ul>

                </div>

                               <!--cat -->
         <div class="col-sm">
                <div style="text-align: center; margin-top: 25px; padding: 20px; padding-bottom: 40px;">
                    @*<h3>@Stage_Books.languages.Resource.Categories</h3>*@
                    <div class="list-group">
                      <div class="p-3 mb-2 bg-secondary text-white">Topic</div>
                    </div>
                     @if(!Model.Books.Any())
                        {
                            <div class="alert alert-danger" role="alert">
                                No Data !
                            </div>
                        }
                        else
                        {
                        @foreach (var item in Model.Books)
                       {
                           <a href="#" class="list-group-item list-group-item-action">
                               @item.Topic
                           </a>
                           }
                        }
                <br />
                   	<a class="nav-link text-info" href="../Home/gototopic">More Topics ..<span class="sr-only">(current)</span></a>
                    <hr>
                <div class="list-group">
                        <div class="p-3 mb-2 bg-secondary text-white">
                            @Stage_Books.languages.Resource.Authors
                        </div>
                        @if(!Model.Books.Any())
                        {
                            <div class="alert alert-danger" role="alert">
                                No Data !
                            </div>
                        }
                        else
                        {
                      
                          @foreach (var item in Model.Books)
                          {
                           <a href="#" class="list-group-item list-group-item-action">
                               @item.Author.Name
                           </a>      
                          }
                        }
                    </div>
                    <a class="nav-link text-info" href="../Home/gotoauthors">More @Stage_Books.languages.Resource.Authors ..<span class="sr-only">(current)</span></a>
                    <hr>
                    <div class="list-group">
                        <div class="p-3 mb-2 bg-secondary text-white">
                            @Stage_Books.languages.Resource.Categories
                        </div>
                        @if(!Model.Books.Any())
                        {
                            <div class="alert alert-danger" role="alert">
                                No Data !
                            </div>
                        }
                        else
                        {
                        @foreach (var item in Model.Books)
                          {
                           <a href="#" class="list-group-item list-group-item-action">
                               @item.Category
                           </a>
                          }
                         }
                    </div>
                    	<a class="nav-link text-info" href="../Home/gotocat">More @Stage_Books.languages.Resource.Categories ..<span class="sr-only">(current)</span></a>
                    <hr />
               <div class="list-group">
                            <div class="p-3 mb-2 bg-secondary text-white">
                              @Stage_Books.languages.Resource.Books_Language
                            </div>
                    <a class="list-group-item list-group-item-action" href="#list-item-1">@Stage_Books.languages.Resource.English</a>
                    <a class="list-group-item list-group-item-action" href="#list-item-2">@Stage_Books.languages.Resource.Arabic</a>
                    <a class="list-group-item list-group-item-action" href="#list-item-3">@Stage_Books.languages.Resource.French</a>
                    <a class="list-group-item list-group-item-action" href="#list-item-4">@Stage_Books.languages.Resource.Spanich</a>
                    <a class="list-group-item list-group-item-action" href="#list-item-5">@Stage_Books.languages.Resource.German</a>
                    <a class="list-group-item list-group-item-action" href="#list-item-6">@Stage_Books.languages.Resource.Hindi</a>

                     </div>
                        <button class="btn btn-outline-primary my-2 my-sm-0" type="submit" hidden>Read More ...</button>
                        <hr>
                    </div>
            </div>
            </div>
            <div class="col-9">       
                    <br />
                    <br />
                        <form class="form-inline">
                          <div class="form-group mb-2">
                            <label for="staticEmail2" class="sr-only">Email</label>
                            <input type="text" readonly class="form-control-plaintext" id="staticEmail2" value="@Stage_Books.languages.Resource.Search">
                          </div>
                          <div class="form-group mx-sm-3 mb-2">
                           
                            <input type="text" class="form-control" id="inputPassword2" placeholder="@Stage_Books.languages.Resource.Search">
                          </div>
                          <button type="submit" class="btn btn-primary mb-2">@Stage_Books.languages.Resource.Search </button>
                        </form>
                    <br />
                    <hr />

                  <div class="container">
                      <h1 style="text-align:center">Manuscripts</h1>
                      <div class="container" style="text-align:center;margin:0px auto">
                            <br />
                            <img src="~/img/anobis.jpg" class="img-fluid w-75"  style="border:1px solid white;border-radius:10px;margin-left:20px"/> 
                      </div>
                      <br />
                      <hr />
                      <div class="container">
                        @foreach (var item in Model.Scriptpaper){
                          <div class="card" style="width: 18rem;">
                                  <img src="@Html.DisplayFor(modelItem => item.scripturl)" class="card-img-top" alt="...">
                                  <div class="card-body">
                                    <h5 class="card-title">@Html.DisplayFor(modelItem => item.scriptname)</h5>
                                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                  </div>
                                  <ul class="list-group list-group-flush">
                                    <li class="list-group-item">@Html.DisplayFor(modelItem => item.scriptdiscription)</li>
                                    <li class="list-group-item">@Html.DisplayFor(modelItem => item.scriptlang)</li>
                                    <li class="list-group-item"> @Html.DisplayFor(modelItem => item.scripttopic)</li>
                                   <li class="list-group-item">@Html.DisplayFor(modelItem => item.scriptdate)</li>
                                </ul>
                                  <div class="card-body">
                                    <a asp-action="Details" asp-route-id="@item.id" class="card-link">Details</a>
                                   
                                  </div>
                                </div>
                                }
                    <!-- paging control for navigation to the previous page, next page, etc -->
                    
                    @Html.PagedListPager(Model.Books.ToPagedList(), page => Url.Action("Index", new { page = page }),
                        new X.PagedList.Mvc.Core.Common.PagedListRenderOptions
                        {
                            DisplayItemSliceAndTotal = true,
                            ContainerDivClasses = new[] { "navigation" },
                            LiElementClasses = new[] { "page-item" },
                            PageClasses = new[] { "page-link" },
                       })
                      </div>

                  

                </div>
            </div>
            <div class="col-1">

            </div>
         </div>
    </div>

        <!-- Footer  -->
    <div class="container-fluid" style="background-color: #333333;">
		<div class="row">
			<div class="col" style="text-align: center; padding: 7px;">
				<span style="color: white; font-size: 2rem;">S T A G E </span>
			</div>
		</div>
		<div class="row">
			<div class="col" style="text-align: center; padding: 10px; margin: 15px;">
			</div>
		</div>
		<div class="row">
			<div class="col-6" style="">
				<div class="row">
					<span style="color:#333333; font-size: 1.5rem; text-align: center;">Contact Us </span>
				</div>
				<div class="row">
					<img src="~/img/home.png" alt="Facebook" title="Facebook" width="30" height="30"
						 style="margin-left: 25px;margin-top: 5px;"> <a class="nav-link" href="#" style="color:white;">
						@Stage_Books.languages.Resource.Home<span class="sr-only">(current)</span>
					</a>
				</div>
				<div class="row">
					<img src="~/img/about-us.jpg" alt="Facebook" title="Facebook" width="30" height="30"
						 style="margin-left: 25px;margin-top: 5px;"> <a class="nav-link" href="#" style="color:white;">
						@Stage_Books.languages.Resource.About_Stage
						<span class="sr-only">(current)</span>
					</a>
				</div>
				<div class="row">
					<img src="~/img/services-icon-4.jpg" alt="Facebook" title="Facebook" width="30" height="30"
						 style="margin-left: 25px;margin-top: 5px;"> <a class="nav-link" href="#" style="color:white;">
						@Stage_Books.languages.Resource.Our_Services
						<span class="sr-only">(current)</span>
					</a>
				</div>
				<div class="row">
					<img src="~/img/community.png" alt="Facebook" title="Facebook" width="30" height="30"
						 style="margin-left: 25px;margin-top: 5px;"> <a class="nav-link" href="#" style="color:white;">
						@Stage_Books.languages.Resource.Our_Message
						<span class="sr-only">(current)</span>
					</a>
				</div>
				<div class="row">
					<img src="~/img/facebook.png" alt="Facebook" title="Facebook" width="30" height="30"
						 style="margin-left: 25px;margin-top: 5px;"> <a class="nav-link" href="#" style="color:white;">
						@Stage_Books.languages.Resource.Join_Us<span class="sr-only">(current)</span>
					</a>
				</div>
			</div>

			<div class="col-6" style="text-align: center;">
				<div class="row">
					<span style="color: white; font-size: 1.5rem; text-align: center;">Contact Us</span>
				</div>
				<div class="row">
					<a class="nav-link" href="#" style="color:white;">
						<img src="~/img/facebook.png" alt="Facebook" title="Facebook"
							 width="30" height="30"> <span class="sr-only">(current)</span><span style="color:white;margin-left:15px">Facebook</span>
					</a>
				</div>
				<div class="row">
					<a class="nav-link" href="#" style="color:white;">
						<img src="~/img/twitter.jpg" alt="twitter" title="twitter"
						 width="33" height="33"> <span class="sr-only">(current)</span><span style="color:white;margin-left:15px">Twitter</span>
					</a>
				</div>
				<div class="row">
					<a class="nav-link" href="#" style="color:white;">
						<img src="~/img/youtube.jpg" alt="youtube" title="youtube"
							 width="30" height="30"> <span class="sr-only">(current)</span><span style="color:white;margin-left:15px">Youtube</span>
					</a>
				</div>
				<div class="row">
					<a class="nav-link" href="https://mail.google.com/" style="color:white;" target="_blank">
						<img src="~/img/Gmail.ico" alt="Gmail" title="Gmail"
						width="30" height="30"> <span class="sr-only">(current)</span><span style="color:white;margin-left:15px">stage.books.2022@gmail.com</span>
					</a>
				</div>
			</div>
		</div>
		<div class="row" hidden>
			<div class="col " style="text-align: center; border-radius: 5px; ">
				<h5 style="color: white; margin-top: 15px">@Stage_Books.languages.Resource.Visitors</h5>
				<img src="~/img/Statistic.png" alt="visitors" width="40" height="30" />
				<p style="color: white; margin-top: 10px;">0</p>
			</div>
		</div>
		<div class="row">
			<div class="col" style="text-align: center; padding: 7px;">
				<span style="color: white;">&copy; Copyright Stage 2022</span>
			</div>
		</div>
	</div>
    <!-- -->
    <!-- -->
    <!-- Optional JavaScript; choose one of the two! -->
    <!-- Option 6: Bootstrap Bundle with Popper -->
    <script src="~/js/js.js"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

</body>
</html>