@*@model IEnumerable<Stage_Books.Models.Encyclopedia.Enc>*@
@model Stage_Books.Models.Showdatamodel
@{
    ViewData["Title"] = "gotoenc";
}

<h1>gotoenc</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Encs) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FullName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Category)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Store)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Poster)
            </td>
            <td>
                <a asp-action="Details" asp-route-id="@item.id">Details</a> 
            </td>
        </tr>
}
    </tbody>
</table>
