@using X.PagedList.Mvc.Core.Common;
@using X.PagedList.Web.Common;
@using X.PagedList;
@using X.PagedList.Mvc.Core; 
@using System.Security.Claims
@using Microsoft.AspNetCore.Builder
@using Microsoft.AspNetCore.Localization
@using Microsoft.Extensions.Options
@using Microsoft.AspNetCore.Http.Features
@using Microsoft.AspNetCore.Mvc.Localization
@using Stage_Books.Models.Account
@inject IViewLocalizer localizer
@inject IOptions<RequestLocalizationOptions> locoption
@{
	var requestculture = Context.Features.Get<IRequestCultureFeature>();
	var culitems = locoption.Value.SupportedUICultures.Select(c => new SelectListItem
			{
				Value = c.Name,
				Text = c.NativeName
			}).ToList();
	var returnurl = string.IsNullOrEmpty(Context.Request.Path) ? "~/" : $"~{Context.Request.Path.Value}";
    }
@inject SignInManager<ApplicationUser> signInManager;

<!--import to get HTML Helper-->
@model Stage_Books.Models.Showdatamodel
@*@model IPagedList<Stage_Books.Models.Showdatamodel>*@
@{
    ViewData["Title"] = "Home Page";
}

<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <title>S T A G E</title>
    <meta name="viewport" content="width=device-width, initial-scale=6">
    <meta name="descrption" content="Best website to Find any Books">
    <meta name="keywords" content=" كتب عالمية مترجمة  مكتبة,اكبر مكتبة لتحميل الكتب مجانا,اكبر مكتبة كتب,كتب,أكبر مكتبة,اكبر مكتبة للكتب الاسلامية,اكبر مكتبة شخصية,اكبر مكتبة يوغي يو,اكبر مكتبة اسلامية,اكبر مكتبة في العالم,اكبر مكتبة شخصية في العالم,اكبر مكتبة اسلامية,اهم اكبر مكتبة كتب الكترونية في العالم .,أكبر مكتبة في العالم ,كتب ادب ">
    <!-- Bootstrap CSS -->
    <link rel="icon" href="~/img/stage_logo1.png" type="" sizes="">
    <link rel="shortcut icon" href="~/img/stage_logo1.png" type="" sizes="">
    <link rel="apple-touch-icon" href="~/img/stage_logo1.png">
    <link href="css/font-awesome.min.css" rel="stylesheet" type="text/css" />
    @*<link href="~/css/style.css" rel="stylesheet">*@
    <link href="~/css/newstyle.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i%7CLato:100,100i,300,300i,400,400i,700,700i,900,900i" rel="stylesheet" />
    <link href="~/img/favicon.ico" rel="icon" type="image/x-icon" />
    <link href="~/css/mmenu.css" rel="stylesheet" type="text/css" />
    <link href="~/css/mmenu.positioning.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">


   <link rel="preconnect" href="https://fonts.googleapis.com">
	 <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Cairo&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	  @*<link href="~/css/style.css" rel="stylesheet">*@
	

</head>
<body style="font-family:cairo,Roboto"> <!-- oncontextmenu="return false;"-->
     <div class="container-fluid header-topbar hidden-sm hidden-xs" style="background-color:#333333;height:60px;padding-top:12px">
           <div class="" style="display: flex;align-items: stretch;">
             <div class="" style="flex-grow: 2;color:#ff7236; text-align: center;">
                 <img class="mr-3" src="~/img/stage_logo1.png" alt="LIBRARIA" width="35" height="35" />
                 <span style="font-size:20px;margin-top:10px;color:#ff7236;">S T A G E</span>
              </div>
             <div class="" style="flex-grow: 7;color:white ;text-align: center;">
                 <nav style="color:white"> 
                     <a class="mr-5" style="font-size:20px;color:#ff7236;" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                     <a class="mr-5" style="font-size:17px;" asp-area="" asp-controller="publicpages" asp-action="about_stage">@Stage_Books.languages.Resource.About</a>
                     <a class="mr-5" style="font-size:17px;" asp-area="" asp-controller="publicpages" asp-action="service">@Stage_Books.languages.Resource.Services</a>
                     <a class="mr-5" style="font-size:17px;" asp-area="" asp-controller="publicpages" asp-action="policy">@Stage_Books.languages.Resource.Help</a>
                     <a class="mr-5" style="font-size:17px;" asp-area="" asp-controller="publicpages" asp-action="policy">@Stage_Books.languages.Resource.Policy</a>
                     <a class="mr-5" style="font-size:17px;" asp-area="" asp-controller="Help" asp-action="Help">Orders</a>
                     <a class="mr-5" style="font-size:17px;" asp-area="" asp-controller="Contactmsgs" asp-action="Create">@Stage_Books.languages.Resource.Contact</a>
                 </nav>

                 </div>
             <div class="" style="flex-grow: 1;color:white;text-align: center;">
                 <div class="row" style="">
                     @if (signInManager.IsSignedIn(User) && User.IsInRole("Admin"))
                     {
                     <div class="col-sm-3" style="color:white">
                          <a asp-action="Index" asp-controller="Books" class="btn w-100" style="margin-right:10px;font-size:17px">الادارة</a>
                     </div>
                     }
                     @{string id = User.FindFirst(ClaimTypes.NameIdentifier)?.Value;}
                     @if (signInManager.IsSignedIn(User) && id != null)
                    {
                            @*<span style="margin-top:7px;font-size:15px;">@User.Identity.Name</span>*@
                     <div class="dropdown" style="margin-right:20px;">
                      <button style="font-size:20px;color:black;background-color:white;border-radius:65%;" class="btn dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                             <img src="../img/unkown.png" alt="User" width="22" height="22">
                      </button>
                      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <a style="font-size:15px;color:#333333" class="dropdown-item" asp-area="" asp-controller="" asp-action="">@User.Identity.Name</a>
                        <div class="dropdown-divider"></div>
                        <a style="font-size:15px;color:#333333" class="dropdown-item" asp-area="" asp-controller="" asp-action="">Profile</a>
                        <div class="dropdown-divider"></div>
                        <a style="font-size:15px;color:#333333" class="dropdown-item" asp-area="" asp-controller="" asp-action="">Edit</a>
                        @*<div class="dropdown-divider"></div>
                        <a style="font-size:17px;background-color:#ff7236;color:white;" class="dropdown-item btn" href="#">More</a>*@
                      </div>
                    </div>

                    <form method="post" asp-action="Logout" asp-controller="Account" class="form-inline">
                          <button type="submit" class="btn  my-2 my-sm-0 mr-3" style="background-color:#ff7236;height:28px">Logout</button>
                    </form>
                    }
                    else{
				            <a asp-action="Login" asp-controller="Account"><i class="fa fa-lock" ></i>Login /</a>
                            <a asp-action="Register" asp-controller="Account"> Register</a>
                    }


@*                          @{string id = User.FindFirst(ClaimTypes.NameIdentifier)?.Value;
*@				             @*if (id != null)
				                {
                                  <div class="col-sm-3" style="color:white">
					              <a asp-action="SaveBook" asp-controller="Home" asp-route-id="@id">
						             <img src="../img/unkown.png" alt="User" width="25" height="25" style="border:1px solid white;border-radius:50%">
					              </a>
                                  </div>
				                 }*@
                  </div>
             </div>
        </div>
        </div>
        <div class="container-fluid header-topbar hidden-sm hidden-xs" style="background-color:#333333;height:60px;padding-top:12px;border-top:2px solid #ff7236;">
           <div class="" style="display: flex;align-items: stretch;">
             <div class="" style="flex-grow: 12;color:white ;text-align: center;">
                 <nav style="color:white"> 
                     
                     <a class="mr-5" style="font-size:17px;" asp-area="" asp-controller="Home" asp-action="gotobooks">@*@Stage_Books.languages.Resource.*@eBooks</a>
                     <a class="mr-5" style="font-size:17px;" asp-area="" asp-controller="Encs" asp-action="Index">@Stage_Books.languages.Resource.Encyclopedia</a>
                     <a class="mr-5" style="font-size:17px;" asp-area="" asp-controller="AudioBooks" asp-action="Index">@*@Stage_Books.languages.Resource.*@Audio </a>
                     <a class="mr-5" style="font-size:17px;" asp-area="" asp-controller="Scriptpapers" asp-action="Index">Manuscripting</a>
                     <a class="mr-5" style="font-size:17px;" asp-area="" asp-controller="AllNewsPapers" asp-action="Index">الجرائد</a>
                     <a class="mr-5" style="font-size:17px;" asp-area="" asp-controller="paperssearchers" asp-action="Index">الاوراق البحثية</a>
                     <a class="mr-5" style="font-size:17px;" asp-area="" asp-controller="Theses" asp-action="Index">الرسائل العلمية</a>
                     <a class="mr-5" style="font-size:17px;" asp-area="" asp-controller="Archaeologies" asp-action="Index">موسوعة الاثار</a>
                     <a class="mr-5" style="font-size:17px;" asp-area="" asp-controller="Antiques" asp-action="Index">التحف والانتيكات</a>
                     <a class="mr-5" style="font-size:17px;" asp-area="" asp-controller="documentaries" asp-action="Index">الافلام الوثائقية</a>
                     <a class="mr-5" style="font-size:17px;" asp-area="" asp-controller="Categories" asp-action="Index">تصنيفات</a>
                     <a class="mr-5" style="font-size:17px;" asp-area="" asp-controller="Authors" asp-action="Index">مؤلفين</a>

                         
                    
                 </nav>

                 </div>
        </div>
        </div>
        <!-- End: Header Section -->
        <header id="header-v1" class="navbar-wrapper">
            <div class="container">
                <div class="row">
                    <nav class="navbar navbar-default">
                        <div class="row">

                            <div class="col-9">
                                <!-- Header Topbar -->
                                <div class="header-topbar hidden-sm hidden-xs">

                                              <ul class="nav navbar-nav" style="">
                                                <li class="dropdown" title="@localizer["Request culture provider:"] @requestculture?.Provider?.GetType().Name">
                                                  <a data-toggle="dropdown" class="dropdown-toggle disabled" href="#"><i style="color:#ff7236" class="bi bi-translate mr-2"></i>@Stage_Books.languages.Resource.Language</a>
                                                 <ul class="dropdown-menu">
                                                   <form id="selectlanguage" asp-controller="Home" asp-action="setlang" asp-route-returnurl="@returnurl" method="post">
                                                        <select class="form-control form-control-sm" name="culture" onchange="this.form.submit()" asp-for="@requestculture.RequestCulture.UICulture.Name" asp-items="culitems">

                                                        </select>
                                                   </form>
                                                </ul>
                                               </li>
                                            </ul>
                                          </div>
                                        </div>
                                       
                                </div>

                        
                    </nav>
                </div>
            </div>
        </header>

        @*<div class="container">
          <div class="row">
              <div class="col-md-3">
              </div>
               <div class="col-md-3">
              </div>
          </div>
        </div>
        <br />*@

        <!-- End: Header Section -->
     <!-- Start: Slider Section -->
        <div data-ride="carousel" class="carousel slide" id="home-v1-header-carousel">
           
            <!-- Carousel slides -->
            <div class="carousel-inner">
                <div class="item active">
                    <figure>
                       <img alt="Home Slide" src="~/img/s1.jpg" />
                    </figure>
                    <div class="container">
                        <div class="carousel-caption">
                            <h1>S T A G E</h1>
                            <h3>! تعلم واقراْ اون لاين فى اى وقت من اى مكان</h3>
                            <h2>اكتشف مزيد من المعارف</h2>
                            <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humor, or randomized words.</p>
                            <div class="slide-buttons hidden-sm hidden-xs">    
                                <a style="background-color:#ff7236; width:200px;font-size:20px" class="btn ">@Stage_Books.languages.Resource.Read_More</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <figure>
                       <img alt="Home Slide" src="~/img/s1.jpg" />
                    </figure>
                    <div class="container">
                        <div class="carousel-caption">
                            <h1>S T A G E </h1>
                            <h2>احصل على نسخة مطبوعة </h2>
                            <p>احصل على نسخة مطبوعة من اى كتاب قد يهمك او تتمنى اقتنائه من خلالنا </p>
                            <a style="background-color:#ff7236; width:200px;font-size:20px" class="btn ">@Stage_Books.languages.Resource.Read_More</a>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <figure>
                        <img alt="Home Slide" src="~/img/s1.jpg" />
                    </figure>
                    <div class="container">
                        <div class="carousel-caption">
                            <h1>S T A G E</h1>
                            <h3>منصة ستيج للكتب</h3>
                            <h2>تصفح ملايين الكتب والابحاث</h2>
                            <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humor, or randomized words.</p>
                            <a style="background-color:#ff7236; width:200px;font-size:20px" class="btn ">@Stage_Books.languages.Resource.Read_More</a>
                        </div>
                    </div>
                </div>
            </div>
            
            <!-- Controls -->
            <a class="left carousel-control" href="#home-v1-header-carousel" data-slide="prev"></a>
            <a class="right carousel-control" href="#home-v1-header-carousel" data-slide="next"></a>
        </div>
        <!-- End: Slider Section -->
        <br />
        <br />
        <br />
        <!-- Start: category filter drop Section -->
        <div class="container">
            <div class="row">
              <div class="col-sm-3">
                  <div class="dropdown">
                      <button style="font-size:20px;color:black;background-color:white" class="btn dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Books Categories
                      </button>
                      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <a style="font-size:17px;" class="dropdown-item" href="#">ادب</a>
                        <a style="font-size:17px;" class="dropdown-item" href="#">سياسة </a>
                        <a style="font-size:17px;" class="dropdown-item" href="#">قانون</a>
                        <a style="font-size:17px;" class="dropdown-item" href="#">تاريخ </a>
                        <a style="font-size:17px;" class="dropdown-item" href="#">دين </a>
                        <a style="font-size:17px;" class="dropdown-item" href="#">فن </a>
                        <div class="dropdown-divider"></div>
                        <a style="font-size:17px;background-color:#ff7236;color:white;" class="dropdown-item btn" href="#">More</a>
                      </div>
                    </div>
              </div>
              <div class="col-sm-3">
                 <div class="dropdown">
                      <button style="font-size:20px;color:black;background-color:white" class="btn dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Books Languages
                      </button>
                      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <a style="font-size:17px;" class="dropdown-item" asp-area="" asp-controller="Home" asp-action="Searchbyrabic">عربى - Arabic</a>
                        <a style="font-size:17px;" class="dropdown-item" asp-area="" asp-controller="Home" asp-action="Searchbyenglish">انجليزية - English </a>
                        <a style="font-size:17px;" class="dropdown-item" asp-area="" asp-controller="Home" asp-action="Searchbyfrench">فرنسى - French</a>
                        <a style="font-size:17px;" class="dropdown-item" asp-area="" asp-controller="Home" asp-action="Searchbyspanish">اسبانى - Spanish</a>
                        <a style="font-size:17px;" class="dropdown-item" asp-area="" asp-controller="Home" asp-action="Searchbygerman">المانى - German </a>
                        <a style="font-size:17px;" class="dropdown-item" asp-area="" asp-controller="Home" asp-action="Searchbyhindi">هندى - Hindi </a>
                      </div>
                    </div>
              </div>
              <div class="col-sm-3">
                  <div class="dropdown">
                      <button style="font-size:20px;color:black;background-color:white" class="btn dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Services Categories
                      </button>
                      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <a style="font-size:17px;" class="dropdown-item" href="#">خدمات المؤلفين</a>
                        <a style="font-size:17px;" class="dropdown-item" href="#">خدمات دور النشر </a>
                        <a style="font-size:17px;" class="dropdown-item" href="#">خدمات اعلانية</a>
                        <a style="font-size:17px;" class="dropdown-item" href="#">خدمات طلب الكتب </a>
                        @*<div class="dropdown-divider"></div>
                        <a style="font-size:17px;background-color:#ff7236;color:white;" class="dropdown-item btn" href="#">More</a>*@
                      </div>
                    </div>
              </div>
              <div class="col-sm-3">
                  <div class="dropdown">
                      <button style="font-size:20px;color:black;background-color:white" class="btn dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        All Stage Categories
                      </button>
                      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <a style="font-size:17px;" class="dropdown-item" asp-area="" asp-controller="" asp-action="">كتب الكترونية</a>
                        <a style="font-size:17px;" class="dropdown-item" asp-area="" asp-controller="" asp-action="">كتب صوتية </a>
                        <a style="font-size:17px;" class="dropdown-item" asp-area="" asp-controller="" asp-action=""> موسوعة المؤلفين</a>
                        <a style="font-size:17px;" class="dropdown-item" asp-area="" asp-controller="" asp-action=""> الاوراق البحثية </a>
                        <a style="font-size:17px;" class="dropdown-item" asp-area="" asp-controller="" asp-action=""> الرسائل العلمية</a>
                        <a style="font-size:17px;" class="dropdown-item" asp-area="" asp-controller="" asp-action=""> الافلام الوثائقية</a>
                        <a style="font-size:17px;" class="dropdown-item" asp-area="" asp-controller="" asp-action=""> موسوعة الاثار</a>
                        <a style="font-size:17px;" class="dropdown-item" asp-area="" asp-controller="" asp-action=""> التحف والانتيكات </a>
                        <a style="font-size:17px;" class="dropdown-item" asp-area="" asp-controller="" asp-action=""> ارشيف المخطوطات</a>
                        <a style="font-size:17px;" class="dropdown-item" asp-area="" asp-controller="" asp-action=""> ارشيف الجرائد </a>
                        @*<div class="dropdown-divider"></div>
                        <a style="font-size:17px;background-color:#ff7236;color:white;" class="dropdown-item btn" href="#">More</a>*@
                      </div>
                    </div>
              </div>
        </div>
        </div>
        <!-- End: Books & Media Section -->
         <br />
        <br />
        <!-- Start: Search Section -->
        <section class="search-filters mt-5 mb-5">
            <div class="container">
                <div class="filter-box">
                    <h3>What are you looking for at the library?</h3>
                    @using (Html.BeginForm("Search","Home",FormMethod.Post))
                         {
                        <div class="col-md-10 col-sm-6">
                            <div class="form-group">
                                 <div class="" style="margin:0 auto" >
                                     <div class="class="col-6">
                                          <input type="text" name="searchname" class="form-control" />              
                                               @*<input type="submit" value="Search" />   *@           
                                      </div> 
                                  </div>
                             </div>
                        </div>

                         <div class="col-md-2 col-sm-6">
                            <div class="form-group">
                                <input class="form-control" type="submit" value="Search">
                                
                            </div>
                        </div>
                                    }

                            
                        @*<div class="col-md-3 col-sm-6">
                            <div class="form-group">
                                <select name="catalog" id="catalog" class="form-control">
                                    <option>Search the Catalog</option>
                                    <option>Catalog 01</option>
                                    <option>Catalog 02</option>
                                    <option>Catalog 03</option>
                                    <option>Catalog 04</option>
                                    <option>Catalog 05</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6">
                            <div class="form-group">
                                <select name="category" id="category" class="form-control">
                                    <option>All Categories</option>
                                    <option>Category 01</option>
                                    <option>Category 02</option>
                                    <option>Category 03</option>
                                    <option>Category 04</option>
                                    <option>Category 05</option>
                                </select>
                            </div>
                        </div>*@
                       
                </div>
            </div>
        </section>
        <!-- End: Search Section -->
         <br />
        <br />

         <!-- Start: Category Filter -->
        <section class="category-filter section-padding" style="background-image: url(img/project-filter-bg-home-v1.jpg);">
             <div class="container">
                   <div class="center-content">
                                    <div class="row">
                                        <div class="col-md-6 col-md-offset-3">
                                            <h2 class="section-title">Check Stage Books</h2>
                                            <span class="underline center"></span>
                                            <p class="lead">The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for those interested.</p>
                                        </div>
                                    </div>
                       </div>
                                    @*<div class="filter-buttons">
                                    <div class="filter btn" data-filter="all">All Releases</div>
                                    <div class="filter btn" data-filter=".adults">Adults</div>
                                    <div class="filter btn" data-filter=".kids-teens">Kids &amp; Teens</div>
                                    <div class="filter btn" data-filter=".video">Video</div>
                                    <div class="filter btn" data-filter=".audio">Audio</div>
                                    <div class="filter btn" data-filter=".books">Books</div>
                                    <div class="filter btn" data-filter=".magazines">Magazines</div>
                                </div>*@
                            
                            <div id="category-filter">
                                <ul class="category-list">
                                     @if(!Model.Books.Any())
                                     {
                                            <div class="alert alert-danger" role="alert">
                                                No Data !
                                            </div>
                                     }
                                     else
                                     {
                                    @foreach (var item in Model.Books)
                                   {
                                      <li class="category-item adults" >
                                        <figure>
                                            <img src="@item.ImageURL" alt="New Releaase" />
                                            <figcaption class="bg-orange">
                                                <div class="info-block">
                                                    <h4>@item.Name</h4>
                                                    <span class="author"><strong>@Stage_Books.languages.Resource.Author : </strong>@item.Author.Name</span>
                                                    <span class="author"><strong>@Stage_Books.languages.Resource.Language : </strong>@item.Language</span>
                                                   @* <span class="author"><strong>Topic:</strong>@item.Topic</span>*@

                                                   @* <div class="rating">
                                                        <span>☆</span>
                                                        <span>☆</span>
                                                        <span>☆</span>
                                                        <span>☆</span>
                                                        <span>☆</span>
                                                    </div>*@
                                                    @*<p>@item.Desc</p>*@
                                                    <br>
                                                    <a asp-controller="books" asp-action="Book_Details" asp-route-id="@item.ID">Read Details <i class="fa fa-long-arrow-right"></i></a>
                                                    <ol>
                                                        <li>
                                                           
                                                            
                                                        </li>
                                                        <li>
                                                            <a >
                                                        <span class="">
                                                            </span>
                                                    </a>
                                                            
                                                        </li>
                                                        <li>
                                                            
                                                        </li>
                                                        <li>
                                                            
                                                        </li>
                                                         <li>
                                                            
                                                        </li>
                                                    </ol>
                                                    <ol>
                                                        <li>
                                                            <a asp-area="" asp-controller="OrderViewModels" asp-action="Create">
                                                                <i class="fa fa-shopping-cart"></i>
                                                            </a>
                                                        </li>
                                                        <li>
                                                          
                                                            <button type="submit" name="id">
                                                                <i class="fa fa-heart"></i>
                                                            </button>
                                                       
                                                        </li>
                                                        <li>
                                                            <a asp-area="" asp-controller="Contactmsgs" asp-action="Create">
                                                                <i class="fa fa-envelope"></i>
                                                            </a>
                                                        </li>
                                                    </ol>
                                                </div>
                                            </figcaption>
                                        </figure>
                                    </li>
                                    }
                                   }
                                </ul>
                                <div class="center-content">
                                </div>
                                <div class="clearfix"></div>
                            </div>
                </div>
        </section>
         <br />
        <div class="container mt-5">
              <div class="row">
                   <div class="col-4"></div>
                        <div class="col-4" style="text-align:center;">
                          <div style="margin:0px auto;">
                            <!-- paging control for navigation to the previous page, next page, etc -->
                             @Html.PagedListPager(Model.Books.ToPagedList(), page => Url.Action("Index", new { page = page }),
                             new X.PagedList.Mvc.Core.Common.PagedListRenderOptions
                              {
                                            DisplayItemSliceAndTotal = true,
                                            ContainerDivClasses = new[] { "navigation" },
                                            LiElementClasses = new[] { "page-item" },
                                            PageClasses = new[] { "page-link" },
                             })
                          </div>
                         </div>
                     <div class="col-4"></div>
               </div>          
         </div>
        <!-- Start: Category Filter -->



         <!-- Start: Features -->
        <section class="features">
            <div class="container">
                <ul>
                    <li class="bg-yellow">
                        <div class="feature-box">
                            
                            <i class="fa fa-user yellow" aria-hidden="true" style="font-size:45px;"></i>
                            <h3>@Stage_Books.languages.Resource.To_Authors</h3>
                            <p>Are You Author ?</p>
                            <a class="yellow" asp-area="" asp-controller="Home" asp-action="authercont">
                                Visite Page <i class="fa fa-long-arrow-right"></i>
                            </a>
                        </div>
                    </li>
                    <li class="bg-light-green">
                        <div class="feature-box">
                            <i class="fa fa-home light-green" aria-hidden="true" style="font-size:45px;"></i>
                            
                            <h3> @Stage_Books.languages.Resource.To_Publishers</h3>
                            <p>Are You Publisher ?</p>
                            <a class="light-green" asp-area="" asp-controller="Home" asp-action="publishercont">
                                View Selection <i class="fa fa-long-arrow-right"></i>
                            </a>
                        </div>
                    </li>
                    <li class="bg-blue">
                        <div class="feature-box">
                            <i class="fa fa-lightbulb-o blue" aria-hidden="true" style="font-size:45px;"></i>
                            <h3>@Stage_Books.languages.Resource.suggestions</h3>
                            <p>If You Have A Suggestions !</p>
                            <a class="blue" asp-area="" asp-controller="Home" asp-action="suggestion">
                                View Selection <i class="fa fa-long-arrow-right"></i>
                            </a>
                        </div>
                    </li>
                    <li class="bg-red">
                        <div class="feature-box">
                            <i class="fa fa-cart-arrow-down red" aria-hidden="true" style="font-size:45px;"></i>
                            <h3>Order Buy</h3>
                            <p>If You Want Make Order Buy Hard Copy To Any Book</p>
                            <a class="red" asp-area="" asp-controller="OrderViewModels" asp-action="Create">
                                View Selection <i class="fa fa-long-arrow-right"></i>
                            </a>
                        </div>
                    </li>
                    <li class="bg-violet">
                        <div class="feature-box">
                          <i class="fa fa-bullhorn red" aria-hidden="true" style="font-size:45px;"></i>
                            <h3>Advertisement</h3>
                            <p>Advertisement Request .</p>
                            <a class="red" asp-area="" asp-controller="AdvRequests" asp-action="Create">
                                View Selection <i class="fa fa-long-arrow-right"></i>
                            </a>
                        </div>
                    </li>
                </ul>
            </div>
        </section>
        <!-- End: Features -->

         <!-- Start: cat Section -->
        <section class="welcome-section">
            <div class="container">
                <div class="center-content">
                    <h2 class="section-title">Get Started With STAGE</h2>
                    <span class="underline center"></span>
                </div>
                <div class="row">
                    <div class="col-4 bg-blue" style="text-align:center;">
                        <br />
                        <i class="fa fa-book" aria-hidden="true" style="font-size:35px; color:white;"></i><br />
                        <span style="font-size:25px;color:white;text-align:center;">eBooks</span><br />
                        <strong style="font-size:25px;color:white;text-align:center;" class="fact-counter">@Model.Books.Count</strong>                  
                    </div>
                    <div class="col-4 bg-light-green" style="text-align:center;">
                        <br />
                        <i class="fa fa-book" aria-hidden="true" style="font-size:35px; color:white;"></i><br />
                        <span style="font-size:25px;color:white;text-align:center;">Authors</span><br />
                        <strong style="font-size:25px;color:white;text-align:center;" class="fact-counter">@Model.Books.Count</strong>                  
                    </div>
                    <div class="col-4 bg-yellow" style="text-align:center;">
                        <br />
                        <i class="fa fa-book" aria-hidden="true" style="font-size:35px; color:white;"></i><br />
                        <span style="font-size:25px;color:white;text-align:center;">@Stage_Books.languages.Resource.Encyclopedia</span><br />
                        <strong style="font-size:25px;color:white;text-align:center;" class="fact-counter">@Model.Books.Count</strong>                  
                    </div>
                    <div class="col-4 bg-blue" style="text-align:center;">
                        <br />
                        <i class="fa fa-book" aria-hidden="true" style="font-size:35px; color:white;"></i><br />
                        <span style="font-size:25px;color:white;text-align:center;">Manuscripting</span><br />
                        <strong style="font-size:25px;color:white;text-align:center;" class="fact-counter">@Model.Books.Count</strong>                  
                    </div>
                    <div class="col-4 bg-violet" style="text-align:center;">
                        <br />
                        <i class="fa fa-book" aria-hidden="true" style="font-size:35px; color:white;"></i><br />
                        <span style="font-size:25px;color:white;text-align:center;">Audio Books</span><br />
                        <strong style="font-size:25px;color:white;text-align:center;" class="fact-counter">@Model.Books.Count</strong>                  
                    </div>
                    <div class="col-4 bg-red" style="text-align:center;">
                        <br />
                        <i class="fa fa-book" aria-hidden="true" style="font-size:35px; color:white;"></i><br />
                        <span style="font-size:25px;color:white;text-align:center;">Newspapers</span><br />
                        <strong style="font-size:25px;color:white;text-align:center;" class="fact-counter">@Model.Books.Count</strong>                  
                    </div>
                    <div class="col-4 bg-green" style="text-align:center;">
                        <br />
                        <i class="fa fa-book" aria-hidden="true" style="font-size:35px; color:white;"></i><br />
                        <span style="font-size:25px;color:white;text-align:center;">Antiques</span><br />
                        <strong style="font-size:25px;color:white;text-align:center;" class="fact-counter">@Model.Books.Count</strong>                  
                    </div>
                    <div class="col-4 bg-light-green" style="text-align:center;">
                        <br />
                        <i class="fa fa-book" aria-hidden="true" style="font-size:35px; color:white;"></i><br />
                        <span style="font-size:25px;color:white;text-align:center;">Archaeology</span><br />
                        <strong style="font-size:25px;color:white;text-align:center;" class="fact-counter">@Model.Books.Count</strong>                  
                    </div>
                    <div class="col-4 bg-yellow" style="text-align:center;">
                        <br />
                        <i class="fa fa-book" aria-hidden="true" style="font-size:35px; color:white;"></i><br />
                        <span style="font-size:25px;color:white;text-align:center;">Thesis</span><br />
                        <strong style="font-size:25px;color:white;text-align:center;" class="fact-counter">@Model.Books.Count</strong>                  
                    </div>
                    <div class="col-4 bg-blue" style="text-align:center;">
                        <br />
                        <i class="fa fa-book" aria-hidden="true" style="font-size:35px; color:white;"></i><br />
                        <span style="font-size:25px;color:white;text-align:center;">@Stage_Books.languages.Resource.Research_paper</span><br />
                        <strong style="font-size:25px;color:white;text-align:center;" class="fact-counter">@Model.Books.Count</strong>                  
                    </div>
                </div>
            </div>
         </section>
        <!-- End: Welcome Section -->
        <br />
        <br />

       <!-- Start: Welcome Section -->
        <section class="welcome-section">
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <div class="welcome-wrap">
                            <div class="welcome-text">
                                <h2 class="section-title">Welcome to the S T A G E </h2>
                                <span class="underline left"></span>
                                <p class="lead">Understand About Stageem Ipsum used since</p>
                                <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humor, or randomized words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text. All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessary, making this the first true generator on the Internet. It uses a dictionary of over 200 Latin words, combined with a handful of model sentence structures, to generate Lorem Ipsum which looks reasonable. The generated Lorem Ipsum is therefore always free from repetition, injected humor, or non-characteristic words etc.</p>
                                <a class="btn btn-primary" href="#">Read More</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="facts-counter">
                                            @{
                                                    var num1 = @Model.Auther.Count;
                                                    var num2 = @Model.Encs.Count;
                                                    var num3 = (@Model.Books.Count) * 2;
                                                    var res = num1 + num2 + num3;
                                                }
                            <ul>
                                <li class="bg-light-green">
                                    <div class="fact-item">
                                        <div class="fact-icon">
                                            <i class="fa fa-book" aria-hidden="true" style="font-size:45px; color:white;"></i>
                                        </div>
                                        <span>@Stage_Books.languages.Resource.Books<strong class="fact-counter">@Model.Books.Count</strong></span>
                                    </div>
                                </li>
                                <li class="bg-green">
                                    <div class="fact-item" title="subjects , language , author is covering ">
                                        <div class="fact-icon" >
                                            <i class="fa fa-globe" style="font-size:45px; color:white;"></i>
                                        </div>
                                        <span>@Stage_Books.languages.Resource.Covering<strong class="fact-counter">@res</strong></span>
                                    </div>
                                </li>
                                <li class="bg-red">
                                    <div class="fact-item">
                                        <div class="fact-icon">
                                            <i class="fa fa-pencil" style="font-size:45px; color:white;"></i>
                                        </div>
                                        <span>@Stage_Books.languages.Resource.Authors<strong class="fact-counter">14450</strong></span>
                                    </div>
                                </li>
                                <li class="bg-blue">
                                    <div class="fact-item">
                                        <div class="fact-icon">
                                            <i class="fa fa-users" style="font-size:45px; color:white;"></i>
                                        </div>
                                        <span>@Stage_Books.languages.Resource.Visitors<strong class="fact-counter">32450</strong></span>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="welcome-image">
                <img src="~/img/welcome-img-home-v1.jpg" />
            </div>
        </section>
        <!-- End: Welcome Section -->

    <!-- نبذة مختصرة عن ستيج  -->
     <!-- search section --> 

     <!-- container -->



        <!-- Start: Category -->
        @*<section class="search-filters mt-5 mb-5">
            <div class="container">
                <div class="filter-box">
                    <h3>All Categories</h3>
                    <form action="" method="get">
                        <div class="col-md-3 col-sm-6">
                            <div class="form-group">
                                <select name="catalog" id="catalog" class="form-control">
                                    <option>Topics</option>
                                     @if(!Model.Books.Any())
                                    {
                                        <div class="alert alert-danger" role="alert">
                                            No Data !
                                        </div>
                                    }
                                    else
                                    {
                                    @foreach (var item in Model.Books)
                                    {
                                       <option>@item.Topic</option>
                                    }
                                    }
                                </select>
                                <br />
                               <a class="btn form-control" style="background-color:#ff7236;" asp-area="" asp-controller="Home" asp-action="gototopic">More Topics ..</a>

                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6">
                            <div class="form-group">
                                <select name="catalog" id="catalog" class="form-control">
                                    <option>Authors</option>
                                    @if(!Model.Books.Any())
                                    {
                                        <div class="alert alert-danger" role="alert">
                                            No Data !
                                        </div>
                                    }
                                    else
                                    {
                                    @foreach (var item in Model.Auther)
                                   {
                                       <option>@item.Name.ToString()</option>
                                    }
                                    }
                                </select>
                                 <br />
                               <a class="btn" style="background-color:#ff7236;" asp-area="" asp-controller="Home" asp-action="gotoauthors">More Authors ..</a>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6">
                            <div class="form-group">
                                <select name="category" id="category" class="form-control">
                                    <option>Categorys</option>
                                     @if(!Model.Books.Any())
                                    {
                                        <div class="alert alert-danger" role="alert">
                                            No Data !
                                        </div>
                                    }
                                    else
                                    {
                                    @foreach (var item in Model.Books)
                                   {
                                       <option>@item.Category</option>
                                    }
                                    }

                                </select>
                                <br />
                               <a class="btn" style="background-color:#ff7236;" asp-area="" asp-controller="Home" asp-action="gotocat">More Categories ..</a>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6">
                            <div class="form-group">
                                <ul class="nav navbar-nav form-control" style="display:inline" name="category" id="category">
                                 <li class="dropdown">
                                            <a data-toggle="dropdown" class="dropdown-toggle disabled">@Stage_Books.languages.Resource.Languages</a>
                                            <ul class="dropdown-menu">
                                               <a class="list-group-item list-group-item-action" asp-area="" asp-controller="Home" asp-action="Searchbyenglish">@Stage_Books.languages.Resource.English</a>
                                               <a class="list-group-item list-group-item-action" asp-area="" asp-controller="Home" asp-action="Searchbyrabic">@Stage_Books.languages.Resource.Arabic</a>
                                               <a class="list-group-item list-group-item-action" asp-area="" asp-controller="Home" asp-action="Searchbyfrench">@Stage_Books.languages.Resource.French</a>
                                               <a class="list-group-item list-group-item-action" asp-area="" asp-controller="Home" asp-action="Searchbyspanish">@Stage_Books.languages.Resource.Spanich</a>
                                               <a class="list-group-item list-group-item-action" asp-area="" asp-controller="Home" asp-action="Searchbygerman">@Stage_Books.languages.Resource.German</a>
                                               <a class="list-group-item list-group-item-action" asp-area="" asp-controller="Home" asp-action="Searchbyhindi">@Stage_Books.languages.Resource.Hindi</a>
                                               
                                            </ul>
                                        </li>
                                </ul>
                            
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </section>*@
        <!-- End: Category -->


            <!-- Ads -->
            @*<div class="col-2">
                <div style="text-align: center; margin-top: 25px; padding: 20px; padding-bottom: 40px;">
                    <div class="card" style="width: 12rem; ">
                        <div class="card-body">
                            <img class="card-img-top" src="img/ads.jpg" alt="Card image cap">
                            <hr />
                            <p class="card-text">Ads</p>
                        </div>
                    </div>
                </div>
            </div>*@
               </div>
          </div>
        <!-- -->

   <!-- Start: Meet Staff -->
 <!-- Start: Our Community Section -->
        <section class="community-testimonial">
            <div class="container">
                <div class="text-center">
                    <h2 class="section-title">خدماتنا</h2>
                    <span class="underline center"></span>
                    <p class="lead">فى هذا القسم يمكنك الاضطلاع على نبذة مختصرة عن خدماتنا </p>
                </div>
                <div class="owl-carousel">
                    <div class="single-testimonial-box">
                        <div class="top-portion">
                            <img src="~/img/testimonial-image-01.jpg" alt="Testimonial Image" />
                            <div class="user-comment">
                                <div class="arrow-left"></div>
                                <blockquote cite="#">
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent urna magna, rhoncus eget commodo et, dignissim non nulla. Sed sit amet vestibulum ex. Donec dolor velit
                                </blockquote>
                            </div>
                            <div class="clear"></div>
                        </div>
                        <div class="bottom-portion">
                            <a href="#" class="author">
                                Adrey Pachai <small>(Student )</small>
                            </a>
                            <div class="social-share-links">
                                <ul>
                                    <li><a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
                                    <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                                    <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                                    <li><a href="#"><i class="fa fa-skype" aria-hidden="true"></i></a></li>
                                    <li><a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
                                </ul>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <div class="single-testimonial-box">
                        <div class="top-portion">
                            <img src="~/img/testimonial-image-02.jpg" alt="Testimonial Image" />
                            <div class="user-comment">
                                <div class="arrow-left"></div>
                                <blockquote cite="#">
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent urna magna, rhoncus eget commodo et, dignissim non nulla. Sed sit amet vestibulum ex. Donec dolor velit
                                </blockquote>
                            </div>
                            <div class="clear"></div>
                        </div>
                        <div class="bottom-portion">
                            <a href="#" class="author">
                                Maria B <small>(Student )</small>
                            </a>
                            <div class="social-share-links">
                                <ul>
                                    <li><a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
                                    <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                                    <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                                    <li><a href="#"><i class="fa fa-skype" aria-hidden="true"></i></a></li>
                                    <li><a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
                                </ul>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <div class="single-testimonial-box">
                        <div class="top-portion">
                            <img src="~/img/testimonial-image-01.jpg" alt="Testimonial Image" />
                            <div class="user-comment">
                                <div class="arrow-left"></div>
                                <blockquote cite="#">
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent urna magna, rhoncus eget commodo et, dignissim non nulla. Sed sit amet vestibulum ex. Donec dolor velit
                                </blockquote>
                            </div>
                            <div class="clear"></div>
                        </div>
                        <div class="bottom-portion">
                            <a href="#" class="author">
                                Adrey Pachai <small>(Student )</small>
                            </a>
                            <div class="social-share-links">
                                <ul>
                                    <li><a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
                                    <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                                    <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                                    <li><a href="#"><i class="fa fa-skype" aria-hidden="true"></i></a></li>
                                    <li><a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
                                </ul>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <div class="single-testimonial-box">
                        <div class="top-portion">
                            <img src="~/img/testimonial-image-02.jpg" alt="Testimonial Image" />
                            <div class="user-comment">
                                <div class="arrow-left"></div>
                                <blockquote cite="#">
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent urna magna, rhoncus eget commodo et, dignissim non nulla. Sed sit amet vestibulum ex. Donec dolor velit
                                </blockquote>
                            </div>
                            <div class="clear"></div>
                        </div>
                        <div class="bottom-portion">
                            <a href="#" class="author">
                                Maria B <small>(Student )</small>
                            </a>
                            <div class="social-share-links">
                                <ul>
                                    <li><a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
                                    <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                                    <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                                    <li><a href="#"><i class="fa fa-skype" aria-hidden="true"></i></a></li>
                                    <li><a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
                                </ul>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <div class="single-testimonial-box">
                        <div class="top-portion">
                            <img src="~/img/testimonial-image-01.jpg" alt="Testimonial Image" />
                            <div class="user-comment">
                                <div class="arrow-left"></div>
                                <blockquote cite="#">
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent urna magna, rhoncus eget commodo et, dignissim non nulla. Sed sit amet vestibulum ex. Donec dolor velit
                                </blockquote>
                            </div>
                            <div class="clear"></div>
                        </div>
                        <div class="bottom-portion">
                            <a href="#" class="author">
                                Adrey Pachai <small>(Student )</small>
                            </a>
                            <div class="social-share-links">
                                <ul>
                                    <li><a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
                                    <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                                    <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                                    <li><a href="#"><i class="fa fa-skype" aria-hidden="true"></i></a></li>
                                    <li><a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
                                </ul>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <div class="single-testimonial-box">
                        <div class="top-portion">
                            <img src="~/img/testimonial-image-02.jpg" alt="Testimonial Image" />
                            <div class="user-comment">
                                <div class="arrow-left"></div>
                                <blockquote cite="#">
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent urna magna, rhoncus eget commodo et, dignissim non nulla. Sed sit amet vestibulum ex. Donec dolor velit
                                </blockquote>
                            </div>
                            <div class="clear"></div>
                        </div>
                        <div class="bottom-portion">
                            <a href="#" class="author">
                                Maria B <small>(Student )</small>
                            </a>
                            <div class="social-share-links">
                                <ul>
                                    <li><a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
                                    <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                                    <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                                    <li><a href="#"><i class="fa fa-skype" aria-hidden="true"></i></a></li>
                                    <li><a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
                                </ul>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <div class="single-testimonial-box">
                        <div class="top-portion">
                            <img src="~/img/testimonial-image-01.jpg" alt="Testimonial Image" />
                            <div class="user-comment">
                                <div class="arrow-left"></div>
                                <blockquote cite="#">
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent urna magna, rhoncus eget commodo et, dignissim non nulla. Sed sit amet vestibulum ex. Donec dolor velit
                                </blockquote>
                            </div>
                            <div class="clear"></div>
                        </div>
                        <div class="bottom-portion">
                            <a href="#" class="author">
                                Adrey Pachai <small>(Student )</small>
                            </a>
                            <div class="social-share-links">
                                <ul>
                                    <li><a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
                                    <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                                    <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                                    <li><a href="#"><i class="fa fa-skype" aria-hidden="true"></i></a></li>
                                    <li><a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
                                </ul>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <div class="single-testimonial-box">
                        <div class="top-portion">
                            <img src="~/img/testimonial-image-02.jpg" alt="Testimonial Image" />
                            <div class="user-comment">
                                <div class="arrow-left"></div>
                                <blockquote cite="#">
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent urna magna, rhoncus eget commodo et, dignissim non nulla. Sed sit amet vestibulum ex. Donec dolor velit
                                </blockquote>
                            </div>
                            <div class="clear"></div>
                        </div>
                        <div class="bottom-portion">
                            <a href="#" class="author">
                                Maria B <small>(Student )</small>
                            </a>
                            <div class="social-share-links">
                                <ul>
                                    <li><a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
                                    <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                                    <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                                    <li><a href="#"><i class="fa fa-skype" aria-hidden="true"></i></a></li>
                                    <li><a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
                                </ul>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </div>
            </div>
        </section>
        <!-- End: Our Community Section -->
        <!-- End: Meet Staff -->

       <!-- Start: Social Network -->
        <section class="social-network section-padding">
            <div class="container">
                <div class="center-content">
                    <h2 class="section-title">Follow Us</h2>
                    <span class="underline center"></span>
                </div>
                <br />
                <ul>
                    <li>
                        <a class="facebook" href="#" target="_blank">
                            <span>
                                <i class="fa fa-facebook-f"></i>
                            </span>
                        </a>
                    </li>
                    <li>
                        <a class="twitter" href="#" target="_blank">
                            <span>
                                <i class="fa fa-twitter"></i>
                            </span>
                        </a>
                    </li>
                    <li>
                        <a class="google" href="#" target="_blank">
                            <span>
                                <i class="fa fa-google-plus"></i>
                            </span>
                        </a>
                    </li>
                    <li>
                        <a class="rss" href="#" target="_blank">
                            <span>
                                <i class="fa fa-envelope"></i>
                            </span>
                        </a>
                    </li>
                    <li>
                        <a class="linkedin" href="#" target="_blank">
                            <span>
                                <i class="fa fa-linkedin"></i>
                            </span>
                        </a>
                    </li>
                    <li>
                        <a class="youtube" href="#" target="_blank">
                            <span>
                                <i class="fa fa-youtube"></i>
                            </span>
                        </a>
                    </li>
                </ul>
            </div>
        </section>
      <!-- Start Social Network -->

        <!-- End: Footer -->
    <!-- Footer  -->
@*    <div class="container-fluid" style="background-color: #333333;">
		<div class="row">
			<div class="col" style="text-align: center; padding: 7px;">
				<span style="color: white; font-size: 2rem;">S T A G E </span>
			</div>
		</div>
		<div class="row">
			<div class="col" style="text-align: center; padding: 10px; margin: 15px;">
			</div>
		</div>
		<div class="row">
			<div class="col-6" style="">
				<div class="row">
					<span style="color:#333333; font-size: 1.5rem; text-align: center;">Contact Us </span>
				</div>
				<div class="row">
					<img src="~/img/home.png" alt="Facebook" title="Facebook" width="30" height="30"
						 style="margin-left: 25px;margin-top: 5px;"> <a class="nav-link" href="#" style="color:white;">
						@Stage_Books.languages.Resource.Home<span class="sr-only">(current)</span>
					</a>
				</div>
				<div class="row">
					<img src="~/img/about-us.jpg" alt="Facebook" title="Facebook" width="30" height="30"
						 style="margin-left: 25px;margin-top: 5px;"> <a class="nav-link" href="#" style="color:white;">
						@Stage_Books.languages.Resource.About_Stage
						<span class="sr-only">(current)</span>
					</a>
				</div>
				<div class="row">
					<img src="~/img/services-icon-4.jpg" alt="Facebook" title="Facebook" width="30" height="30"
						 style="margin-left: 25px;margin-top: 5px;"> <a class="nav-link" href="#" style="color:white;">
						@Stage_Books.languages.Resource.Our_Services
						<span class="sr-only">(current)</span>
					</a>
				</div>
				<div class="row">
					<img src="~/img/community.png" alt="Facebook" title="Facebook" width="30" height="30"
						 style="margin-left: 25px;margin-top: 5px;"> <a class="nav-link" href="#" style="color:white;">
						@Stage_Books.languages.Resource.Our_Message
						<span class="sr-only">(current)</span>
					</a>
				</div>
				<div class="row">
					<img src="~/img/facebook.png" alt="Facebook" title="Facebook" width="30" height="30"
						 style="margin-left: 25px;margin-top: 5px;"> <a class="nav-link" href="#" style="color:white;">
						@Stage_Books.languages.Resource.Join_Us<span class="sr-only">(current)</span>
					</a>
				</div>
			</div>

			<div class="col-6" style="text-align: center;">
				<div class="row">
					<span style="color: white; font-size: 1.5rem; text-align: center;">Contact Us</span>
				</div>
				<div class="row">
					<a class="nav-link" href="#" style="color:white;">
						<img src="~/img/facebook.png" alt="Facebook" title="Facebook"
							 width="30" height="30"> <span class="sr-only">(current)</span><span style="color:white;margin-left:15px">Facebook</span>
					</a>
				</div>
				<div class="row">
					<a class="nav-link" href="#" style="color:white;">
						<img src="~/img/twitter.jpg" alt="twitter" title="twitter"
						 width="33" height="33"> <span class="sr-only">(current)</span><span style="color:white;margin-left:15px">Twitter</span>
					</a>
				</div>
				<div class="row">
					<a class="nav-link" href="#" style="color:white;">
						<img src="~/img/youtube.jpg" alt="youtube" title="youtube"
							 width="30" height="30"> <span class="sr-only">(current)</span><span style="color:white;margin-left:15px">Youtube</span>
					</a>
				</div>
				<div class="row">
					<a class="nav-link" href="https://mail.google.com/" style="color:white;" target="_blank">
						<img src="~/img/Gmail.ico" alt="Gmail" title="Gmail"
						width="30" height="30"> <span class="sr-only">(current)</span><span style="color:white;margin-left:15px">stage.books.2022@gmail.com</span>
					</a>
				</div>
			</div>
		</div>
		<div class="row" hidden>
			<div class="col " style="text-align: center; border-radius: 5px; ">
				<h5 style="color: white; margin-top: 15px">@Stage_Books.languages.Resource.Visitors</h5>
				<img src="~/img/Statistic.png" alt="visitors" width="40" height="30" />
				<p style="color: white; margin-top: 10px;">0</p>
			</div>
		</div>
		<div class="row">
			<div class="col" style="text-align: center; padding: 7px;">
				<span style="color: white;">&copy; Copyright Stage 2022</span>
			</div>
		</div>
	</div>*@
    <!-- Footer  -->

    @section Scripts{
    <script>
        $(document).ready(function ()
        {
            $('ul.pagination > li.disabled > a').addClass('page-link');
        });

    </script>
    }
        <script type="text/javascript" src="~/js/jquery-1.12.4.min.js"></script>
        <script type="text/javascript" src="~/js/jquery-ui.min.js"></script>
        <script type="text/javascript" src="~/js/jquery.easing.1.3.js"></script>
        <script type="text/javascript" src="~/js/bootstrap.min.js"></script>
        <script type="text/javascript" src="~/js/mmenu.min.js"></script>
        <script type="text/javascript" src="~/js/harvey.min.js"></script>
        <script type="text/javascript" src="~/js/waypoints.min.js"></script>
        <script type="text/javascript" src="~/js/facts.counter.min.js"></script>
        <script type="text/javascript" src="~/js/mixitup.min.js"></script>
        <script type="text/javascript" src="~/js/owl.carousel.min.js"></script>
        <script type="text/javascript" src="~/js/accordion.min.js"></script>
        <script type="text/javascript" src="~/js/responsive.tabs.min.js"></script>
        <script type="text/javascript" src="~/js/responsive.table.min.js"></script>
        <script type="text/javascript" src="~/js/masonry.min.js"></script>
        <script type="text/javascript" src="~/js/carousel.swipe.min.js"></script>
        <script type="text/javascript" src="~/js/bxslider.min.js"></script>
        <script type="text/javascript" src="~/js/main.js"></script>
  </body>
</html>