@inject SignInManager<ApplicationUser> signInManager;
@using Microsoft.AspNetCore.Builder
@using Microsoft.AspNetCore.Localization
@using Microsoft.Extensions.Options
@using Microsoft.AspNetCore.Http.Features
@using Microsoft.AspNetCore.Mvc.Localization
@using Stage_Books.Models.Account
@using System.Security.Claims

@inject IViewLocalizer localizer
@inject IOptions<RequestLocalizationOptions> locoption
@{
	var requestculture = Context.Features.Get<IRequestCultureFeature>();
	var culitems = locoption.Value.SupportedUICultures.Select(c => new SelectListItem
			{
				Value = c.Name,
				Text = c.NativeName
			}).ToList();
	var returnurl = string.IsNullOrEmpty(Context.Request.Path) ? "~/" : $"~{Context.Request.Path.Value}";
}
@{
    ViewData["Title"] = "publishercont";
}
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <title>S T A G E Publishers</title>
    <meta name="viewport" content="width=device-width, initial-scale=6">
    <meta name="descrption" content="Best website to Find any Books">
    <meta name="keywords" content="ناشر , ناشر كتب , دار نشر , نشر كتاب , ترويج كتاب , ترويج كتب , تواصل الناشر , ناشريين , تسويق كتب , Publisher , Publishers , Publisher Contact, Publisher house , Books Publisher house , Books Publisher , Books marketing">
    <!-- Bootstrap CSS -->
    <link rel="icon" href="~/img/stage_logo.png" type="" sizes="">
    <link rel="shortcut icon" href="~/img/stage_logo.png" type="" sizes="">
    <link rel="apple-touch-icon" href="~/img/stage_logo.png">
	<link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Cairo&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Cairo&display=swap" rel="stylesheet">
    <link href="~/css/style.css" rel="stylesheet">
	    <!-- Bootstrap CSS -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Cairo&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
   <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">
	<link href="~/css/style.css" rel="stylesheet">
	<link href="~/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
  </head>
<body style="font-family:cairo,Roboto"> <!-- oncontextmenu="return false;"-->

		<!--main nav-->
  	<div class="container-fluid" style="background-color:#333333">
		<nav class="navbar navbar-expand-lg navbar-light " style="background-color:#333333;color:#ff7236;">
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
					aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<img src="~/img/stage_logo1.png" alt="language" width="30" height="30" style="margin-right: 10px;">
			<a class="navbar-brand" href="#" style="color:#ff7236;">S T A G E</a>
			<div class="collapse navbar-collapse" id="navbarSupportedContent">
				<ul class="navbar-nav mr-auto">
					<li class="nav-item active">
						<a class="nav-link" style="color:white;" asp-area="" asp-controller="Home" asp-action="Index">@Stage_Books.languages.Resource.Home <span class="sr-only">(current)</span></a>
					</li>
					<li class="nav-item active">
						<a class="nav-link" style="color:white;" asp-area="" asp-controller="Contactmsgs" asp-action="Create">@Stage_Books.languages.Resource.Contact<span class="sr-only">(current)</span></a>
					</li>
					<li class="nav-item active">
						<a class="nav-link" style="color:white;" asp-area="" asp-controller="publicpages" asp-action="policy">@Stage_Books.languages.Resource.Policy<span class="sr-only">(current)</span></a>
					</li>
					<li class="nav-item dropdown">
						<a class="nav-link dropdown-toggle" style="color:white;" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown"
						   aria-haspopup="true" aria-expanded="false">
							@Stage_Books.languages.Resource.About
						</a>
						<div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
							<a class="dropdown-item" asp-area="" asp-controller="publicpages" asp-action="about_stage">@Stage_Books.languages.Resource.About_Stage</a>

							<a class="dropdown-item" asp-area="" asp-controller="publicpages" asp-action="service">@Stage_Books.languages.Resource.Services</a>
							<a class="dropdown-item" asp-area="" asp-controller="Help" asp-action="Help">@Stage_Books.languages.Resource.Help</a>
							<div class="dropdown-menu" aria-labelledby="navbarDropdown">

								<div class="dropdown-divider"></div>
								<a class="dropdown-item" href="#"></a>
							</div>
						</div>
					</li>
					<li class="nav-item dropdown">
						<a class="nav-link dropdown-toggle" style="color:white;" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown"
						   aria-haspopup="true" aria-expanded="false">
							Books & Authors
						</a>
						<div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
							<a class="dropdown-item" asp-area="" asp-controller="publicpages" asp-action="about_stage">eBooks</a>
							<a class="dropdown-item" asp-area="" asp-controller="Home" asp-action="gotoauthors">@Stage_Books.languages.Resource.Authors</a>
							<div class="dropdown-menu" aria-labelledby="navbarDropdown">
								<div class="dropdown-divider"></div>
								<a class="dropdown-item" href="#"></a>
							</div>
						</div>
					</li>

						<li class="nav-item dropdown">
						<a class="nav-link dropdown-toggle" href="#" style="color:white;" id="navbarDropdownMenuLink" data-toggle="dropdown"
						   aria-haspopup="true" aria-expanded="false">
							Other
						</a>
						<div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
							<a class="nav-link" asp-area="" asp-controller="Encs" asp-action="index">@Stage_Books.languages.Resource.Encyclopedia</a>
							
							<a class="nav-link" asp-area="" asp-controller="Scriptpapers" asp-action="Index">Manuscripts</a>
							<a class="nav-link" asp-area="" asp-controller="paperssearchers" asp-action="Index">Researcher Papers</a>
							<div class="dropdown-menu" aria-labelledby="navbarDropdown">

								<div class="dropdown-divider"></div>
								<a class="dropdown-item" href="#"></a>
							</div>
						</div>
					</li>
					<li class="nav-item dropdown">
						<a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown"
						   aria-haspopup="true" aria-expanded="false" style="color:white">
						   <i class="bi bi-translate mr-2"></i>Language</a>
						<div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink" title="@localizer["Request culture provider:"] @requestculture?.Provider?.GetType().Name">

                            <form id="selectlanguage" asp-controller="Home" asp-action="setlang" asp-route-returnurl="@returnurl" method="post">
                                                       
                              <select class="form-control form-control-sm" name="culture"
                                      onchange="this.form.submit();" asp-for="@requestculture.RequestCulture.UICulture.Name"
                                       asp-items="culitems">
                           
                      
                               </select>
                                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" href="#"></a>
                            </div>
                            </form>
                            </div>
					</li>
					<li class="nav-item active">
						<a class="nav-link" style="color:white;" asp-area="" asp-controller="Help" asp-action="Help">@Stage_Books.languages.Resource.Help<span class="sr-only">(current)</span></a>
					</li>
					<li class="nav-item active">
						<a class="nav-link" style="color:white;" asp-area="" asp-controller="OrderViewModels" asp-action="Create"><i style="color:#ff7236" class="bi bi-cart-check mr-2"></i>Order<span class="sr-only">(current)</span></a>
					</li>
				</ul>

			</div>

			@if (signInManager.IsSignedIn(User) && User.IsInRole("Admin"))
			{
				<a asp-action="Index" asp-controller="Books" class="btn btn-danger nav-link">DASHBOARD</a>
			}

			@if (signInManager.IsSignedIn(User))
			{
				<form method="post" asp-action="Logout" asp-controller="Account" class="form-inline">
					<button type="submit" class="btn btn-outline-primary my-2 my-sm-0 mr-3">Logout</button>
				</form>
				<h5>@User.Identity.Name</h5>
			}
			else
			{
				<a style="color:white;outline-color:#ff7236;" class="btn btn-outline-warning my-2 my-sm-0" asp-action="Register" asp-controller="Account">	@Stage_Books.languages.Resource.New_Account	</a>
				<a style="color:white;outline-color:#ff7236;" class="btn btn-outline-warning my-2 my-sm-0" asp-action="Login" asp-controller="Account">@Stage_Books.languages.Resource.Login</a>
			}

			@{
				string id = User.FindFirst(ClaimTypes.NameIdentifier)?.Value;
				if (id != null)
				{
					<a asp-action="SaveBook" asp-controller="Home" asp-route-id="@id">
						<img src="../img/unkown.png" alt="User" width="25" height="25" style="border:1px solid white;border-radius:50%">
					</a>
				}
			}
		    </nav>
  </div>
	<br />
	<div class="container">
	<div class="row">
		<div class="col-12" style="text-align:center">
			<h1 style="text-align:center">@Stage_Books.languages.Resource.To_Publishers</h1>
		</div>
		<br />
		<div class="col-12" style="text-align:center">
			<i style="color:#ff7236;font-size:100px" class="bi bi-house-heart"></i>
			@*<img src="~/img/pub.jpg" alt="" width="65%" height="65%" />*@
		</div>
		<div class="row w-50" style="margin:0px auto">
		<span style="text-align:center;font-size:25px">
			If you are a publisher or publisher and want to contact Stig
			To learn about ways and standards for publishing or promoting your work and production with us
			We would like to inform you that you are welcome and that you can communicate with Stage through the following channels
	   </span>
	   <hr />
	   </div>
	   <hr />
	<div class="row w-50" style="margin:0px auto">
		<span style="text-align:center;font-size:25px">
			ان كنت ناشرا او دار نشر وتريد التواصل مع ستيج
		   للتعرف على سبل ومعاير نشر اعمالك وانتاجك اوالترويج لها لدينا 
		   فنود ان نبلغك انك مرحب بك ويمكنك التواصل مع ستيج من خلال القنوات الاتية 
	   </span><br />
	   <br />
	   </div>
	 
	    </div>
	   	<div class="row w-100" style="margin:0px auto">
		  <div class="row" style="margin:0px auto">
			  <div class="col-6">
	               <span style="color:#ff7236;font-size:25px">
				    <i class="bi bi-envelope"></i> E-Mail :
			       </span><br />
				   <span style="color:#ff7236;font-size:25px">
				     <i class="bi bi-facebook"></i> Facebook :
			       </span><br />
				   <span  style="color:#ff7236;font-size:25px">
				    <i class="bi bi-twitter"></i> Twitter :
			       </span><br />
				   <span  style="color:#ff7236;font-size:25px">
				    <i class="bi bi-linkedin"></i> LinkedIn :
			       </span><br />
				   <span style="color:#ff7236;font-size:25px">
				    <i class="bi bi-envelope-check"></i> Messages :
			       </span><br />
				   <span style="color:#ff7236;font-size:25px">
				    <i class="bi bi-whatsapp"></i> WhatsApp :
			       </span>
				    <br />
				   <span style="color:#ff7236;font-size:25px">
				    <i class="fa fa-bullhorn"></i> ADVERTISEMENT :
			       </span>
	         </div>
			  <div class="col-6">
	              <a href="#" style="text-align:center;font-size:25px;color:#333333" target="_blank">
				       stage.books.2022@gmail.com
			       </a><br />
				   <a href="#" style="text-align:center;font-size:25px;color:#333333" target="_blank">
				       stage.books.2022@gmail.com
			       </a><br />
				   <a href="#" style="text-align:center;font-size:25px;color:#333333" target="_blank">
				       stage.books.2022@gmail.com
			       </a><br />
				   <a href="#" style="text-align:center;font-size:25px;color:#333333" target="_blank">
				       stage.books.2022@gmail.com
			       </a><br />
				   <a asp-area="" asp-controller="Contactmsgs" asp-action="Create" style="text-align:center;font-size:25px;color:#333333" target="_blank">
				       الذهاب الى الرسائل
			       </a><br />
				   <a href="01225430068" style="text-align:center;font-size:25px;color:#333333" target="_blank">
				       01225430068
			       </a><br />
				   <a href="01225430068" style="text-align:center;font-size:25px;color:#333333" target="_blank">
				       01225430068
			       </a><br />
	         </div> 
	     </div>
	   </div>
	</div>
	   <br />
	   <br />
	   <br />



    <!-- Optional JavaScript; choose one of the two! -->
    <script src="~/js/js.js"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </body>
</html>