@using Microsoft.AspNetCore.Http.Extensions
@inject SignInManager<ApplicationUser> signInManager;
@using Microsoft.AspNetCore.Builder
@using Microsoft.AspNetCore.Localization
@using Microsoft.Extensions.Options
@using Microsoft.AspNetCore.Http.Features
@using Microsoft.AspNetCore.Mvc.Localization
@using Stage_Books.Models.Account
@using System.Security.Claims

@inject IViewLocalizer localizer
@inject IOptions<RequestLocalizationOptions> locoption
@{
	var requestculture = Context.Features.Get<IRequestCultureFeature>();
	var culitems = locoption.Value.SupportedUICultures.Select(c => new SelectListItem
			{
				Value = c.Name,
				Text = c.NativeName
			}).ToList();
	var returnurl = string.IsNullOrEmpty(Context.Request.Path) ? "~/" : $"~{Context.Request.Path.Value}";
}


<!doctype html>
<html lang="en">
<head>
	<!-- Required meta tags -->
	<meta charset="utf-8">
	<title>S T A G E</title>
	<meta name="viewport" content="width=device-width, initial-scale=6">
	<meta name="descrption" content="Best website to Find any Books">
	<!-- Bootstrap CSS -->
	<link rel="icon" href="img/stage_logo.png" type="" sizes="">
	<link rel="shortcut icon" href="img/stage_logo.png" type="" sizes="">
	<link rel="apple-touch-icon" href="img/stage_logo.png">
	<link rel="stylesheet" href="styletrans.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.3/font/bootstrap-icons.css">
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">
	<link href="~/css/style.css" rel="stylesheet">
	<link href="~/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
</head>
<body>
	<div class="container-fluid" style="background-color:#333333">
		<nav class="navbar navbar-expand-lg navbar-light " style="background-color:#333333;color:#ff7236;">
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
					aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<img src="~/img/stage_logo1.png" alt="language" width="30" height="30" style="margin-right: 10px;">
			<a class="navbar-brand" href="#" style="color:#ff7236;">S T A G E</a>
			<div class="collapse navbar-collapse" id="navbarSupportedContent">
				<ul class="navbar-nav mr-auto">
					<li class="nav-item active">
						<a class="nav-link" style="color:white;" asp-area="" asp-controller="Home" asp-action="Index">@Stage_Books.languages.Resource.Home <span class="sr-only">(current)</span></a>
					</li>
					<li class="nav-item active">
						<a class="nav-link" style="color:white;" asp-area="" asp-controller="Contactmsgs" asp-action="Create">@Stage_Books.languages.Resource.Contact<span class="sr-only">(current)</span></a>
					</li>
					<li class="nav-item active">
						<a class="nav-link" style="color:white;" asp-area="" asp-controller="publicpages" asp-action="policy">@Stage_Books.languages.Resource.Policy<span class="sr-only">(current)</span></a>
					</li>
					<li class="nav-item dropdown">
						<a class="nav-link dropdown-toggle" style="color:white;" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown"
						   aria-haspopup="true" aria-expanded="false">
							@Stage_Books.languages.Resource.About
						</a>
						<div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
							<a class="dropdown-item" asp-area="" asp-controller="publicpages" asp-action="about_stage">@Stage_Books.languages.Resource.About_Stage</a>

							<a class="dropdown-item" asp-area="" asp-controller="publicpages" asp-action="service">@Stage_Books.languages.Resource.Services</a>
							<a class="dropdown-item" asp-area="" asp-controller="Help" asp-action="Help">@Stage_Books.languages.Resource.Help</a>
							<div class="dropdown-menu" aria-labelledby="navbarDropdown">

								<div class="dropdown-divider"></div>
								<a class="dropdown-item" href="#"></a>
							</div>
						</div>
					</li>
					<li class="nav-item dropdown">
						<a class="nav-link dropdown-toggle" href="#" style="color:white;" id="navbarDropdownMenuLink" data-toggle="dropdown"
						   aria-haspopup="true" aria-expanded="false">
							Other
						</a>
						<div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
							<a class="nav-link" asp-area="" asp-controller="Encs" asp-action="index">@Stage_Books.languages.Resource.Encyclopedia</a>

							<a class="nav-link" asp-area="" asp-controller="Scriptpapers" asp-action="Index">Manuscripts</a>
							<a class="nav-link" asp-area="" asp-controller="paperssearchers" asp-action="Index">Researcher Papers</a>
							<div class="dropdown-menu" aria-labelledby="navbarDropdown">

								<div class="dropdown-divider"></div>
								<a class="dropdown-item" href="#"></a>
							</div>
						</div>
					</li>
					<li class="nav-item dropdown">
						<a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown"
						   aria-haspopup="true" aria-expanded="false" style="color:white">
							<i class="bi bi-translate mr-2"></i>Language



						</a>
						<div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink" title="@localizer["Request culture provider:"] @requestculture?.Provider?.GetType().Name">

							<form id="selectlanguage" asp-controller="Home" asp-action="setlang" asp-route-returnurl="@returnurl" method="post">

								<select class="form-control form-control-sm" name="culture"
										onchange="this.form.submit();" asp-for="@requestculture.RequestCulture.UICulture.Name"
										asp-items="culitems">
								</select>
								<div class="dropdown-menu" aria-labelledby="navbarDropdown">
									<a class="dropdown-item" href="#"></a>
								</div>
							</form>
						</div>
					</li>
					<li class="nav-item active">
						<a class="nav-link" style="color:white;" asp-area="" asp-controller="publicpages" asp-action="policy">@Stage_Books.languages.Resource.Help<span class="sr-only">(current)</span></a>
					</li>
					<li class="nav-item active">
						<a class="nav-link" style="color:white;" asp-area="" asp-controller="publicpages" asp-action="policy"><i style="color:#ff7236" class="bi bi-cart-check mr-2"></i>Order<span class="sr-only">(current)</span></a>
					</li>
				</ul>

			</div>

			@if (signInManager.IsSignedIn(User) && User.IsInRole("Admin"))
			{
				<a asp-action="Index" asp-controller="Books" class="btn btn-danger nav-link">DASHBOARD</a>
			}

			@if (signInManager.IsSignedIn(User))
			{
				<form method="post" asp-action="Logout" asp-controller="Account" class="form-inline">
					<button type="submit" class="btn btn-outline-primary my-2 my-sm-0 mr-3">Logout</button>
				</form>
				<h5>@User.Identity.Name</h5>
			}
			else
			{
				<a style="color:white;outline-color:#ff7236;" class="btn btn-outline-warning my-2 my-sm-0" asp-action="Register" asp-controller="Account">	@Stage_Books.languages.Resource.New_Account	</a>
				<a style="color:white;outline-color:#ff7236;" class="btn btn-outline-warning my-2 my-sm-0" asp-action="Login" asp-controller="Account">@Stage_Books.languages.Resource.Login</a>
			}

			@{
				string id = User.FindFirst(ClaimTypes.NameIdentifier)?.Value;
				if (id != null)
				{
					<a asp-action="SaveBook" asp-controller="Home" asp-route-id="@id">
						<img src="~/img/unkown.png" alt="User" width="25" height="25" style="border:1px solid white;border-radius:50%">
					</a>
				}
			}
		</nav>
	</div>

	<h1>Saved Books :</h1>

	<!-- Start: Category Filter -->
	<section class="category-filter section-padding" style="background-image: url(img/project-filter-bg-home-v1.jpg);">
		<div class="container">
			<div class="center-content">
				<div class="row">
					<div class="col-md-6 col-md-offset-3">
						<h2 class="section-title">Check Stage Books</h2>
						<span class="underline center"></span>
						<p class="lead">The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for those interested.</p>
					</div>
				</div>
				<div id="category-filter">
					@{
						if (ViewBag.Saved != null)
						{
							foreach (var item in ViewBag.Saved)
							{
								<ul class="category-list">
									<li class="category-item adults">
										<figure>
											<img src="@item.ImageURL" alt="New Releaase" />
											<figcaption class="bg-orange">
												<div class="info-block">
													<h4>@item.BookName</h4>
													<span class="author"><strong>@Stage_Books.languages.Resource.Language : </strong>@item.bookDesc</span>
													@* <span class="author"><strong>Topic:</strong>@item.Topic</span>*@

													@* <div class="rating">
										<span>☆</span>
										<span>☆</span>
										<span>☆</span>
										<span>☆</span>
										<span>☆</span>
										</div>*@
													@*<p>@item.Desc</p>*@
													<br>
													<a asp-controller="books" asp-action="Book_Details" >Read Details </a>
												
													<ol>
														<li>


														</li>
														<li>
															<a>
																<span class="">
																</span>
															</a>

														</li>
														<li>

														</li>
														<li>

														</li>
														<li>

														</li>
													</ol>
													<ol>
														<li>
															<a asp-area="" asp-controller="OrderViewModels" asp-action="Create">
																<i class="fa fa-shopping-cart"></i>
															</a>
														</li>
														<li>
														<form asp-action="DeleteBook" asp-controller="Home" method="post">
														<input type="hidden" name="id" value="@item.Id"/>
														<input type="submit" class="btn btn-danger btn-sm" value="Delete" onclick="return confirm('are you sure you want to delete')">
														</form>
															<button type="submit" name="id">
																<i class="fa fa-heart"></i>
															</button>

														</li>
														<li>
															<a asp-area="" asp-controller="Contactmsgs" asp-action="Create">
																<i class="fa fa-envelope"></i>
															</a>
														</li>
													</ol>
												</div>
											</figcaption>
										</figure>
									</li>
								</ul>
							}
						}
					}


					<div class="center-content">
					</div>
					<div class="clearfix"></div>
				</div>
			</div>
		</div>
	</section>

	<!-- -->
	@section Scripts{
		<script>
			$(document).ready(function() {
				$('ul.pagination > li.disabled > a').addClass('page-link');
			});

		</script>
	}
		<script type="text/javascript" src="~/js/jquery-1.12.4.min.js"></script>
		<script type="text/javascript" src="~/js/jquery-ui.min.js"></script>
		<script type="text/javascript" src="~/js/jquery.easing.1.3.js"></script>
		<script type="text/javascript" src="~/js/bootstrap.min.js"></script>
		<script type="text/javascript" src="~/js/mmenu.min.js"></script>
		<script type="text/javascript" src="~/js/harvey.min.js"></script>
		<script type="text/javascript" src="~/js/waypoints.min.js"></script>
		<script type="text/javascript" src="~/js/facts.counter.min.js"></script>
		<script type="text/javascript" src="~/js/mixitup.min.js"></script>
		<script type="text/javascript" src="~/js/owl.carousel.min.js"></script>
		<script type="text/javascript" src="~/js/accordion.min.js"></script>
		<script type="text/javascript" src="~/js/responsive.tabs.min.js"></script>
		<script type="text/javascript" src="~/js/responsive.table.min.js"></script>
		<script type="text/javascript" src="~/js/masonry.min.js"></script>
		<script type="text/javascript" src="~/js/carousel.swipe.min.js"></script>
		<script type="text/javascript" src="~/js/bxslider.min.js"></script>
		<script type="text/javascript" src="~/js/main.js"></script>
	</body>
	</html>

