@model IEnumerable<Stage_Books.Models.Book>
@using X.PagedList.Mvc.Core.Common;
@using X.PagedList.Web.Common;
@using X.PagedList;
@using X.PagedList.Mvc.Core;
@inject SignInManager<ApplicationUser> signInManager;
@using Microsoft.AspNetCore.Builder
@using Microsoft.AspNetCore.Localization
@using Microsoft.Extensions.Options
@using Microsoft.AspNetCore.Http.Features
@using Microsoft.AspNetCore.Mvc.Localization
@using Stage_Books.Models.Account
@using System.Security.Claims

@inject IViewLocalizer localizer
@inject IOptions<RequestLocalizationOptions> locoption
@{
	var requestculture = Context.Features.Get<IRequestCultureFeature>();
	var culitems = locoption.Value.SupportedUICultures.Select(c => new SelectListItem
			{
				Value = c.Name,
				Text = c.NativeName
			}).ToList();
	var returnurl = string.IsNullOrEmpty(Context.Request.Path) ? "~/" : $"~{Context.Request.Path.Value}";
}
@{
    ViewData["Title"] = "Searchbyenglish";
}
<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <title>S T A G E - English</title>
    <meta name="viewport" content="width=device-width, initial-scale=6">
    <meta name="descrption" content="Best website to Find any Books">
    <meta name="keywords" content=" الموسوعة ,موسوعة ستيج, موسوعة منصة ستيح , موسوعة المؤلفين , موسوعة اشخاص المؤلفين , موسوعة اصحاب الابداع الفكرى , Encyclopedia, Stage Encyclopedia , stage , Authors Encyclopedia" />
    <link rel="icon" href="img/stage_logo.png" type="" sizes="">
    <link rel="shortcut icon" href="img/stage_logo.png" type="" sizes="">
    <link rel="apple-touch-icon" href="img/stage_logo.png">
    	<link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Cairo&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Cairo&display=swap" rel="stylesheet">
    <link href="~/css/style.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link href="css/style.css" rel="stylesheet">
        <!-- Bootstrap CSS -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Cairo&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
   <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">
	<link href="~/css/style.css" rel="stylesheet">
	<link href="~/css/font-awesome.min.css" rel="stylesheet" type="text/css" />

</head>
<body style="font-family:cairo,Roboto"> <!-- oncontextmenu="return false;"-->
    <!--main nav-->
  	<div class="container-fluid" style="background-color:#333333">
		<nav class="navbar navbar-expand-lg navbar-light " style="background-color:#333333;color:#ff7236;">
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
					aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<img src="~/img/stage_logo1.png" alt="language" width="30" height="30" style="margin-right: 10px;">
			<a class="navbar-brand" href="#" style="color:#ff7236;">S T A G E</a>
			<div class="collapse navbar-collapse" id="navbarSupportedContent">
				<ul class="navbar-nav mr-auto">
					<li class="nav-item active">
						<a class="nav-link" style="color:white;" asp-area="" asp-controller="Home" asp-action="Index">@Stage_Books.languages.Resource.Home <span class="sr-only">(current)</span></a>
					</li>
					<li class="nav-item active">
						<a class="nav-link" style="color:white;" asp-area="" asp-controller="Contactmsgs" asp-action="Create">@Stage_Books.languages.Resource.Contact<span class="sr-only">(current)</span></a>
					</li>
					<li class="nav-item active">
						<a class="nav-link" style="color:white;" asp-area="" asp-controller="publicpages" asp-action="policy">@Stage_Books.languages.Resource.Policy<span class="sr-only">(current)</span></a>
					</li>
					<li class="nav-item dropdown">
						<a class="nav-link dropdown-toggle" style="color:white;" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown"
						   aria-haspopup="true" aria-expanded="false">
							@Stage_Books.languages.Resource.About
						</a>
						<div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
							<a class="dropdown-item" asp-area="" asp-controller="publicpages" asp-action="about_stage">@Stage_Books.languages.Resource.About_Stage</a>

							<a class="dropdown-item" asp-area="" asp-controller="publicpages" asp-action="service">@Stage_Books.languages.Resource.Services</a>
							<a class="dropdown-item" asp-area="" asp-controller="Help" asp-action="Help">@Stage_Books.languages.Resource.Help</a>
							<div class="dropdown-menu" aria-labelledby="navbarDropdown">

								<div class="dropdown-divider"></div>
								<a class="dropdown-item" href="#"></a>
							</div>
						</div>
					</li>
					<li class="nav-item dropdown">
						<a class="nav-link dropdown-toggle" style="color:white;" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown"
						   aria-haspopup="true" aria-expanded="false">
							Books & Authors
						</a>
						<div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
							<a class="dropdown-item" asp-area="" asp-controller="publicpages" asp-action="about_stage">eBooks</a>
							<a class="dropdown-item" asp-area="" asp-controller="Home" asp-action="gotoauthors">@Stage_Books.languages.Resource.Authors</a>
							<div class="dropdown-menu" aria-labelledby="navbarDropdown">
								<div class="dropdown-divider"></div>
								<a class="dropdown-item" href="#"></a>
							</div>
						</div>
					</li>

						<li class="nav-item dropdown">
						<a class="nav-link dropdown-toggle" href="#" style="color:white;" id="navbarDropdownMenuLink" data-toggle="dropdown"
						   aria-haspopup="true" aria-expanded="false">
							Other
						</a>
						<div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
							<a class="nav-link" asp-area="" asp-controller="Encs" asp-action="index">@Stage_Books.languages.Resource.Encyclopedia</a>
							
							<a class="nav-link" asp-area="" asp-controller="Scriptpapers" asp-action="Index">Manuscripts</a>
							<a class="nav-link" asp-area="" asp-controller="paperssearchers" asp-action="Index">Researcher Papers</a>
							<div class="dropdown-menu" aria-labelledby="navbarDropdown">

								<div class="dropdown-divider"></div>
								<a class="dropdown-item" href="#"></a>
							</div>
						</div>
					</li>
					<li class="nav-item dropdown">
						<a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown"
						   aria-haspopup="true" aria-expanded="false" style="color:white">
						   <i class="bi bi-translate mr-2"></i>Language</a>
						<div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink" title="@localizer["Request culture provider:"] @requestculture?.Provider?.GetType().Name">

                            <form id="selectlanguage" asp-controller="Home" asp-action="setlang" asp-route-returnurl="@returnurl" method="post">
                                                       
                              <select class="form-control form-control-sm" name="culture"
                                      onchange="this.form.submit();" asp-for="@requestculture.RequestCulture.UICulture.Name"
                                       asp-items="culitems">
                           
                      
                               </select>
                                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" href="#"></a>
                            </div>
                            </form>
                            </div>
					</li>
					<li class="nav-item active">
						<a class="nav-link" style="color:white;" asp-area="" asp-controller="Help" asp-action="Help">@Stage_Books.languages.Resource.Help<span class="sr-only">(current)</span></a>
					</li>
					<li class="nav-item active">
						<a class="nav-link" style="color:white;" asp-area="" asp-controller="OrderViewModels" asp-action="Create"><i style="color:#ff7236" class="bi bi-cart-check mr-2"></i>Order<span class="sr-only">(current)</span></a>
					</li>
				</ul>

			</div>

			@if (signInManager.IsSignedIn(User) && User.IsInRole("Admin"))
			{
				<a asp-action="Index" asp-controller="Books" class="btn btn-danger nav-link">DASHBOARD</a>
			}

			@if (signInManager.IsSignedIn(User))
			{
				<form method="post" asp-action="Logout" asp-controller="Account" class="form-inline">
					<button type="submit" class="btn btn-outline-primary my-2 my-sm-0 mr-3">Logout</button>
				</form>
				<h5>@User.Identity.Name</h5>
			}
			else
			{
				<a style="color:white;outline-color:#ff7236;" class="btn btn-outline-warning my-2 my-sm-0" asp-action="Register" asp-controller="Account">	@Stage_Books.languages.Resource.New_Account	</a>
				<a style="color:white;outline-color:#ff7236;" class="btn btn-outline-warning my-2 my-sm-0" asp-action="Login" asp-controller="Account">@Stage_Books.languages.Resource.Login</a>
			}

			@{
				string id = User.FindFirst(ClaimTypes.NameIdentifier)?.Value;
				if (id != null)
				{
					<a asp-action="SaveBook" asp-controller="Home" asp-route-id="@id">
						<img src="../img/unkown.png" alt="User" width="25" height="25" style="border:1px solid white;border-radius:50%">
					</a>
				}
			}
		    </nav>
  </div>
    <br />
    <br />
<div class="container"><h1 style="text-align:center">English Books</h1></div>
<br />
<hr />

     <div class="container">
        <form method="get" asp-controller="" asp-action="search" class="">
          <div class="form-group row">
            <label for="colFormLabel" class="col-sm-2 col-form-label">Search</label>
            <div class="col-sm-8">
              <input type="text" class="form-control" id="inputPassword2"  placeholder="Search" value="@ViewBag.CurrentSearch" name="search">
            </div>
            <button type="submit"  class="btn btn-warning col-sm-2 col-form-label">Search</button>
          </div>
        </form>
   </div>
    <br />
    <hr />
    <br />


    <!--******************************************-->
<div class="container-fluid">

@*<p>
    <a asp-action="Create">Create New</a>
</p>*@

     <!-- container -->
    <div class="container-fluid">
           <div class="row">
               <!--cat -->
         <div class="col-sm">
                <div style="text-align: center; margin-top: 25px; padding: 20px; padding-bottom: 40px;">
                    @*<h3>@Stage_Books.languages.Resource.Categories</h3>*@
                    <div class="list-group">
                      <div class="p-3 mb-2 bg-secondary text-white">Topic</div>
                    </div>
                     @if(!Model.Any())
                        {
                            <div class="alert alert-danger" role="alert">
                                No Data !
                            </div>
                        }
                        else
                        {
                        @foreach (var item in Model)
                       {
                           <a href="#" class="list-group-item list-group-item-action">
                               @item.Topic
                           </a>
                           }
                        }
                <br />
                   	<a class="nav-link text-info" href="../Home/gototopic">More Topics ..<span class="sr-only">(current)</span></a>
                    <hr>
                <div class="list-group">
                        <div class="p-3 mb-2 bg-secondary text-white">
                            @Stage_Books.languages.Resource.Authors
                        </div>
                        @if(!Model.Any())
                        {
                            <div class="alert alert-danger" role="alert">
                                No Data !
                            </div>
                        }
                        else
                        {
                      
                          @foreach (var item in Model)
                          {
                           <a href="#" class="list-group-item list-group-item-action">
                               @item.Author.Name
                           </a>      
                          }
                        }
                    </div>
                    <a class="nav-link text-info" href="../Home/gotoauthors">More @Stage_Books.languages.Resource.Authors ..<span class="sr-only">(current)</span></a>
                    <hr>
                    <div class="list-group">
                        <div class="p-3 mb-2 bg-secondary text-white">
                            @Stage_Books.languages.Resource.Categories
                        </div>
                        @if(!Model.Any())
                        {
                            <div class="alert alert-danger" role="alert">
                                No Data !
                            </div>
                        }
                        else
                        {
                        @foreach (var item in Model)
                          {
                           <a href="#" class="list-group-item list-group-item-action">
                               @item.Category
                           </a>
                          }
                         }
                    </div>
                    	<a class="nav-link text-info" href="../Home/gotocat">More @Stage_Books.languages.Resource.Categories ..<span class="sr-only">(current)</span></a>
                    <hr />
               <div class="list-group">
                            <div class="p-3 mb-2 bg-secondary text-white">
                              @Stage_Books.languages.Resource.Books_Language
                            </div>
                    <a class="list-group-item list-group-item-action" asp-area="" asp-controller="Home" asp-action="Searchbyenglish">@Stage_Books.languages.Resource.English</a>
                    <a class="list-group-item list-group-item-action" asp-area="" asp-controller="Home" asp-action="Searchbyrabic">@Stage_Books.languages.Resource.Arabic</a>
                    <a class="list-group-item list-group-item-action" asp-area="" asp-controller="Home" asp-action="Searchbyfrench">@Stage_Books.languages.Resource.French</a>
                    <a class="list-group-item list-group-item-action" asp-area="" asp-controller="Home" asp-action="Searchbyspanish">@Stage_Books.languages.Resource.Spanich</a>
                    <a class="list-group-item list-group-item-action" asp-area="" asp-controller="Home" asp-action="Searchbygerman">@Stage_Books.languages.Resource.German</a>
                    <a class="list-group-item list-group-item-action" asp-area="" asp-controller="Home" asp-action="Searchbyhindi">@Stage_Books.languages.Resource.Hindi</a>

                     </div>
                        <button class="btn btn-outline-primary my-2 my-sm-0" type="submit" hidden>Read More ...</button>
                        <hr>
                    </div>
            </div>
            <!-- main container -->
            <div class="col-8">

       <!-- meddil nav -->
           <div class="container ">
    	  </div>
       <!-- end meddil nav -->
       

         <div class="card text-center" >
                    <div class="card-header" style="background-color:white">
                           <img class="" width="150" height="150" src="~/img/ads.jpg" alt="Card image cap">
                            <hr />
                            <p class="card-text">Ads</p>
                    </div>
                    <div class="card-body">
                    </div>
              </div>
                <br />
                 <div class="container">
                    <div class="row" style="">
                   
                        @if(!Model.Any())
                        {
                            <div class="alert alert-danger" role="alert">
                                No Data !
                            </div>
                        }
                        else
                        {
                      
                        @foreach (var item in Model)
                       {
                            <div  class="card" style="width:auto; margin:0px auto;border:2px solid gray; border-radius:6px;background-color:#eeeeee">
                                <div class="mt-sm-3" style="margin:0px auto">
                                      <img class="" src="@item.ImageURL" alt="Card image cap" width="150" height="200" style="border-radius:5px">
                                </div>
                                    <div class="card-body">
                                        <h5 class="card-title" style="text-align:center;background-color:#eeeeee">@item.Name</h5>
                                    </div>
                                    <ul class="list-group list-group-flush">
                                        <li class="list-group" style="text-align:center;background-color:#eeeeee">@item.Author.Name</li>
                                       @* <li class="list-group-item" style="text-align:center;background-color:#eeeeee">@item.Language</li>*@
                                       @* <li class="list-group" style="text-align:center;background-color:#eeeeee">@item.Topic</li>*@
                                    </ul>
                                    <div class="card-body">
                                        
                                        <a asp-controller="books" asp-action="Book_Details" asp-route-id="@item.ID" class="btn btn-danger" style="width:100%;border-radius:9px">Details</a><br><hr>
                                       
                                       <a href="#" class="btn btn-success">Save</a>
                                        <a href="#" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">Fav</a>
                                        <a asp-controller="books" asp-action="Book_Details" asp-route-id="@item.ID" class=" btn btn-warning">Intro</a>
                                         <a href="#" class="btn btn-info" data-toggle="modal" data-target="#exampleModal">Index</a>
                                       <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                          <div class="modal-dialog">
                                            <div class="modal-content">
                                              <div class="modal-header">
                                                <h5 class="modal-title" id="exampleModalLabel">Book Index</h5>
                                                 <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                   <span aria-hidden="true">&times;</span>
                                                 </button>
                                                </div>
                                                 <div class="modal-body">...</div>
                                                <div class="modal-footer">
                                                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                                  <button type="button" class="btn btn-primary">Save changes</button>
                                                </div>
                                              </div>
                                            </div>
                                         </div>
                                    </div>
                                 </div>
                                <hr />
                           }
                       }

                        </div>

                    </div>
                    <br />
                     
                     <!-- paging control for navigation to the previous page, next page, etc -->
                    @Html.PagedListPager(Model.ToPagedList(), page => Url.Action("Index", new { page = page }),
                        new X.PagedList.Mvc.Core.Common.PagedListRenderOptions
                        {
                            DisplayItemSliceAndTotal = true,
                            ContainerDivClasses = new[] { "navigation" },
                            LiElementClasses = new[] { "page-item" },
                            PageClasses = new[] { "page-link" },
                       })
            </div>
            <!-- Ads -->
            <div class="col-sm">
                <div style="text-align: center; margin-top: 25px; padding: 20px; padding-bottom: 40px;">
                   
                    <div class="card" style="width: 12rem; ">

                        <div class="card-body">
                            <img class="card-img-top" src="~/img/ads.jpg" alt="Card image cap">
                            <hr />
                            <p class="card-text">Ads</p>
                        </div>
                    </div>
                    <hr>
                    <div class="card" style="width: 12rem;">

                        <div class="card-body">
                            <img class="card-img-top" src="~/img/ads.jpg" alt="Card image cap">
                            <hr />
                            <p class="card-text">Ads</p>
                        </div>
                    </div>

                    <hr>
                    <div class="card" style="width: 12rem; ">

                        <div class="card-body">
                            <img class="card-img-top" src="~/img/ads.jpg" alt="Card image cap">
                            <hr />
                            <p class="card-text">Ads</p>                        </div>
                    </div>
                    <hr>
                    <div class="card" style="width: 12rem; ">

                        <div class="card-body">
                            <img class="card-img-top" src="~/img/ads.jpg" alt="Card image cap">
                            <hr />
                            <p class="card-text">Ads</p>                        </div>
                    </div>
                    <hr>
                    <div class="card" style="width: 12rem;">

                        <div class="card-body">
                            <img class="card-img-top" src="~/img/ads.jpg" alt="Card image cap">
                            <hr />
                            <p class="card-text">Ads</p>
                        </div>
                      </div>
                    <hr>
                </div>
            </div>
        </div>
    </div>
         

              @section Scripts{
                <script>
                    $(document).ready(function () {
                        $('ul.pagination > li.disabled > a').addClass('page-link');
                    });
                </script>
              }
    <!-- -->
    <!-- -->
    <!-- Optional JavaScript; choose one of the two! -->
    <!-- Option 6: Bootstrap Bundle with Popper -->
    <script src="~/js/js.js"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

</body>

</html>           