
@******************************************@
@model Stage_Books.Models.AllNewsPapers


@{
	Layout = "~/Views/Shared/_AdminLayout.cshtml";
	ViewData["Title"] = "Delete";
}

<div class="row">
	<div class="col-md-2"></div>
	<div class="col-md-10">
		<br />
		<br />
		<br />
		<br />
		<h2 style="text-align:center"> حذف تخفة / انتيكة</h2>
		<br />
		<hr />
		<br />
		<div class="container">
			<table class="table">
				<tbody>
					<tr>

						<th scope="row">@Html.DisplayNameFor(model => model.Name)</th>
						<td>@Html.DisplayFor(model => model.Name)</td>
					</tr>
					<tr>
						<th scope="row">@Html.DisplayNameFor(model => model.owner)</th>
						<td>@Html.DisplayFor(model => model.owner)</td>
					</tr>
					<tr>
						<th scope="row">@Html.DisplayFor(model => model.Country)</th>
						<td>@Html.DisplayNameFor(model => model.Country)</td>
					</tr>
					<tr>
						<th scope="row">@Html.DisplayNameFor(model => model.newspaperdate)</th>
						<td>@Html.DisplayFor(model => model.newspaperdate)</td>
					</tr>
					<tr>
						<th scope="row">@Html.DisplayNameFor(model => model.desc_info)</th>
						<td>@Html.DisplayFor(model => model.desc_info)</td>
					</tr>
					<tr>
						<th scope="row">@Html.DisplayNameFor(model => model.lang)</th>
						<td>@Html.DisplayFor(model => model.lang)</td>
					</tr>
					<tr>
						<th scope="row">@Html.DisplayNameFor(model => model.type)</th>
						<td>@Html.DisplayFor(model => model.type)</td>
					</tr>
					<tr>
						<th scope="row">@Html.DisplayNameFor(model => model.firstpubdate)</th>
						<td>@Html.DisplayFor(model => model.firstpubdate)</td>
					</tr>
										<tr>
						<th scope="row">@Html.DisplayNameFor(model => model.category)</th>
						<td>@Html.DisplayFor(model => model.category)</td>
					</tr>
					<tr>
						<th scope="row">@Html.DisplayNameFor(model => model.logo)</th>
						<td><img style="width:200px; height:200px;margin-left:20px" src="@Html.DisplayFor(book =>book.logo)" />
					</td>
					</tr>

				</tbody>
			</table>
			<br />
			<hr />
			<br />
		</div>
		<div class="container">
			    <form asp-action="Delete">
                    <input type="hidden" asp-for="Nid" />
                    <input type="submit" value="Delete" class="btn btn-danger" /> |
                    <a asp-action="Index">Back to List</a>
                </form>
		</div>
		<br />
		<hr />
		<br />
	</div>
</div>



