@model Stage_Books.Models.AllNewsPapers

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>AllNewsPapers</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.owner)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.owner)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.logo)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.logo)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.newspaperdate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.newspaperdate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.firstpubdate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.firstpubdate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.category)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.category)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.lang)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.lang)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.desc_info)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.desc_info)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.type)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.type)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.note)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.note)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Nid">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
