
@******************************************@
@model Stage_Books.Models.OrderViewModel

@{
	Layout = "~/Views/Shared/_AdminLayout.cshtml";
	ViewData["Title"] = "Delete";
}

<div class="row">
	<div class="col-md-2"></div>
	<div class="col-md-10">
		<br />
		<br />
		<br />
		<br />
		<h2 style="text-align:center"> حذف امر شراء</h2>
		<br />
		<hr />
		<br />
		<div class="container">
			<table class="table">
				<tbody>
					<tr>

						<th scope="row">@Html.DisplayNameFor(model => model.Name)</th>
						<td>@Html.DisplayFor(model => model.Name)</td>
					</tr>
					<tr>
						<th scope="row">@Html.DisplayNameFor(model => model.Whatsapp_phone)</th>
						<td>@Html.DisplayFor(model => model.Whatsapp_phone)</td>
					</tr>
					<tr>
						<td>@Html.DisplayNameFor(model => model.Other_way_Contact)</td>
						<th scope="row">@Html.DisplayFor(model => model.Other_way_Contact)</th>
					</tr>
					<tr>
						<th scope="row">@Html.DisplayNameFor(model => model.Book_name)</th>
						<td>@Html.DisplayFor(model => model.Book_name)</td>
					</tr>
					<tr>
						<th scope="row">@Html.DisplayNameFor(model => model.Address)</th>
						<td>@Html.DisplayFor(model => model.Address)</td>
					</tr>
					<tr>
						<th scope="row">@Html.DisplayNameFor(model => model.Book.ID)</th>
						<td>@Html.DisplayFor(model => model.Book.ID)</td>
					</tr>
					<tr>
						<th scope="row">@Html.DisplayNameFor(model => model.Book.Name)</th>
						<td>@Html.DisplayFor(model => model.Book.Name)</td>
					</tr>


				</tbody>
			</table>
			<br />
			<hr />
			<br />
		</div>
		<div class="container">
			<form asp-action="Delete">
				<input type="hidden" asp-for="Id" />
				<input type="submit" value="Delete" class="btn btn-default" /> |
				<a asp-action="Index">Back to List</a>
			</form>
		</div>
		<br />
		<hr />
		<br />
	</div>
</div>