
@******************************************@
@model Stage_Books.Models.OrderViewModel

@{
	Layout = "~/Views/Shared/_AdminLayout.cshtml";
	ViewData["Title"] = "Delete";
}

<div class="row">
	<div class="col-md-2"></div>
	<div class="col-md-10">
		<br />
		<br />
		<br />
		<br />
		<h2 style="text-align:center">تفاصيل امر شراء</h2>
		<br />
		<hr />
		<br />
		<div class="container">
			<table class="table">
				<tbody>
					<tr>

						<th scope="row">@Html.DisplayNameFor(model => model.Name)</th>
						<td>@Html.DisplayFor(model => model.Name)</td>
					</tr>
					<tr>
						<th scope="row">@Html.DisplayNameFor(model => model.Whatsapp_phone)</th>
						<td>@Html.DisplayFor(model => model.Whatsapp_phone)</td>
					</tr>
					<tr>
						<td>@Html.DisplayNameFor(model => model.Other_way_Contact)</td>
						<th scope="row">@Html.DisplayFor(model => model.Other_way_Contact)</th>
						
					</tr>
					<tr>
						<th scope="row">@Html.DisplayNameFor(model => model.Book_name)</th>
						<td>@Html.DisplayFor(model => model.Book_name)</td>
					</tr>
					
					<tr>
						<td>@Html.DisplayNameFor(model => model.Address)</td>
						<th scope="row">@Html.DisplayFor(model => model.Address)</th>
						
					</tr>
					<tr>
						<th scope="row">@Html.DisplayNameFor(model => model.Book)</th>
						<td>@Html.DisplayFor(model => model.Book.Name)</td>
					</tr>
				</tbody>
			</table>
			<br />
			<hr />
			<br />
		</div>
		<div class="container">
			<a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
			<a asp-action="Index">Back to List</a>
		</div>
		<br />
		<hr />
		<br />
	</div>
</div>