
@******************************************@
@model Stage_Books.Models.Issuancepaper

@{
	Layout = "~/Views/Shared/_AdminLayout.cshtml";
	ViewData["Title"] = "Delete";
}

<div class="row">
	<div class="col-md-2"></div>
	<div class="col-md-10">
		<br />
		<br />
		<br />
		<br />
		<h2 style="text-align:center"> حذف </h2>
		<br />
		<hr />
		<br />
		<div class="container">
			<table class="table">
				<tbody>
					<tr>

						<th scope="row">@Html.DisplayNameFor(model => model.Pages)</th>
						<td>@Html.DisplayFor(model => model.Pages)</td>
					</tr>
					<tr>
						<th scope="row">@Html.DisplayNameFor(model => model.Pid)</th>
						<td>@Html.DisplayFor(model => model.Pid)</td>
					</tr>

					<tr>
						<th scope="row">@Html.DisplayNameFor(model => model.note)</th>
						<td>@Html.DisplayFor(model => model.note)</td>
					</tr>
				</tbody>
			</table>
			<br />
			<hr />
			<br />
		</div>
		<div class="container">
			    <a asp-action="Edit" asp-route-id="@Model.ppid">Edit</a> |
                <a asp-action="Index">Back to List</a>
		</div>
		<br />
		<hr />
		<br />
	</div>
</div>