
@******************************************@
@model Stage_Books.Models.magazinepages
@{
	Layout = "~/Views/Shared/_AdminLayout.cshtml";
	ViewData["Title"] = "Delete";
}

<div class="row">
	<div class="col-md-2"></div>
	<div class="col-md-10">
		<br />
		<br />
		<br />
		<br />
		<h2 style="text-align:center"> حذف مجلة</h2>
		<br />
		<hr />
		<br />
		<div class="container">
			<table class="table">
				<tbody>
					<tr>

						<th scope="row">@Html.DisplayNameFor(model => model.pageNum)</th>
						<td>@Html.DisplayFor(model => model.pageNum)</td>
					</tr>
					<tr>
						<th scope="row">@Html.DisplayNameFor(model => model.page)</th>
						<td>@Html.DisplayFor(model => model.page)</td>
					</tr>
					<tr>
						<td>@Html.DisplayNameFor(model => model.magazincopys)</td>
						<th scope="row">@Html.DisplayFor(model => model.magazincopys)</th>
					</tr>
					<tr>
						<th scope="row">@Html.DisplayNameFor(model => model.magazincopys.Id)</th>
						<td>@Html.DisplayFor(model => model.magazincopys.Id)</td>
					</tr>
				</tbody>
			</table>
			<br />
			<hr />
			<br />
		</div>
		<div class="container">
			    <form asp-action="Delete">
                            <input type="hidden" asp-for="Id" />
							<input type="submit" value="Delete" class="btn btn-default" /> |
							<a asp-action="Index">Back to List</a>
                </form>
		</div>
		<br />
		<hr />
		<br />
	</div>
</div>



