
@**********************************@
@model IEnumerable<Stage_Books.Models.magazines>
@inject SignInManager<ApplicationUser> signInManager;
@using X.PagedList.Mvc.Core.Common;
@using X.PagedList.Web.Common;
@using X.PagedList;
@using X.PagedList.Mvc.Core; 
@using Microsoft.AspNetCore.Builder
@using Microsoft.AspNetCore.Localization
@using Microsoft.Extensions.Options
@using Microsoft.AspNetCore.Http.Features
@using Microsoft.AspNetCore.Mvc.Localization
@using Stage_Books.Models.Account
@using System.Security.Claims

@inject IViewLocalizer localizer
@inject IOptions<RequestLocalizationOptions> locoption
@{
	var requestculture = Context.Features.Get<IRequestCultureFeature>();
	var culitems = locoption.Value.SupportedUICultures.Select(c => new SelectListItem
			{
				Value = c.Name,
				Text = c.NativeName
			}).ToList();
	var returnurl = string.IsNullOrEmpty(Context.Request.Path) ? "~/" : $"~{Context.Request.Path.Value}";
}

@{
    ViewData["Title"] = "Index";
}
<head >
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <title>S T A G E</title>
    <meta name="viewport" content="width=device-width, initial-scale=6">
    <meta name="descrption" content="Best website to Find any Books">
    <!-- Bootstrap CSS -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Cairo&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
   <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">
	<link href="~/css/style.css" rel="stylesheet">
	<link href="~/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
	<link href="~/css/Footersite.css" rel="stylesheet" type="text/css" />
</head>
@*oncontextmenu="return false;"*@
<body  style="font-family:Cairo,Roboto">
	<!--main nav-->
  	<div class="container-fluid" style="background-color:#333333">
		<nav class="navbar navbar-expand-lg navbar-light " style="background-color:#333333;color:#ff7236;">
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
					aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<img src="~/img/stage_logo1.png" alt="language" width="30" height="30" style="margin-right: 10px;">
			<a class="navbar-brand" href="#" style="color:#ff7236;">S T A G E</a>
			<div class="collapse navbar-collapse" id="navbarSupportedContent">
				<ul class="navbar-nav mr-auto">
					<li class="nav-item active">
						<a class="nav-link" style="color:white;" asp-area="" asp-controller="Home" asp-action="Index">@Stage_Books.languages.Resource.Home <span class="sr-only">(current)</span></a>
					</li>
					<li class="nav-item active">
						<a class="nav-link" style="color:white;" asp-area="" asp-controller="Contactmsgs" asp-action="Create">@Stage_Books.languages.Resource.Contact<span class="sr-only">(current)</span></a>
					</li>
					<li class="nav-item active">
						<a class="nav-link" style="color:white;" asp-area="" asp-controller="publicpages" asp-action="policy">@Stage_Books.languages.Resource.Policy<span class="sr-only">(current)</span></a>
					</li>
					<li class="nav-item dropdown">
						<a class="nav-link dropdown-toggle" style="color:white;" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown"
						   aria-haspopup="true" aria-expanded="false">
							@Stage_Books.languages.Resource.About
						</a>
						<div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
							<a class="dropdown-item" asp-area="" asp-controller="publicpages" asp-action="about_stage">@Stage_Books.languages.Resource.About_Stage</a>

							<a class="dropdown-item" asp-area="" asp-controller="publicpages" asp-action="service">@Stage_Books.languages.Resource.Services</a>
							<a class="dropdown-item" asp-area="" asp-controller="Help" asp-action="Help">@Stage_Books.languages.Resource.Help</a>
							<div class="dropdown-menu" aria-labelledby="navbarDropdown">

								<div class="dropdown-divider"></div>
								<a class="dropdown-item" href="#"></a>
							</div>
						</div>
					</li>
					<li class="nav-item dropdown">
						<a class="nav-link dropdown-toggle" style="color:white;" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown"
						   aria-haspopup="true" aria-expanded="false">
							Books & Authors
						</a>
						<div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
							<a class="dropdown-item" asp-area="" asp-controller="publicpages" asp-action="about_stage">eBooks</a>
							<a class="dropdown-item" asp-area="" asp-controller="Home" asp-action="gotoauthors">@Stage_Books.languages.Resource.Authors</a>
							<div class="dropdown-menu" aria-labelledby="navbarDropdown">
								<div class="dropdown-divider"></div>
								<a class="dropdown-item" href="#"></a>
							</div>
						</div>
					</li>

						<li class="nav-item dropdown">
						<a class="nav-link dropdown-toggle" href="#" style="color:white;" id="navbarDropdownMenuLink" data-toggle="dropdown"
						   aria-haspopup="true" aria-expanded="false">
							Other
						</a>
						<div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
							<a class="nav-link" asp-area="" asp-controller="Encs" asp-action="index">@Stage_Books.languages.Resource.Encyclopedia</a>
							
							<a class="nav-link" asp-area="" asp-controller="Scriptpapers" asp-action="Index">Manuscripts</a>
							<a class="nav-link" asp-area="" asp-controller="paperssearchers" asp-action="Index">Researcher Papers</a>
							<div class="dropdown-menu" aria-labelledby="navbarDropdown">

								<div class="dropdown-divider"></div>
								<a class="dropdown-item" href="#"></a>
							</div>
						</div>
					</li>
					<li class="nav-item dropdown">
						<a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown"
						   aria-haspopup="true" aria-expanded="false" style="color:white">
						   <i class="bi bi-translate mr-2"></i>Language</a>
						<div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink" title="@localizer["Request culture provider:"] @requestculture?.Provider?.GetType().Name">

                            <form id="selectlanguage" asp-controller="Home" asp-action="setlang" asp-route-returnurl="@returnurl" method="post">
                                                       
                              <select class="form-control form-control-sm" name="culture"
                                      onchange="this.form.submit();" asp-for="@requestculture.RequestCulture.UICulture.Name"
                                       asp-items="culitems">
                           
                      
                               </select>
                                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" href="#"></a>
                            </div>
                            </form>
                            </div>
					</li>
					<li class="nav-item active">
						<a class="nav-link" style="color:white;" asp-area="" asp-controller="Help" asp-action="Help">@Stage_Books.languages.Resource.Help<span class="sr-only">(current)</span></a>
					</li>
					<li class="nav-item active">
						<a class="nav-link" style="color:white;" asp-area="" asp-controller="OrderViewModels" asp-action="Create"><i style="color:#ff7236" class="bi bi-cart-check mr-2"></i>Order<span class="sr-only">(current)</span></a>
					</li>
				</ul>

			</div>

			@if (signInManager.IsSignedIn(User) && User.IsInRole("Admin"))
			{
				<a asp-action="Index" asp-controller="Books" class="btn btn-danger nav-link">DASHBOARD</a>
			}

			@if (signInManager.IsSignedIn(User))
			{
				<form method="post" asp-action="Logout" asp-controller="Account" class="form-inline">
					<button type="submit" class="btn btn-outline-primary my-2 my-sm-0 mr-3">Logout</button>
				</form>
				<h5>@User.Identity.Name</h5>
			}
			else
			{
				<a style="color:white;outline-color:#ff7236;" class="btn btn-outline-warning my-2 my-sm-0" asp-action="Register" asp-controller="Account">	@Stage_Books.languages.Resource.New_Account	</a>
				<a style="color:white;outline-color:#ff7236;" class="btn btn-outline-warning my-2 my-sm-0" asp-action="Login" asp-controller="Account">@Stage_Books.languages.Resource.Login</a>
			}

			@{
				string id = User.FindFirst(ClaimTypes.NameIdentifier)?.Value;
				if (id != null)
				{
					<a asp-action="SaveBook" asp-controller="Home" asp-route-id="@id">
						<img src="../img/unkown.png" alt="User" width="25" height="25" style="border:1px solid white;border-radius:50%">
					</a>
				}
			}
		    </nav>
  </div>
<br />
<br />
<div class="container">
<div class="row">
<div class="col-3">
</div>
<div class="col-6">
	<h2 style="text-align:center"> موسوعة المجلات </h2>
</div>

<div class="col-3">

</div>
</div>
</div>
<hr />

<div class="container">
<div class="row">
<div class="col-5">
</div>
<div class="col-3">
	<a class="btn btn-primary" asp-controller="Home" asp-action="Index">الرئيسية</a> |
	<a class="btn btn-success" asp-controller="AllNewsPapers" asp-action="Index">عرض الكل</a>
</div>

<div class="col-4">

</div>
</div>
</div>
 <!-- Start: Search Section -->
        <section class="search-filters mt-5 mb-5">
            <div class="container">
                <div class="filter-box">
                    @using (Html.BeginForm("Search","magazines",FormMethod.Post))
                         {
							 <div class="row">
                        <div class="col-md-10 col-sm-6">
                            <div class="form-group">
                                 <div class="" style="margin:0 auto" >
                                     <div class="class="col-6">
                                          <input style="" type="text" name="searchname" class="form-control" />              
                                                    
                                      </div> 
                                  </div>
                             </div>
                        </div>

                         <div class="col-md-2 col-sm-6">
                            <div class="form-group">
                                <input style="color:white;background-color:#ff7236;" class="form-control" type="submit" value="Search">
                                
                            </div>
                        </div>
						</div>
                     }
                </div>
            </div>
        </section>
<!-- End: Search Section -->
<hr />
<br />
<div class="container">
<div class="row">
	<div class="col-2"></div>
	<div class="col-8">

@foreach (var item in Model) {
<div class="row" >
			
<div class="card" style="width: 20rem;">
	<div class="card" >
       <img class="card-img-top" src="@Html.DisplayFor(modelItem => item.logo)" alt="@Html.DisplayFor(modelItem => item.Name)">
  </div>
  <br>
   <br>
      <a style="background-color:#ff7236;color:white;" asp-action="Details" asp-route-id="@item.Id" class="btn">@*@Stage_Books.languages.Resource.Read_More*@ المزيد </a>
	  <br>
      <a style="background-color:yellow;color:#333333;" asp-controller="magazinecopes" asp-action="Index" asp-route-id="@item.Id" class="btn">@*@Stage_Books.languages.Resource.Read_More*@ الاصدارات </a>
</div>

<div class="card" style="width: 24rem;">

	  <div class="card-body">
    <h5 style="text-align:right" class="card-title"> جريدة : @Html.DisplayFor(modelItem => item.Name)</h5>
    <p style="text-align:right" class="card-text"> اللغة : @Html.DisplayFor(modelItem => item.lang)</p>
	<p style="text-align:right" class="card-text"> تصنيف : @Html.DisplayFor(modelItem => item.category)</p>
	<p style="text-align:right" class="card-text"> دولة : @Html.DisplayFor(modelItem => item.Country)</p>
	<p style="text-align:right" class="card-text">المؤسس :@Html.DisplayFor(modelItem => item.owner)</p>
	<p style="text-align:right" class="card-text">النوع : @Html.DisplayFor(modelItem => item.startdate)</p>
    <p style="text-align:right" class="card-text">@Html.DisplayFor(modelItem => item.firstpubdate)</p>
	<p style="text-align:right" class="card-text">@Html.DisplayFor(modelItem => item.desc_info)</p>
	@*<p style="text-align:right" class="card-text">@Html.DisplayFor(modelItem => item.Language)</p>*@
  </div>
</div>

</div>
<br />


@*<video src="@Html.DisplayFor(modelItem => item.pathdocFile)" controls></video>
*@               

}

	</div>
	<div class="col-2"></div>
</div>
</div>
<br />
<br />
<br />
<br />


    <script src="js/js.js"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
            integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"></script>

        
            </body>
